body#tinymce.wp-editor {
	color: #222;
	font-size: 16px;
	font-family: Avenir, "Helvetica neue", Helvetica, YuGothic, "Yu Gothic", "Hiragino Sans", "ヒラギノ角ゴシック", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
	letter-spacing: 0.1em;
	line-height: 1.7;
}

body#tinymce.wp-editor ul,
body#tinymce.wp-editor ol,
body#tinymce.wp-editor dl,
body#tinymce.wp-editor blockquote,
body#tinymce.wp-editor figure,
body#tinymce.wp-editor hr,
body#tinymce.wp-editor pre,
body#tinymce.wp-editor table,
body#tinymce.wp-editor iframe,
body#tinymce.wp-editor video {
	margin-top: 1.5em;
}

body#tinymce.wp-editor ul:first-child,
body#tinymce.wp-editor ol:first-child,
body#tinymce.wp-editor dl:first-child,
body#tinymce.wp-editor blockquote:first-child,
body#tinymce.wp-editor figure:first-child,
body#tinymce.wp-editor hr:first-child,
body#tinymce.wp-editor pre:first-child,
body#tinymce.wp-editor table:first-child,
body#tinymce.wp-editor iframe:first-child,
body#tinymce.wp-editor video:first-child {
	margin-top: 0;
}

body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2 {
	margin: 5em 0 1em;
	font-size: 1.5em;
}

body#tinymce.wp-editor h3 {
	margin: 4.5em 0 1em;
	font-size: 1.4em;
}

body#tinymce.wp-editor h4 {
	margin: 4em 0 1em;
	font-size: 1.3em;
}

body#tinymce.wp-editor h5 {
	margin: 3.5em 0 1em;
	font-size: 1.2em;
}

body#tinymce.wp-editor h6 {
	margin: 3em 0 1em;
	font-size: 1.2em;
}

body#tinymce.wp-editor h1 + h2,
body#tinymce.wp-editor h2 + h3,
body#tinymce.wp-editor h3 + h4,
body#tinymce.wp-editor h4 + h5,
body#tinymce.wp-editor h5 + h6 {
	margin-top: 2em;
}

body#tinymce.wp-editor blockquote {
	position: relative;
	padding: 15px;
	background-color: #fafafa;
	border-left: 2px solid #bdc3c7;
	color: #939393;
	font-size: .95em;
}

body#tinymce.wp-editor blockquote:after {
	position: absolute;
	content: "”";
	top: 7.5px;
	right: 7.5px;
	font-family: sans-serif;
	font-size: 5em;
	line-height: 1;
	opacity: .1;
}

body#tinymce.wp-editor blockquote a {
	text-decoration: underline;
}

body#tinymce.wp-editor blockquote cite {
	font-size: .9em;
}

body#tinymce.wp-editor blockquote cite::before {
	content: "-";
	margin-right: 5px;
}

body#tinymce.wp-editor table {
	width: 100%;
	border-top: 1px solid #bdc3c7;
	border-left: 1px solid #bdc3c7;
	border-collapse: collapse;
	word-break: break-word;
}

body#tinymce.wp-editor tr {
	border-bottom: 1px solid #bdc3c7;
}

body#tinymce.wp-editor td,
body#tinymce.wp-editor th {
	padding: .5em;
	border-right: 1px solid #bdc3c7;
}

body#tinymce.wp-editor th {
	background-color: #fafafa;
}

body#tinymce.wp-editor ul li,
body#tinymce.wp-editor ol li {
	padding: .1em 0;
}

body#tinymce.wp-editor ul ul,
body#tinymce.wp-editor ul ol,
body#tinymce.wp-editor ol ul,
body#tinymce.wp-editor ol ol {
	margin-top: 0;
}

body#tinymce.wp-editor ul ul li:last-child,
body#tinymce.wp-editor ul ol li:last-child,
body#tinymce.wp-editor ol ul li:last-child,
body#tinymce.wp-editor ol ol li:last-child {
	padding: .1em 0 0;
}

body#tinymce.wp-editor dt {
	margin: 1em 0 .1em;
}

body#tinymce.wp-editor dd {
	margin: 0 0 .2em 1em;
}

body#tinymce.wp-editor figcaption {
	padding: .1em .5em .5em;
	color: #939393;
	font-size: .9em;
	font-style: italic;
}

body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4,
body#tinymce.wp-editor h5,
body#tinymce.wp-editor h6 {
	margin-top: 1em;
}

