body#tinymce.wp-editor {
	color: #222;
	font-size: 16px;
	font-family: Avenir, "Helvetica neue", Helvetica, YuGothic, "Yu Gothic", "Hiragino Sans", "ヒラギノ角ゴシック", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
	letter-spacing: 0.1em;
	line-height: 1.7;
}

body#tinymce.wp-editor * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body#tinymce.wp-editor *:before,
body#tinymce.wp-editor *:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body#tinymce.wp-editor html {
	font-size: 16px;
}

body#tinymce.wp-editor body {
	color: #222;
	font-family: Avenir, "Helvetica neue", Helvetica, YuGothic, "Yu Gothic", "Hiragino Sans", "ヒラギノ角ゴシック", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
	letter-spacing: 0.1em;
	line-height: 1.7;
	word-wrap: break-word;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body#tinymce.wp-editor html,
body#tinymce.wp-editor body,
body#tinymce.wp-editor p,
body#tinymce.wp-editor ol,
body#tinymce.wp-editor ul,
body#tinymce.wp-editor li,
body#tinymce.wp-editor dl,
body#tinymce.wp-editor dt,
body#tinymce.wp-editor dd,
body#tinymce.wp-editor table,
body#tinymce.wp-editor blockquote,
body#tinymce.wp-editor figure,
body#tinymce.wp-editor fieldset,
body#tinymce.wp-editor legend,
body#tinymce.wp-editor textarea,
body#tinymce.wp-editor pre,
body#tinymce.wp-editor iframe,
body#tinymce.wp-editor hr,
body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4,
body#tinymce.wp-editor h5,
body#tinymce.wp-editor h6 {
	margin: 0;
	padding: 0;
}

body#tinymce.wp-editor code,
body#tinymce.wp-editor kbd,
body#tinymce.wp-editor pre,
body#tinymce.wp-editor samp {
	font-family: Consolas, Monaco, monospace;
	line-height: 1;
}

body#tinymce.wp-editor input,
body#tinymce.wp-editor textarea,
body#tinymce.wp-editor optgroup,
body#tinymce.wp-editor select,
body#tinymce.wp-editor button {
	font-family: inherit;
	line-height: 1.4;
}

body#tinymce.wp-editor img,
body#tinymce.wp-editor amp-img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4,
body#tinymce.wp-editor h5,
body#tinymce.wp-editor h6 {
	font-weight: normal;
	margin-bottom: .5em;
}

body#tinymce.wp-editor p {
	margin: 1.5em 0 0;
}

body#tinymce.wp-editor p:first-child {
	margin-top: 0;
}

body#tinymce.wp-editor ul,
body#tinymce.wp-editor ol {
	margin-left: 1.8em;
}

body#tinymce.wp-editor dt {
	font-weight: bold;
}

body#tinymce.wp-editor dd {
	margin-left: 0;
}

body#tinymce.wp-editor blockquote *:last-child {
	margin-bottom: 0;
}

body#tinymce.wp-editor code {
	background-color: #fafafa;
	border-radius: 3px;
	padding: 2px 4px;
	font-size: .9em;
	letter-spacing: normal;
}

body#tinymce.wp-editor pre {
	background-color: #fafafa;
	padding: 15px;
	overflow: auto;
	font-size: .9em;
	line-height: 1.4;
}

body#tinymce.wp-editor pre code {
	background-color: transparent;
	border: none;
	color: inherit;
	padding: 0;
	line-height: 1.4;
	word-wrap: normal;
	white-space: pre;
}

body#tinymce.wp-editor a {
	color: #2980B9;
	-webkit-transition: all .3s;
	transition: all .3s;
}

body#tinymce.wp-editor a:hover {
	color: #409ad5;
}

body#tinymce.wp-editor label,
body#tinymce.wp-editor input[type="reset"],
body#tinymce.wp-editor input[type="submit"],
body#tinymce.wp-editor button,
body#tinymce.wp-editor input[type="button"] {
	cursor: pointer;
}

body#tinymce.wp-editor input,
body#tinymce.wp-editor textarea,
body#tinymce.wp-editor select,
body#tinymce.wp-editor button {
	background-color: #fff;
	border: 1px solid #bdc3c7;
	padding: .5em;
	font-size: 1em;
	border-radius: 2px;
}

body#tinymce.wp-editor input[type="text"],
body#tinymce.wp-editor input[type="search"],
body#tinymce.wp-editor input[type="url"],
body#tinymce.wp-editor input[type="email"],
body#tinymce.wp-editor textarea,
body#tinymce.wp-editor select {
	display: block;
	width: 100%;
	-webkit-appearance: none;
}

body#tinymce.wp-editor button,
body#tinymce.wp-editor input[type="reset"],
body#tinymce.wp-editor input[type="submit"],
body#tinymce.wp-editor input[type="button"] {
	padding: .5em 2em;
	background-color: #292b2c;
	border: 1px solid #292b2c;
	color: #fff;
	-webkit-transition: all .3s;
	transition: all .3s;
}

body#tinymce.wp-editor button:hover,
body#tinymce.wp-editor input[type="reset"]:hover,
body#tinymce.wp-editor input[type="submit"]:hover,
body#tinymce.wp-editor input[type="button"]:hover {
	background-color: #fff;
	color: #222;
}

body#tinymce.wp-editor ul,
body#tinymce.wp-editor ol,
body#tinymce.wp-editor dl,
body#tinymce.wp-editor blockquote,
body#tinymce.wp-editor figure,
body#tinymce.wp-editor hr,
body#tinymce.wp-editor pre,
body#tinymce.wp-editor table,
body#tinymce.wp-editor iframe,
body#tinymce.wp-editor video {
	margin-top: 1.5em;
}

body#tinymce.wp-editor ul:first-child,
body#tinymce.wp-editor ol:first-child,
body#tinymce.wp-editor dl:first-child,
body#tinymce.wp-editor blockquote:first-child,
body#tinymce.wp-editor figure:first-child,
body#tinymce.wp-editor hr:first-child,
body#tinymce.wp-editor pre:first-child,
body#tinymce.wp-editor table:first-child,
body#tinymce.wp-editor iframe:first-child,
body#tinymce.wp-editor video:first-child {
	margin-top: 0;
}

body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2 {
	margin: 5em 0 1em;
	font-size: 1.5em;
}

body#tinymce.wp-editor h3 {
	margin: 4.5em 0 1em;
	font-size: 1.4em;
}

body#tinymce.wp-editor h4 {
	margin: 4em 0 1em;
	font-size: 1.3em;
}

body#tinymce.wp-editor h5 {
	margin: 3.5em 0 1em;
	font-size: 1.2em;
}

body#tinymce.wp-editor h6 {
	margin: 3em 0 1em;
	font-size: 1.2em;
}

body#tinymce.wp-editor h1 + h2,
body#tinymce.wp-editor h2 + h3,
body#tinymce.wp-editor h3 + h4,
body#tinymce.wp-editor h4 + h5,
body#tinymce.wp-editor h5 + h6 {
	margin-top: 2em;
}

body#tinymce.wp-editor blockquote {
	position: relative;
	padding: 15px;
	background-color: #fafafa;
	border-left: 2px solid #bdc3c7;
	color: #939393;
	font-size: .95em;
}

body#tinymce.wp-editor blockquote:after {
	position: absolute;
	content: "”";
	top: 7.5px;
	right: 7.5px;
	font-family: sans-serif;
	font-size: 5em;
	line-height: 1;
	opacity: .1;
}

body#tinymce.wp-editor blockquote a {
	text-decoration: underline;
}

body#tinymce.wp-editor blockquote cite {
	font-size: .9em;
}

body#tinymce.wp-editor blockquote cite::before {
	content: "-";
	margin-right: 5px;
}

body#tinymce.wp-editor table {
	width: 100%;
	border-top: 1px solid #bdc3c7;
	border-left: 1px solid #bdc3c7;
	border-collapse: collapse;
	word-break: break-word;
}

body#tinymce.wp-editor tr {
	border-bottom: 1px solid #bdc3c7;
}

body#tinymce.wp-editor td,
body#tinymce.wp-editor th {
	padding: .5em;
	border-right: 1px solid #bdc3c7;
}

body#tinymce.wp-editor th {
	background-color: #fafafa;
}

body#tinymce.wp-editor ul li,
body#tinymce.wp-editor ol li {
	padding: .1em 0;
}

body#tinymce.wp-editor ul ul,
body#tinymce.wp-editor ul ol,
body#tinymce.wp-editor ol ul,
body#tinymce.wp-editor ol ol {
	margin-top: 0;
}

body#tinymce.wp-editor ul ul li:last-child,
body#tinymce.wp-editor ul ol li:last-child,
body#tinymce.wp-editor ol ul li:last-child,
body#tinymce.wp-editor ol ol li:last-child {
	padding: .1em 0 0;
}

body#tinymce.wp-editor dt {
	margin: 1em 0 .1em;
}

body#tinymce.wp-editor dd {
	margin: 0 0 .2em 1em;
}

body#tinymce.wp-editor figcaption {
	padding: .1em .5em .5em;
	color: #939393;
	font-size: .9em;
	font-style: italic;
}

body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4,
body#tinymce.wp-editor h5,
body#tinymce.wp-editor h6 {
	margin-top: 1em;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.clear-headline {
	padding: 0;
	margin: 0;
	background: none;
	border: none;
	font-weight: normal;
}

.clear-headline:before,
.clear-headline:after {
	content: "";
	display: none;
}

.container {
	position: relative;
	max-width: 1220px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}

.container--full {
	max-width: 100%;
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.row--slide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: -15px;
	margin-left: -15px;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}

.row--slide::-webkit-scrollbar {
	height: 4px;
}

.row--slide::-webkit-scrollbar-track {
	border-radius: 4px;
	background-color: #fafafa;
}

.row--slide::-webkit-scrollbar-thumb {
	background-color: #bdc3c7;
	border-radius: 4px;
}

.row--no-gutter {
	margin-right: 0;
	margin-left: 0;
}

.row--reverse {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-flow: row-reverse;
	flex-flow: row-reverse;
}

.col,
[class*="col_"] {
	padding: 15px;
	width: 100%;
	max-width: 100%;
}

.col__1 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.col__2 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.col__3 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.33%;
	flex: 0 0 33.33%;
	max-width: 33.33%;
}

.col__4 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.col__slide {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 30%;
	flex: 0 0 30%;
	max-width: 30%;
	min-width: 240px;
	padding: 15px 7.5px;
}

.col__slide:first-child {
	margin-left: -5px;
}

.col__slide:last-child {
	margin-right: -5px;
}

.col--no-gutter {
	padding: 0;
}

.card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 100%;
	color: #222;
	background-color: #fff;
	text-decoration: none;
	-webkit-box-shadow: 0 1px 3px rgba(189, 195, 199, 0.7);
	box-shadow: 0 1px 3px rgba(189, 195, 199, 0.7);
	-webkit-transition: all .4s;
	transition: all .4s;
}

.card:hover {
	color: #222;
	-webkit-transform: translateY(-0.3em);
	transform: translateY(-0.3em);
}

.card__img {
	border-bottom: 1px solid #fafafa;
}

.card__img img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.card__text {
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 15px;
}

.card__title {
	font-size: .9em;
	line-height: 1.5;
}

.card__dscr {
	color: #939393;
	font-size: .9em;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.card__tag {
	list-style: none;
	margin: 0;
	padding: 0;
}

.card__tag-item {
	display: inline-block;
	background-color: #e9ecef;
	margin: 0 .2em .2em 0;
	padding: .2em .6em;
	color: #939393;
	font-size: .9em;
	vertical-align: top;
}

.section {
	padding-top: 30px;
	padding-bottom: 30px;
}

.section--large {
	padding-top: 60px;
	padding-bottom: 60px;
}

.section--full,
.section--screen {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
}

.section--screen {
	min-height: 640px;
	height: 100vh;
}

.section--gray {
	background-color: #fafafa;
}

.section__headline {
	position: relative;
	margin-top: -1rem;
	margin-bottom: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
}

.section__headline:after {
	content: "";
	position: absolute;
	height: 1px;
	width: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: rgba(41, 43, 44, 0.7);
}

.section__title,
.section__sub-title {
	display: block;
}

.section__title {
	font-size: 2rem;
	margin: 0;
}

.section__sub-title {
	color: #939393;
	font-size: 1rem;
}

.list-style--none {
	padding: 0;
	margin: 0;
	list-style: none;
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.flex-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex--c-c {
	height: 100%;
	width: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.flex--a-start {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.flex--a-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.flex--a-end {
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.flex--j-start {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.flex--j-end {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.flex--j-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.flex--j-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.flex--j-around {
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.ratio {
	display: block;
	width: 100%;
	position: relative;
}

.ratio:before {
	content: "";
	display: block;
}

.ratio__4-3:before {
	padding-top: 75%;
}

.ratio__16-9:before {
	padding-top: 56%;
}

.ratio__3-1:before {
	padding-top: 33%;
}

.ratio__2-1:before {
	padding-top: 50%;
}

.ratio__1-1:before {
	padding-top: 100%;
}

.ratio__item {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.ratio__image {
	width: 100%;
	height: 100%;
}

.ratio__image img,
.ratio__image amp-img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.ys-blog-card {
	padding: 1em;
	margin-top: 2.5em;
	margin-bottom: 2.5em;
	background-color: #fff;
	border: 1px solid #bdc3c7;
	font-size: .9em;
	border-radius: 2px;
	max-width: 600px;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.ys-blog-card:before,
.ys-blog-card:after {
	content: "";
	display: table;
}

.ys-blog-card:after {
	clear: both;
}

.ys-blog-card {
	zoom: 1;
}

.ys-blog-card a {
	text-decoration: none;
}

.ys-blog-card .ys-blog-card__link:not(:hover) {
	color: inherit;
}

.ys-blog-card .ys-blog-card__main {
	text-decoration: none;
}

.ys-blog-card .ys-blog-card__thumb {
	width: 80px;
	margin: 0 1em 0 0;
	float: left;
}

.ys-blog-card .ys-blog-card__text {
	overflow: hidden;
}

.ys-blog-card .ys-blog-card__title,
.ys-blog-card .ys-blog-card__dscr {
	max-height: 3.5em;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.ys-blog-card .ys-blog-card__title {
	font-weight: bold;
}

.ys-blog-card .ys-blog-card__dscr {
	max-height: 3em;
	margin: .5em 0 0;
	font-size: .7em;
}

.ys-blog-card .ys-blog-card__domain {
	margin: 1em 0 0;
	font-size: 10px;
	clear: both;
}

.ys-blog-card .ys-blog-card__domain img,
.ys-blog-card .ys-blog-card__domain amp-img {
	display: inline-block;
	width: 10px;
	height: auto;
	margin: 0 5px 0 0;
}

.aligncenter,
div.aligncenter,
.alignleft,
.alignright {
	display: block;
}

.aligncenter,
div.aligncenter {
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	max-width: 100%;
	text-align: center;
	font-size: .9em;
	padding: .1em .5em .5em;
}

.wp-caption img {
	margin: 0;
	padding: 0;
}

.wp-caption-text {
	padding: .1em .5em .5em;
	color: #939393;
	font-size: .9em;
	font-style: italic;
}

.sticky {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

.bypostauthor {
	display: block;
}

.screen-reader-text {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: 0;
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
}

.screen-reader-text:focus {
	display: block;
	height: auto;
	width: auto;
	top: 5px;
	left: 5px;
	padding: 1em;
	margin: 0;
	background-color: #f1f1f1;
	clip: auto;
	z-index: 100000;
}

.gallery {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 1.5em -1px;
}

.gallery-item {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	padding: 1px;
	margin: 0;
}

.gallery-item a:hover {
	opacity: .8;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33.33333%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.66667%;
}

.gallery-columns-7 .gallery-item {
	width: 14.28571%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.11111%;
}

.gallery-caption {
	text-align: center;
}

.ad__container {
	padding: 15px 0;
}

.ad__label {
	font-size: .8em;
	color: #939393;
	text-align: center;
	margin-bottom: 5px;
}

.ad__content {
	text-align: center;
}

.ys-box {
	padding: 1em;
	margin-top: 2.5em;
	margin-bottom: 2.5em;
	background-color: #fff;
	border: 1px solid #bdc3c7;
	font-size: .9em;
}

.ys-box:before,
.ys-box:after {
	content: "";
	display: table;
}

.ys-box:after {
	clear: both;
}

.ys-box {
	zoom: 1;
}

.ys-box:first-child {
	margin-top: 0;
}

.ys-box:last-child {
	margin-bottom: 0;
}

.ys-box-img {
	width: 75px;
	height: auto;
	margin: 0 1em 0 0;
	float: left;
}

.ys-normal {
	font-size: 1rem;
}

.ys-smaller {
	font-size: .8em;
}

.ys-larger {
	font-size: 1.2em;
}

.ys-text-center {
	text-align: center;
}

.ys-text-left {
	text-align: left;
}

.ys-text-right {
	text-align: right;
}

[class*="ys-btn"] {
	display: inline-block;
	padding: .25em 2em .2em;
	text-decoration: none;
	-webkit-transition: all .3s;
	transition: all .3s;
}

[class*="ys-btn"]:hover {
	text-decoration: none;
}

.ys-btn {
	background-color: #fff;
	border: 1px solid #292b2c;
	color: #222;
}

.ys-btn:hover {
	color: #fff;
	background-color: #292b2c;
}

.ys-btn--full {
	display: block;
	width: 100%;
	margin: 2em auto 0;
	text-align: center;
}

.ys-btn--large {
	padding: 1em 2em;
}

.embed__container {
	max-width: 560px;
	margin-top: 1.5em;
}

.embed__item {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.embed__item iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.ys-table--fixed {
	table-layout: fixed;
}

.ys-table--scroll {
	display: block;
	margin-top: 1.5em;
	overflow: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 600px) {

.row--reverse-tb {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-flow: row-reverse;
	flex-flow: row-reverse;
}

.col__1--tb {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.col__2--tb {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.col__3--tb {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.33%;
	flex: 0 0 33.33%;
	max-width: 33.33%;
}

.col__4--tb {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.section {
	padding-top: 60px;
	padding-bottom: 60px;
}

.section--large {
	padding-top: 120px;
	padding-bottom: 120px;
}

.flex--tb {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.flex-wrap--tb {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.alignleft {
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
}

.alignright {
	float: right;
	margin-left: 1em;
	margin-bottom: 1em;
}

.ad__double {
	margin-right: -5px;
	margin-left: -5px;
}

.ad__left,
.ad__right {
	padding: 0 5px;
	text-align: center;
}

}

@media screen and (min-width: 960px) {

.row--reverse-pc {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-flow: row-reverse;
	flex-flow: row-reverse;
}

.col__1--pc {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.col__2--pc {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.col__3--pc {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.33%;
	flex: 0 0 33.33%;
	max-width: 33.33%;
}

.col__4--pc {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.section--screen {
	min-height: 768px;
}

.flex--pc {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.flex-wrap--pc {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.ys-table--scroll {
	display: table;
	white-space: inherit;
}

}

@media screen and (min-width: 1200px) {

.row--reverse-lg {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-flow: row-reverse;
	flex-flow: row-reverse;
}

.col__1--lg {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.col__2--lg {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.col__3--lg {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.33%;
	flex: 0 0 33.33%;
	max-width: 33.33%;
}

.col__4--lg {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

}

