/*
  ラッパー
 */

/*
  余白取得
 */

* {
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: inherit;
}

html {
	font-size: 16px;
}

body {
	color: #222;
	font-family: Avenir, "Helvetica neue", Helvetica, YuGothic, "Yu Gothic", "Hiragino Sans", "ヒラギノ角ゴシック", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
	letter-spacing: 0.1em;
	line-height: 1.6;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
table,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

code,
kbd,
pre,
samp {
	font-family: Consolas, Monaco, monospace;
	line-height: 1;
}

input,
textarea,
optgroup,
select,
button {
	line-height: 1.2;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin-bottom: 25px;
}

p {
	margin-bottom: 1.5em;
}

p:last-child {
	margin-bottom: 0;
}

ul,
ol {
	margin-left: 25px;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
}

blockquote :last-child {
	margin-bottom: 0;
}

code {
	background-color: #fafafa;
	border-radius: 2px;
	padding: 2px 6px;
}

pre {
	border: 1px solid #bdc3c7;
	padding: 15px;
	overflow: auto;
}

pre code {
	background-color: transparent;
	border: none;
	color: inherit;
	padding: 0;
}

a {
	color: #2980B9;
	transition: color .3s,background-color .3s;
}

a:hover {
	color: #409ad5;
}

label {
	cursor: pointer;
}

.wrap {
	position: relative;
	max-width: 1160px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}

.wrap--wide {
	max-width: 1230px;
}

.wrap--full {
	max-width: 100%;
}

.row,
.row--slide {
	display: -ms-flexbox;
	display: flex;
}

.row {
	max-width: 100%;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.row--slide {
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}

.row--slide::-webkit-scrollbar {
	height: 4px;
}

.row--slide::-webkit-scrollbar-track {
	border-radius: 4px;
	background-color: #fafafa;
}

.row--slide::-webkit-scrollbar-thumb {
	background-color: #bdc3c7;
	border-radius: 4px;
}

.row--align-top {
	-ms-flex-align: top;
	align-items: top;
}

.row--align-center {
	-ms-flex-align: center;
	align-items: center;
}

.row--align-bottom {
	-ms-flex-align: bottom;
	align-items: bottom;
}

.row--justify-start {
	-ms-flex-pack: start;
	justify-content: start;
}

.row--justify-end {
	-ms-flex-pack: end;
	justify-content: end;
}

.row--justify-center {
	-ms-flex-pack: center;
	justify-content: center;
}

.row--justify-between {
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.row--justify-around {
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.col,
[class^="col_"],
[class*=" col_"] {
	padding: 15px;
	max-width: 100%;
}

.col__2--sp {
	width: 50%;
}

.col__3--sp {
	width: 33.33%;
}

.col__4--sp {
	width: 25%;
}

.col__slide {
	min-width: 300px;
}

.section {
	padding-top: 30px;
	padding-bottom: 30px;
}

.section--last {
	padding-top: 30px;
}

.section--large {
	padding-top: 60px;
	padding-bottom: 60px;
}

.section--full {
	min-height: 640px;
	height: 100vh;
}

.section--gray {
	background-color: #fafafa;
}

.section__headline {
	position: relative;
	margin-top: -1rem;
	margin-bottom: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
}

.section__headline:after {
	content: "";
	position: absolute;
	height: 1px;
	width: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: rgba(41, 43, 44, 0.7);
}

.section__title,
.section__sub-title {
	display: block;
}

.section__title {
	font-size: 2rem;
	margin: 0;
}

.section__sub-title {
	color: #939393;
	font-size: 1rem;
}

.header {
	padding: 15px 0;
}

.header__title {
	margin: 0;
	padding: 0;
}

.header__title img,
.header__title amp-img {
	max-width: 300px;
}

.header__title a {
	color: inherit;
	text-decoration: none;
}

.header__dscr {
	font-size: .9em;
}

@media screen and (min-width: 600px) {

.col__2--tb {
	width: 50%;
}

.col__3--tb {
	width: 33.33%;
}

.col__4--tb {
	width: 25%;
}

.section {
	padding-top: 60px;
	padding-bottom: 60px;
}

.section--last {
	padding-top: 60px;
}

.section--large {
	padding-top: 120px;
	padding-bottom: 120px;
}

}

@media screen and (min-width: 960px) {

.row--slide::-webkit-scrollbar {
	height: 0;
}

.col__2--pc {
	width: 50%;
}

.col__3--pc {
	width: 33.33%;
}

.col__4--pc {
	width: 25%;
}

.col__slide {
	min-width: auto;
}

.section--full {
	min-height: 768px;
}

}

@media screen and (min-width: 1281px) {

.col__2--lg {
	width: 50%;
}

.col__3--lg {
	width: 33.33%;
}

.col__4--lg {
	width: 25%;
}

}

