@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

a:hover,
input[type="submit"]:hover {
  cursor: pointer; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

b,
strong {
  font-weight: bold; }

small {
  font-size: .8em; }

ol,
ul {
  list-style: none; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  max-width: 100%; }

select {
  text-transform: none; }

button {
  overflow: visible; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default;
  opacity: .5; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button,
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-outer-spin-button,
input[type="week"]::-webkit-inner-spin-button,
input[type="week"]::-webkit-outer-spin-button,
input[type="month"]::-webkit-inner-spin-button,
input[type="month"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  min-width: inherit; }

fieldset > :last-child {
  margin-bottom: 0; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

optgroup {
  font-weight: bold; }

* {
  box-sizing: border-box; }

html,
body {
  max-width: 100%;
  font-size: 16px;
  font-family: Avenir, "Helvetica neue", Helvetica, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  line-height: 1.5;
  color: #2c3e50;
  letter-spacing: 0.1em;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-appearance: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

body {
  background-color: #fefefe; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

a {
  color: #0068b7; }
  a:hover {
    color: #0085ea; }

img {
  max-width: 100%;
  height: auto; }

.wrap {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem; }

.site-content {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.content-area {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: -1rem;
  margin-left: -1rem;
  background-color: #fff; }

@media screen and (min-width: 960px) {
  .wrap {
    max-width: 1264px;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-right: auto;
    margin-left: auto; }
  .site-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .content-area {
    padding: 2rem;
    margin-right: 0;
    margin-left: 0;
    overflow: hidden; }
  .sidebar {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 352px;
    -ms-flex: 0 0 352px;
    flex: 0 0 352px;
    padding: 2rem;
    overflow: hidden; } }

.color-site-header {
  background-color: #fafafa;
  color: #2c3e50; }

.site-header {
  padding: 1rem 0; }

.site-header-wrap {
  position: relative; }

.site-title {
  font-size: 2rem; }
  .site-title a {
    color: #2c3e50; }
  .site-title img,
  .site-title amp-img {
    max-width: 300px; }

.site-description {
  font-size: .8rem; }

.site-header-menu {
  width: 0px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 3rem 0 1rem;
  background-color: #2c3e50;
  -webkit-transition: width .3s;
  transition: width .3s;
  z-index: 3;
  overflow-y: scroll; }

.amp-slider .menu-toggle-label span, #menu-toggle:checked ~ .menu-toggle-label span {
  background-color: #fff; }

.amp-slider .menu-toggle-label .middle, #menu-toggle:checked ~ .menu-toggle-label .middle {
  background: rgba(255, 255, 255, 0); }

.amp-slider .menu-toggle-label .top, #menu-toggle:checked ~ .menu-toggle-label .top {
  -webkit-transform: rotate(-45deg) translateX(-2px);
  transform: rotate(-45deg) translateX(-2px); }

.amp-slider .menu-toggle-label .bottom, #menu-toggle:checked ~ .menu-toggle-label .bottom {
  -webkit-transform: rotate(45deg) translateX(-3px);
  transform: rotate(45deg) translateX(-3px); }

.amp-slider {
  padding: 3rem 0 1rem;
  background-color: #2c3e50; }
  .amp-slider .menu-toggle-label {
    margin: .5rem 0 0; }

.gloval-menu li {
  font-size: .8rem; }

.gloval-menu > li a {
  display: block;
  padding: 1rem 1rem;
  color: #fff; }

.gloval-menu > li ul a {
  padding: 1rem 1rem 1rem 2rem; }

.menu-toggle-label {
  position: absolute;
  top: .5rem;
  right: 1rem;
  padding-top: 6px;
  z-index: 99; }
  .menu-toggle-label span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #2c3e50;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  .menu-toggle-label .top {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); }
  .menu-toggle-label .bottom {
    -webkit-transform: translateY(6px);
    transform: translateY(6px); }

.menu-toggle-cover {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: 0; }

#menu-toggle:checked ~ .site-header-menu {
  width: 70%;
  max-width: 500px; }

#menu-toggle:checked ~ .menu-toggle-cover {
  display: block;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 2; }

@media screen and (min-width: 960px) {
  .menu-toggle-label,
  .menu-toggle {
    display: none; }
  .site-header-menu {
    display: block;
    width: auto;
    max-width: auto;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: auto;
    padding: 0;
    background-color: transparent;
    overflow-y: hidden; }
  .main-navigation {
    display: table;
    height: 100%; }
  .menu-global-container {
    display: table-cell;
    vertical-align: middle; }
  .gloval-menu {
    font-size: 0; }
    .gloval-menu > li {
      position: relative;
      display: inline-block;
      margin-right: 1rem; }
      .gloval-menu > li:last-child {
        margin-right: 0; }
      .gloval-menu > li a {
        display: inline;
        padding: .5rem 0;
        color: #888;
        border-bottom: 1px solid transparent;
        -webkit-transition: border 0.3s;
        transition: border 0.3s; }
      .gloval-menu > li > ul {
        margin: 0.5rem 0 0;
        position: absolute;
        left: 0;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s; }
      .gloval-menu > li:hover a {
        border-bottom: 1px solid #888; }
      .gloval-menu > li:hover.menu-item-has-children a {
        border-bottom: 1px solid transparent; }
      .gloval-menu > li:hover > ul {
        visibility: visible;
        opacity: 1; } }

.breadcrumb {
  margin: 0 0 1rem; }
  .breadcrumb * {
    vertical-align: middle; }
  .breadcrumb ol {
    font-size: 0;
    list-style: none; }
    .breadcrumb ol li {
      display: inline-block;
      font-size: .8rem;
      line-height: 1; }
      .breadcrumb ol li a {
        color: #888; }
      .breadcrumb ol li::after {
        content: '»';
        display: inline;
        margin: 0 .3rem 0 .3rem;
        color: #888; }

.site-main > article {
  margin-bottom: 3rem; }
  .site-main > article:before, .site-main > article:after {
    content: "";
    display: table; }
  .site-main > article:after {
    clear: both; }
  .site-main > article {
    zoom: 1; }

.single .site-main > article,
.page .site-main > article {
  margin-bottom: 2rem; }

.sticky-post {
  font-size: .8rem; }

.entry-title {
  font-size: 2rem; }
  .entry-title a {
    color: #2c3e50; }

.entry-date-icon::before {
  content: "\f073";
  width: 1.28571429em;
  display: inline-block;
  margin: 0 0.2rem 0 0;
  font-family: FontAwesome;
  text-align: center;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.entry-updated-icon {
  margin-left: .5rem; }
  .entry-updated-icon::before {
    content: "\f040";
    width: 1.28571429em;
    display: inline-block;
    margin: 0 0.2rem 0 0;
    font-family: FontAwesome;
    text-align: center;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.amp .entry-date::before {
  content: "公開：";
  font-size: .8rem; }

.amp .entry-updated::before {
  content: "更新：";
  margin-left: .5rem;
  font-size: .8rem; }

.post-thumbnail {
  text-align: center;
  line-height: 1; }

.entry-meta {
  font-size: .8rem;
  color: #2c3e50; }
  .entry-meta:before, .entry-meta:after {
    content: "";
    display: table; }
  .entry-meta:after {
    clear: both; }
  .entry-meta {
    zoom: 1; }
  .entry-meta a {
    color: #2c3e50; }

.entry-meta-left {
  float: left; }

.entry-meta-right {
  float: right; }

.entry-date-container {
  font-size: .6rem;
  margin: 0 0 .5rem;
  text-align: right; }

.amp-view-info {
  padding: 1rem;
  margin: 2rem 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: .8rem;
  text-align: left;
  color: #888; }

.normal-view-link {
  display: block;
  margin: .5rem 0 0;
  font-size: .8rem; }

.sns-share {
  margin: 2rem 0 0;
  text-align: center; }

.sns-share-title {
  margin: 0 0 1rem;
  font-size: 1.2rem; }

.sns-share-button {
  font-size: 0;
  text-align: left; }
  .sns-share-button li {
    width: 49%;
    display: inline-block;
    margin-bottom: .5rem;
    border-radius: 3px;
    font-size: .8rem;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .sns-share-button li:nth-child(odd) {
      margin-right: 1%; }
    .sns-share-button li:nth-child(even) {
      margin-left: 1%; }
    .sns-share-button li a {
      display: block;
      padding: .5rem 1rem; }
  .sns-share-button .twitter a::before {
    content: "\f099";
    width: 1.28571429em;
    display: inline-block;
    margin: 0 0.5rem 0 0;
    font-family: FontAwesome;
    text-align: center;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .sns-share-button .facebook a::before {
    content: "\f09a";
    width: 1.28571429em;
    display: inline-block;
    margin: 0 0.5rem 0 0;
    font-family: FontAwesome;
    text-align: center;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .sns-share-button .google-plus a::before {
    content: "\f0d5";
    width: 1.28571429em;
    display: inline-block;
    margin: 0 0.5rem 0 0;
    font-family: FontAwesome;
    text-align: center;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .sns-share-button .hatenabookmark a::before {
    content: "B!";
    width: 1.28571429em;
    display: inline-block;
    margin: 0 .5rem 0 0;
    font-family: Verdana;
    font-weight: bold;
    letter-spacing: 0;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .sns-share-button .pocket a::before {
    content: "\f265";
    width: 1.28571429em;
    display: inline-block;
    margin: 0 0.5rem 0 0;
    font-family: FontAwesome;
    text-align: center;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .sns-share-button .line a::before {
    content: "\f075";
    width: 1.28571429em;
    display: inline-block;
    margin: 0 0.5rem 0 0;
    font-family: FontAwesome;
    text-align: center;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.entry-meta-author {
  margin: .5rem 0 0; }
  .entry-meta-author .author::before {
    content: "\f007";
    width: 1.28571429em;
    display: inline-block;
    margin: 0 0.2rem 0 0;
    font-family: FontAwesome;
    text-align: center;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.entry-meta-cat {
  margin: .5rem 0 0; }
  .entry-meta-cat::before {
    content: "\f115";
    width: 1.28571429em;
    display: inline-block;
    margin: 0 0.2rem 0 0;
    font-family: FontAwesome;
    text-align: center;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.entry-content {
  margin: 1rem 0; }

.entry-more {
  text-align: right; }

.page-links {
  text-align: center; }
  .page-links .page-text {
    padding: .2rem .5rem;
    margin-right: .5rem;
    border: 1px solid #2c3e50;
    background-color: #2c3e50;
    color: #fff; }
  .page-links a .page-text {
    background-color: transparent;
    color: #2c3e50; }

.post-password-form input[type="password"] {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: .1rem;
  font-size: .8rem;
  color: #2c3e50; }

.post-password-form input[type="submit"] {
  padding: .1rem .5rem;
  border: 1px solid #2c3e50;
  background-color: #2c3e50;
  font-size: .8rem;
  color: #fff; }

.post-navigation {
  margin: 0 0 2rem; }
  .post-navigation h2 {
    margin: 0 0 .5rem; }

.nav-previous,
.nav-next {
  margin: 0 0 .5rem; }
  .nav-previous .meta-nav,
  .nav-next .meta-nav {
    margin: 0 0 .1rem;
    color: #2c3e50; }
  .nav-previous span,
  .nav-next span {
    display: block; }

@media screen and (min-width: 600px) {
  .nav-links {
    font-size: 0; }
  .nav-previous,
  .nav-next {
    width: 50%;
    display: inline-block;
    font-size: 1rem;
    vertical-align: top; }
  .nav-previous {
    text-align: left; }
    .nav-previous .post-title {
      padding-right: .5rem; }
  .nav-next {
    text-align: right; }
    .nav-next .post-title {
      padding-left: .5rem; }
  .sns-share-button {
    font-size: 0;
    text-align: left;
    text-align: center; }
    .sns-share-button li {
      width: 30%;
      margin-left: auto;
      text-align: left; }
      .sns-share-button li:nth-child(odd) {
        margin-right: 5%; }
      .sns-share-button li:nth-child(even) {
        margin-right: 5%;
        margin-left: auto; }
      .sns-share-button li:nth-child(3n+3) {
        margin-right: 0; } }

@media screen and (min-width: 960px) {
  .site-main > article {
    margin-bottom: 4rem; } }

.page-title {
  margin: 0 0 1.5rem;
  font-size: 1.4rem; }

.taxonomy-description {
  margin: 0 0 1.5rem;
  font-size: .8rem; }
  .taxonomy-description p {
    margin: 0 0 .2rem; }

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.comment-text h1,
.comment-text h2,
.comment-text h3,
.comment-text h4,
.comment-text h5,
.comment-text h6 {
  clear: both; }

.entry-content h1,
.entry-content h2,
.comment-text h1,
.comment-text h2 {
  margin: 4rem 0 2rem;
  font-size: 1.8rem; }

.entry-content h3,
.comment-text h3 {
  margin: 3rem 0 2rem;
  font-size: 1.6rem; }

.entry-content h4,
.comment-text h4 {
  margin: 2.5rem 0 2rem;
  font-size: 1.5rem; }

.entry-content h5,
.comment-text h5 {
  margin: 2rem 0 2rem;
  font-size: 1.4rem; }

.entry-content h6,
.comment-text h6 {
  margin: 2rem 0 2rem;
  font-size: 1.2rem; }

.entry-content p,
.entry-content ul,
.entry-content ol,
.entry-content dl,
.entry-content blockquote,
.entry-content pre,
.entry-content table,
.entry-content address,
.comment-text p,
.comment-text ul,
.comment-text ol,
.comment-text dl,
.comment-text blockquote,
.comment-text pre,
.comment-text table,
.comment-text address {
  margin: 0 0 2rem; }
  .entry-content p:last-child,
  .entry-content ul:last-child,
  .entry-content ol:last-child,
  .entry-content dl:last-child,
  .entry-content blockquote:last-child,
  .entry-content pre:last-child,
  .entry-content table:last-child,
  .entry-content address:last-child,
  .comment-text p:last-child,
  .comment-text ul:last-child,
  .comment-text ol:last-child,
  .comment-text dl:last-child,
  .comment-text blockquote:last-child,
  .comment-text pre:last-child,
  .comment-text table:last-child,
  .comment-text address:last-child {
    margin: 0; }

.entry-content strong, .entry-content b,
.comment-text strong,
.comment-text b {
  font-weight: bold; }

.entry-content del,
.entry-content strike,
.comment-text del,
.comment-text strike {
  text-decoration: line-through; }

.entry-content em,
.comment-text em {
  font-style: italic; }

.entry-content u,
.entry-content ins,
.comment-text u,
.comment-text ins {
  text-decoration: underline; }

.entry-content figure,
.entry-content img,
.comment-text figure,
.comment-text img {
  max-width: 100%;
  margin-bottom: .5rem; }

.entry-content ul,
.comment-text ul {
  list-style: disc; }

.entry-content ol,
.comment-text ol {
  list-style: decimal; }

.entry-content ul,
.entry-content ol,
.comment-text ul,
.comment-text ol {
  padding-left: 2rem; }
  .entry-content ul li,
  .entry-content ol li,
  .comment-text ul li,
  .comment-text ol li {
    padding: .2em 0; }
  .entry-content ul ul,
  .entry-content ul ol,
  .entry-content ol ul,
  .entry-content ol ol,
  .comment-text ul ul,
  .comment-text ul ol,
  .comment-text ol ul,
  .comment-text ol ol {
    margin: 0; }
    .entry-content ul ul li:last-child,
    .entry-content ul ol li:last-child,
    .entry-content ol ul li:last-child,
    .entry-content ol ol li:last-child,
    .comment-text ul ul li:last-child,
    .comment-text ul ol li:last-child,
    .comment-text ol ul li:last-child,
    .comment-text ol ol li:last-child {
      padding: .2em 0 0; }

.entry-content dt,
.comment-text dt {
  font-weight: bold;
  margin: 1rem 0 .2rem; }

.entry-content dd,
.comment-text dd {
  margin: 0 0 .2rem 1rem; }

.entry-content dl dt:first-child,
.comment-text dl dt:first-child {
  margin: 0 0 .2rem; }

.entry-content code,
.entry-content pre,
.entry-content kbd,
.entry-content var,
.entry-content tt,
.comment-text code,
.comment-text pre,
.comment-text kbd,
.comment-text var,
.comment-text tt {
  font-family: Consolas, "Courier New", Courier, Monaco, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", monospace; }

.entry-content pre,
.comment-text pre {
  width: 100%;
  background: #fbfbfb;
  padding: 10px 20px;
  line-height: 1.2;
  overflow: auto; }

.entry-content code,
.entry-content kbd,
.entry-content var,
.entry-content tt,
.comment-text code,
.comment-text kbd,
.comment-text var,
.comment-text tt {
  color: #2626d9;
  padding: 0 1px; }

.entry-content blockquote,
.comment-text blockquote {
  padding: 1rem;
  background-color: #fbfbfb;
  color: #888; }
  .entry-content blockquote p,
  .entry-content blockquote cite,
  .comment-text blockquote p,
  .comment-text blockquote cite {
    margin: 0 0 1rem; }
    .entry-content blockquote p:last-child,
    .entry-content blockquote cite:last-child,
    .comment-text blockquote p:last-child,
    .comment-text blockquote cite:last-child {
      margin: 0; }
  .entry-content blockquote a,
  .comment-text blockquote a {
    text-decoration: underline; }
  .entry-content blockquote cite,
  .comment-text blockquote cite {
    font-size: .8rem; }
    .entry-content blockquote cite::before,
    .comment-text blockquote cite::before {
      content: "-";
      margin-right: .2rem; }

.entry-content cite,
.entry-content cite a,
.entry-content q,
.comment-text cite,
.comment-text cite a,
.comment-text q {
  font-style: italic;
  color: #888; }

.entry-content table,
.comment-text table {
  width: 100%;
  table-layout: fixed;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc; }
  .entry-content table tr,
  .comment-text table tr {
    border-bottom: 1px solid #ccc; }
  .entry-content table td,
  .entry-content table th,
  .comment-text table td,
  .comment-text table th {
    padding: .5rem;
    border-right: 1px solid #ccc; }
  .entry-content table th,
  .comment-text table th {
    background-color: #fafafa;
    text-align: left; }

.entry-content sub,
.entry-content sup,
.comment-text sub,
.comment-text sup {
  font-size: 0.5em; }

.entry-content sub,
.comment-text sub {
  vertical-align: sub; }

.entry-content sub,
.comment-text sub {
  vertical-align: super; }

.entry-content .iframe-responsive-container,
.comment-text .iframe-responsive-container {
  max-width: 560px;
  margin: 0 0 2em; }

.entry-content .iframe-responsive,
.comment-text .iframe-responsive {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }
  .entry-content .iframe-responsive iframe,
  .comment-text .iframe-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.search-form {
  position: relative; }

.search-field,
.search-submit {
  border: 0;
  outline: 0;
  background: transparent;
  box-shadow: none;
  border-radius: 0; }

.search-field {
  width: 100%;
  background: transparent;
  border-bottom: 1px solid #2c3e50;
  background-color: transparent;
  color: #2c3e50;
  padding: .2rem 4rem .2rem .2rem; }

.search-submit {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid #2c3e50;
  background-color: #2c3e50;
  color: #fff;
  box-shadow: none;
  padding: .2rem .8rem; }

.widget {
  margin: 0 0 2rem; }
  .widget ul li,
  .widget ol li {
    margin: 0 0 .2rem; }
  .widget ul .children,
  .widget ol .children {
    padding-left: 1rem; }
  .widget table {
    width: 100%;
    table-layout: fixed; }
  .widget select {
    width: 100%;
    display: block;
    position: relative;
    background: transparent;
    border: 1px solid #ccc;
    outline: none; }

.widget-title {
  margin: 0 0 1rem;
  font-size: 1.1rem; }

.widget_calendar tbody {
  text-align: center; }

.widget_calendar #prev {
  text-align: left; }

.widget_calendar #next {
  text-align: right; }

.widget_recent_entries .post-date {
  display: block;
  font-size: .8rem; }
