@charset "UTF-8";
.color-twitter,
.color-twitter a {
  color: #2b97f0; }
  .color-twitter:hover,
  .color-twitter a:hover {
    color: #5baef3; }

.bg-twitter {
  background-color: #2b97f0; }
  .bg-twitter:hover {
    background-color: #5baef3; }
  .bg-twitter,
  .bg-twitter a {
    color: #fff; }

.color-facebook,
.color-facebook a {
  color: #3b5a9b; }
  .color-facebook:hover,
  .color-facebook a:hover {
    color: #4e71bb; }

.bg-facebook {
  background-color: #3b5a9b; }
  .bg-facebook:hover {
    background-color: #4e71bb; }
  .bg-facebook,
  .bg-facebook a {
    color: #fff; }

.color-google-plus,
.color-google-plus a {
  color: #db2814; }
  .color-google-plus:hover,
  .color-google-plus a:hover {
    color: #ed4835; }

.bg-google-plus {
  background-color: #db2814; }
  .bg-google-plus:hover {
    background-color: #ed4835; }
  .bg-google-plus,
  .bg-google-plus a {
    color: #fff; }

.color-hatenabookmark,
.color-hatenabookmark a {
  color: #007ad2; }
  .color-hatenabookmark:hover,
  .color-hatenabookmark a:hover {
    color: #0697ff; }

.bg-hatenabookmark {
  background-color: #007ad2; }
  .bg-hatenabookmark:hover {
    background-color: #0697ff; }
  .bg-hatenabookmark,
  .bg-hatenabookmark a {
    color: #fff; }

.color-rss,
.color-rss a {
  color: #fb8501; }
  .color-rss:hover,
  .color-rss a:hover {
    color: #fe9d31; }

.bg-rss {
  background-color: #fb8501; }
  .bg-rss:hover {
    background-color: #fe9d31; }
  .bg-rss,
  .bg-rss a {
    color: #fff; }

.color-feedly,
.color-feedly a {
  color: #8cba43; }
  .color-feedly:hover,
  .color-feedly a:hover {
    color: #a3c868; }

.bg-feedly {
  background-color: #8cba43; }
  .bg-feedly:hover {
    background-color: #a3c868; }
  .bg-feedly,
  .bg-feedly a {
    color: #fff; }

.color-pocket,
.color-pocket a {
  color: #ea4654; }
  .color-pocket:hover,
  .color-pocket a:hover {
    color: #ef747e; }

.bg-pocket {
  background-color: #ea4654; }
  .bg-pocket:hover {
    background-color: #ef747e; }
  .bg-pocket,
  .bg-pocket a {
    color: #fff; }

.color-instargram,
.color-instargram a {
  color: #3f729b; }
  .color-instargram:hover,
  .color-instargram a:hover {
    color: #548cb9; }

.bg-instargram {
  background-color: #3f729b; }
  .bg-instargram:hover {
    background-color: #548cb9; }
  .bg-instargram,
  .bg-instargram a {
    color: #fff; }

.color-line,
.color-line a {
  color: #2cbf13; }
  .color-line:hover,
  .color-line a:hover {
    color: #3ae81d; }

.bg-line {
  background-color: #2cbf13; }
  .bg-line:hover {
    background-color: #3ae81d; }
  .bg-line,
  .bg-line a {
    color: #fff; }

.color-tumblr,
.color-tumblr a {
  color: #35465c; }
  .color-tumblr:hover,
  .color-tumblr a:hover {
    color: #485f7c; }

.bg-tumblr {
  background-color: #35465c; }
  .bg-tumblr:hover {
    background-color: #485f7c; }
  .bg-tumblr,
  .bg-tumblr a {
    color: #fff; }

.color-youtube-play,
.color-youtube-play a {
  color: #cd201f; }
  .color-youtube-play:hover,
  .color-youtube-play a:hover {
    color: #e23e3d; }

.bg-youtube-play {
  background-color: #cd201f; }
  .bg-youtube-play:hover {
    background-color: #e23e3d; }
  .bg-youtube-play,
  .bg-youtube-play a {
    color: #fff; }

.color-vine,
.color-vine a {
  color: #00b389; }
  .color-vine:hover,
  .color-vine a:hover {
    color: #00e6b0; }

.bg-vine {
  background-color: #00b389; }
  .bg-vine:hover {
    background-color: #00e6b0; }
  .bg-vine,
  .bg-vine a {
    color: #fff; }

.color-github,
.color-github a {
  color: #4183c4; }
  .color-github:hover,
  .color-github a:hover {
    color: #689cd0; }

.bg-github {
  background-color: #4183c4; }
  .bg-github:hover {
    background-color: #689cd0; }
  .bg-github,
  .bg-github a {
    color: #fff; }

.color-pinterest,
.color-pinterest a {
  color: #cb2027; }
  .color-pinterest:hover,
  .color-pinterest a:hover {
    color: #e03e44; }

.bg-pinterest {
  background-color: #cb2027; }
  .bg-pinterest:hover {
    background-color: #e03e44; }
  .bg-pinterest,
  .bg-pinterest a {
    color: #fff; }

.color-linkedin,
.color-linkedin a {
  color: #0e76a8; }
  .color-linkedin:hover,
  .color-linkedin a:hover {
    color: #1297d7; }

.bg-linkedin {
  background-color: #0e76a8; }
  .bg-linkedin:hover {
    background-color: #1297d7; }
  .bg-linkedin,
  .bg-linkedin a {
    color: #fff; }

.aligncenter,
div.aligncenter,
.alignleft,
.alignright {
  display: block; }

.aligncenter,
div.aligncenter {
  margin-left: auto;
  margin-right: auto; }

.alignleft {
  margin-right: auto; }

.alignright {
  margin-left: auto; }

.wp-caption {
  text-align: center; }

.wp-caption img {
  margin: 0;
  padding: 0;
  border: 0 none; }

.wp-caption .wp-caption-text {
  font-size: .8rem;
  padding: .5rem; }

@media screen and (min-width: 960px) {
  .alignleft {
    float: left;
    margin: 0 1rem 1rem 0; }
  .alignright {
    float: right;
    margin: 0 0 1rem 1rem; } }

/*
.amp {
	.entry-date {
		&::before {
			content: "公開：";
			font-size: .8rem;
		}
	}
	.entry-updated {
		&::before {
			content: "更新：";
			margin-left: .5rem;
			font-size: .8rem;
		}
	}
}
*/
.entry-date-container {
  font-size: .6rem;
  margin: 0 0 .5rem;
  text-align: right; }
  .entry-date-container svg {
    height: .5rem;
    width: auto;
    margin-right: .3rem; }

.amp-view-info {
  padding: 1rem;
  margin: 2rem 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: .8rem;
  text-align: left;
  color: #888; }

.normal-view-link {
  display: block;
  margin: .5rem 0 0;
  font-size: .8rem; }

.sns-share {
  margin: 2rem 0 0;
  text-align: center; }

.sns-share-title {
  margin: 0 0 1rem;
  font-size: 1.2rem; }

.sns-share-button {
  font-size: 0;
  text-align: left; }
  .sns-share-button li {
    width: 49%;
    display: inline-block;
    margin-bottom: .5rem;
    border-radius: 3px;
    font-size: .8rem;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .sns-share-button li:nth-child(odd) {
      margin-right: 1%; }
    .sns-share-button li:nth-child(even) {
      margin-left: 1%; }
    .sns-share-button li a {
      display: block;
      padding: .5rem 1rem; }
  .sns-share-button .twitter a::before {
    content: "\f099";
    width: 1.28571429em;
    display: inline-block;
    margin: 0 0.5rem 0 0;
    font-family: FontAwesome;
    text-align: center;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .sns-share-button .facebook a::before {
    content: "\f09a";
    width: 1.28571429em;
    display: inline-block;
    margin: 0 0.5rem 0 0;
    font-family: FontAwesome;
    text-align: center;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .sns-share-button .google-plus a::before {
    content: "\f0d5";
    width: 1.28571429em;
    display: inline-block;
    margin: 0 0.5rem 0 0;
    font-family: FontAwesome;
    text-align: center;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .sns-share-button .hatenabookmark a::before {
    content: "B!";
    width: 1.28571429em;
    display: inline-block;
    margin: 0 .5rem 0 0;
    font-family: Verdana;
    font-weight: bold;
    letter-spacing: 0;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .sns-share-button .pocket a::before {
    content: "\f265";
    width: 1.28571429em;
    display: inline-block;
    margin: 0 0.5rem 0 0;
    font-family: FontAwesome;
    text-align: center;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .sns-share-button .line a::before {
    content: "\f075";
    width: 1.28571429em;
    display: inline-block;
    margin: 0 0.5rem 0 0;
    font-family: FontAwesome;
    text-align: center;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.page-links {
  text-align: center; }
  .page-links .page-text {
    padding: .2rem .5rem;
    margin-right: .5rem;
    border: 1px solid #2c3e50;
    background-color: #2c3e50;
    color: #fff; }
  .page-links a .page-text {
    background-color: transparent;
    color: #2c3e50; }

.post-password-form input[type="password"] {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: .1rem;
  font-size: .8rem;
  color: #2c3e50; }

.post-password-form input[type="submit"] {
  padding: .1rem .5rem;
  border: 1px solid #2c3e50;
  background-color: #2c3e50;
  font-size: .8rem;
  color: #fff; }

.post-navigation {
  margin: 0 0 2rem; }
  .post-navigation h2 {
    margin: 0 0 .5rem; }

.nav-previous,
.nav-next {
  margin: 0 0 .5rem; }
  .nav-previous .meta-nav,
  .nav-next .meta-nav {
    margin: 0 0 .1rem;
    color: #2c3e50; }
  .nav-previous span,
  .nav-next span {
    display: block; }

@media screen and (min-width: 600px) {
  .nav-links {
    font-size: 0; }
  .nav-previous,
  .nav-next {
    width: 50%;
    display: inline-block;
    font-size: 1rem;
    vertical-align: top; }
  .nav-previous {
    text-align: left; }
    .nav-previous .post-title {
      padding-right: .5rem; }
  .nav-next {
    text-align: right; }
    .nav-next .post-title {
      padding-left: .5rem; }
  .sns-share-button {
    font-size: 0;
    text-align: left;
    text-align: center; }
    .sns-share-button li {
      width: 30%;
      margin-left: auto;
      text-align: left; }
      .sns-share-button li:nth-child(odd) {
        margin-right: 5%; }
      .sns-share-button li:nth-child(even) {
        margin-right: 5%;
        margin-left: auto; }
      .sns-share-button li:nth-child(3n+3) {
        margin-right: 0; } }

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.comment-text h1,
.comment-text h2,
.comment-text h3,
.comment-text h4,
.comment-text h5,
.comment-text h6 {
  clear: both; }

.entry-content h1,
.entry-content h2,
.comment-text h1,
.comment-text h2 {
  margin: 4rem 0 2rem;
  font-size: 1.8rem; }

.entry-content h3,
.comment-text h3 {
  margin: 3rem 0 2rem;
  font-size: 1.6rem; }

.entry-content h4,
.comment-text h4 {
  margin: 2.5rem 0 2rem;
  font-size: 1.5rem; }

.entry-content h5,
.comment-text h5 {
  margin: 2rem 0 2rem;
  font-size: 1.4rem; }

.entry-content h6,
.comment-text h6 {
  margin: 2rem 0 2rem;
  font-size: 1.2rem; }

.entry-content p,
.entry-content ul,
.entry-content ol,
.entry-content dl,
.entry-content blockquote,
.entry-content pre,
.entry-content table,
.entry-content address,
.comment-text p,
.comment-text ul,
.comment-text ol,
.comment-text dl,
.comment-text blockquote,
.comment-text pre,
.comment-text table,
.comment-text address {
  margin: 0 0 2rem; }
  .entry-content p:last-child,
  .entry-content ul:last-child,
  .entry-content ol:last-child,
  .entry-content dl:last-child,
  .entry-content blockquote:last-child,
  .entry-content pre:last-child,
  .entry-content table:last-child,
  .entry-content address:last-child,
  .comment-text p:last-child,
  .comment-text ul:last-child,
  .comment-text ol:last-child,
  .comment-text dl:last-child,
  .comment-text blockquote:last-child,
  .comment-text pre:last-child,
  .comment-text table:last-child,
  .comment-text address:last-child {
    margin: 0; }

.entry-content strong, .entry-content b,
.comment-text strong,
.comment-text b {
  font-weight: bold; }

.entry-content del,
.entry-content strike,
.comment-text del,
.comment-text strike {
  text-decoration: line-through; }

.entry-content em,
.comment-text em {
  font-style: italic; }

.entry-content u,
.entry-content ins,
.comment-text u,
.comment-text ins {
  text-decoration: underline; }

.entry-content figure,
.entry-content img,
.comment-text figure,
.comment-text img {
  max-width: 100%;
  margin-bottom: .5rem; }

.entry-content ul,
.comment-text ul {
  list-style: disc; }

.entry-content ol,
.comment-text ol {
  list-style: decimal; }

.entry-content ul,
.entry-content ol,
.comment-text ul,
.comment-text ol {
  padding-left: 2rem; }
  .entry-content ul li,
  .entry-content ol li,
  .comment-text ul li,
  .comment-text ol li {
    padding: .2em 0; }
  .entry-content ul ul,
  .entry-content ul ol,
  .entry-content ol ul,
  .entry-content ol ol,
  .comment-text ul ul,
  .comment-text ul ol,
  .comment-text ol ul,
  .comment-text ol ol {
    margin: 0; }
    .entry-content ul ul li:last-child,
    .entry-content ul ol li:last-child,
    .entry-content ol ul li:last-child,
    .entry-content ol ol li:last-child,
    .comment-text ul ul li:last-child,
    .comment-text ul ol li:last-child,
    .comment-text ol ul li:last-child,
    .comment-text ol ol li:last-child {
      padding: .2em 0 0; }

.entry-content dt,
.comment-text dt {
  font-weight: bold;
  margin: 1rem 0 .2rem; }

.entry-content dd,
.comment-text dd {
  margin: 0 0 .2rem 1rem; }

.entry-content dl dt:first-child,
.comment-text dl dt:first-child {
  margin: 0 0 .2rem; }

.entry-content code,
.entry-content pre,
.entry-content kbd,
.entry-content var,
.entry-content tt,
.comment-text code,
.comment-text pre,
.comment-text kbd,
.comment-text var,
.comment-text tt {
  font-family: Consolas, "Courier New", Courier, Monaco, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", monospace; }

.entry-content pre,
.comment-text pre {
  width: 100%;
  background: #fbfbfb;
  padding: 10px 20px;
  line-height: 1.2;
  overflow: auto; }

.entry-content code,
.entry-content kbd,
.entry-content var,
.entry-content tt,
.comment-text code,
.comment-text kbd,
.comment-text var,
.comment-text tt {
  color: #2626d9;
  padding: 0 1px; }

.entry-content blockquote,
.comment-text blockquote {
  padding: 1rem;
  background-color: #fbfbfb;
  color: #888; }
  .entry-content blockquote p,
  .entry-content blockquote cite,
  .comment-text blockquote p,
  .comment-text blockquote cite {
    margin: 0 0 1rem; }
    .entry-content blockquote p:last-child,
    .entry-content blockquote cite:last-child,
    .comment-text blockquote p:last-child,
    .comment-text blockquote cite:last-child {
      margin: 0; }
  .entry-content blockquote a,
  .comment-text blockquote a {
    text-decoration: underline; }
  .entry-content blockquote cite,
  .comment-text blockquote cite {
    font-size: .8rem; }
    .entry-content blockquote cite::before,
    .comment-text blockquote cite::before {
      content: "-";
      margin-right: .2rem; }

.entry-content cite,
.entry-content cite a,
.entry-content q,
.comment-text cite,
.comment-text cite a,
.comment-text q {
  font-style: italic;
  color: #888; }

.entry-content table,
.comment-text table {
  width: 100%;
  table-layout: fixed;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc; }
  .entry-content table tr,
  .comment-text table tr {
    border-bottom: 1px solid #ccc; }
  .entry-content table td,
  .entry-content table th,
  .comment-text table td,
  .comment-text table th {
    padding: .5rem;
    border-right: 1px solid #ccc; }
  .entry-content table th,
  .comment-text table th {
    background-color: #fafafa;
    text-align: left; }

.entry-content sub,
.entry-content sup,
.comment-text sub,
.comment-text sup {
  font-size: 0.5em; }

.entry-content sub,
.comment-text sub {
  vertical-align: sub; }

.entry-content sub,
.comment-text sub {
  vertical-align: super; }

.entry-content .iframe-responsive-container,
.comment-text .iframe-responsive-container {
  max-width: 560px;
  margin: 0 0 2em; }

.entry-content .iframe-responsive,
.comment-text .iframe-responsive {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }
  .entry-content .iframe-responsive iframe,
  .comment-text .iframe-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.author-info {
  margin: 2rem 0 0; }

.author-avatar {
  width: 96px;
  margin: 0 auto;
  text-align: center; }
  .author-avatar img {
    border-radius: 50%; }

.author-title {
  margin: 0 0 .5rem;
  text-align: center; }
  .author-title a {
    display: block;
    font-weight: bold;
    color: #2c3e50; }

.author-bio {
  font-size: .9rem; }
  .author-bio p {
    margin: 0 0 .5rem; }

.author-sns {
  font-size: 0;
  margin: 0 0 .5rem; }
  .author-sns li {
    display: inline-block;
    margin-right: 5rem;
    font-size: 1rem;
    vertical-align: middle; }
    .author-sns li a {
      -webkit-transition: color .3s;
      transition: color .3s; }
    .author-sns li:last-child {
      margin-right: 0; }

@media screen and (min-width: 600px) {
  .author-avatar {
    margin-right: 1rem;
    float: left;
    overflow: hidden; }
  .author-title {
    text-align: left; }
  .author-description.show-avatar {
    float: left; } }

.comments-area {
  margin: 0 0 2rem; }

.comments-title,
.comment-list,
.comment-respond,
.comment-reply-title,
.logged-in-as {
  margin: 0 0 .5rem; }

.comments-title,
.comment-reply-title {
  font-size: 1.2rem; }

.comment-list .comment,
.comment-list .pingback {
  margin: 0 0 1rem; }
  .comment-list .comment .children,
  .comment-list .pingback .children {
    margin: 1rem 0 0;
    padding-left: 1rem; }

.comment-author {
  margin: 0 0 .5rem; }
  .comment-author img {
    border-radius: 50%;
    float: left;
    margin-right: 1rem; }
  .comment-author cite,
  .comment-author a {
    font-weight: bold; }

.comment-meta {
  font-size: .6rem; }
  .comment-meta a {
    font-weight: normal;
    color: #888; }

.reply {
  text-align: right; }

.comment-navigation {
  margin: 0 0 1rem;
  font-size: .8rem; }
  .comment-navigation h2 {
    margin: 0 0 .5rem;
    color: #888; }
  .comment-navigation .nav-links {
    font-size: 0; }
    .comment-navigation .nav-links > div {
      display: inline-block;
      width: 50%;
      font-size: .8rem; }
    .comment-navigation .nav-links .nav-previous {
      text-align: left; }
      .comment-navigation .nav-links .nav-previous::before {
        content: "«";
        margin-left: .5rem; }
    .comment-navigation .nav-links .nav-next {
      text-align: right; }
      .comment-navigation .nav-links .nav-next::after {
        content: "»";
        margin-right: .5rem; }

.logged-in-as {
  font-size: .8rem; }

.comment-form label {
  display: block;
  margin: 1rem 0 0; }

.comment-form textarea,
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
  width: 100%;
  padding: .5rem;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 1rem;
  color: #2c3e50; }

.comment-form input[type="submit"] {
  width: 100%;
  padding: .5rem;
  border: 1px solid #2c3e50;
  background-color: #2c3e50;
  font-size: 1rem;
  color: #fff; }

.form-submit {
  margin: 1rem 0 0; }

.required {
  font-size: .8rem;
  color: #db2814; }

.pagination {
  width: 100%;
  margin: 1rem 0;
  text-align: center; }

.pagination-title {
  margin: 0 0 .5rem; }

.pagination-list {
  font-size: 0; }
  .pagination-list li {
    width: 2rem;
    display: inline-block;
    margin-right: .5rem;
    font-size: 1rem;
    text-align: center;
    vertical-align: top; }
    .pagination-list li a,
    .pagination-list li .current {
      display: block;
      padding: .2rem 0;
      border: 1px solid #2c3e50; }
    .pagination-list li a {
      background-color: transparent;
      color: #2c3e50; }
    .pagination-list li .current {
      background-color: #2c3e50;
      color: #fff; }
    .pagination-list li .next,
    .pagination-list li .previous {
      border: none; }

.site-footer {
  padding: .5rem 0;
  background-color: #2c3e50;
  color: #fff; }

.footer-navigation {
  margin: .5rem 0 0; }

.footer-menu {
  font-size: 0;
  text-align: right; }
  .footer-menu li {
    display: inline-block;
    font-size: .8rem;
    margin-right: 1rem; }
    .footer-menu li a {
      color: #fff; }

.site-info {
  margin: .5rem 0 0;
  font-size: .9rem;
  text-align: center; }
  .site-info a {
    color: #fff; }

.footer-widget-wrapper {
  padding: 1rem 0; }

.footer-widget-left,
.footer-widget-center,
.footer-widget-right {
  margin: 0 0 1rem; }

@media screen and (min-width: 600px) {
  .footer-widget-wrapper {
    font-size: 0;
    letter-spacing: -.4em; }
  .footer-widget-left,
  .footer-widget-center,
  .footer-widget-right {
    display: inline-block;
    font-size: .9rem;
    vertical-align: top;
    letter-spacing: 0.1em; }
  .footer-widget-left {
    width: 100%; }
  .footer-widget-center,
  .footer-widget-right {
    width: 49%; }
  .footer-widget-center {
    margin: 0 1% 1rem 0; }
  .footer-widget-right {
    margin: 0 0 1rem 1%; } }

@media screen and (min-width: 960px) {
  .footer-widget-left,
  .footer-widget-center,
  .footer-widget-right {
    width: 30%; }
  .footer-widget-left,
  .footer-widget-center {
    margin: 0 5% 1rem 0; }
  .footer-widget-right {
    margin: 0 0 1rem 0; } }
