@charset "UTF-8";
/*!
*
*		設定ページ用CSS
*
*/
#poststuff .stuffbox > h3,
#poststuff h2,
#poststuff h3.hndle {
  border-bottom: 1px solid #eee;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
