/*
  container
 */

/*
  row
 */

/*
  col
 */

/*
  余白取得
 */

.ys-normal {
	font-size: 1rem;
}

.ys-smaller {
	font-size: .8em;
}

.ys-larger {
	font-size: 1.2em;
}

.ys-text-center {
	text-align: center;
}

.ys-text-left {
	text-align: left;
}

.ys-text-right {
	text-align: right;
}

.ys-btn {
	display: inline-block;
	padding: .25em 2em;
	background-color: #fff;
	border: 1px solid #292b2c;
	color: #222;
	text-decoration: none;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.ys-btn:hover {
	color: #fff;
	background-color: #292b2c;
	text-decoration: none;
}

.ys-btn--full {
	display: block;
	text-align: center;
}

.ys-btn-large {
	padding: 1em 2em;
}

.responsive__container {
	max-width: 560px;
	margin-top: 1.5em;
}

.responsive__item {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.responsive__item iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.ad__container {
	padding: 15px 0;
}

.ad__label {
	font-size: .8em;
	color: #939393;
	text-align: center;
	margin-bottom: 5px;
}

.subscribe__title {
	text-align: center;
	margin-bottom: 5px;
}

.subscribe__container {
	position: relative;
	padding: 3em 1em;
	z-index: 1;
	overflow: hidden;
}

.subscribe__container:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
}

.subscribe__image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: -1;
	-o-object-fit: contain;
	object-fit: contain;
}

.subscribe__buttons {
	position: relative;
	z-index: 2;
}

.subscribe__item {
	width: 50%;
	padding: 0 5px 5px;
	text-align: center;
}

.subscribe__link {
	display: block;
	padding: 5px 10px;
	text-align: center;
}

.entry__footer-author-title {
	font-size: 1em;
}

.entry-related__section-title {
	margin: 0;
	font-size: 1.2em;
}

.entry-related__title {
	font-size: 1em;
	margin: 0;
}

.pagination {
	margin-top: 1em;
	color: #939393;
}

.pagination a {
	color: inherit;
	text-decoration: none;
}

.pagination__item {
	height: 40px;
	width: 40px;
	background-color: #e9ecef;
	margin-right: 5px;
	text-decoration: none;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.pagination__item:last-child {
	margin-right: 0;
}

.pagination__item:hover {
	background-color: #292b2c;
	color: #fff;
}

.pagination__item--current {
	background-color: #292b2c;
	color: #fff;
}

.page-links {
	margin-top: 1em;
}

.page-links a {
	margin-right: 5px;
}

.page-links a:last-child {
	margin-right: 0;
}

.page-links > .page-links__item {
	background-color: #292b2c;
	color: #fff;
}

.site__footer {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: .9em;
}

.site__footer a {
	text-decoration: none;
}

.site__footer a:hover {
	text-decoration: underline;
}

.footer__widget {
	margin-top: 15px;
}

.footer__widget .widget_calendar a {
	text-decoration: underline;
}

.footer__widget .widget_calendar th {
	background-color: transparent;
}

.footer__widget-container {
	padding: 15px 0;
}

.footer-nav {
	margin-top: 15px;
}

.footer__nav-list li {
	margin: 0 0 5px 15px;
}

.footer__nav-list li:first-child {
	margin-left: 0;
}

.footer-sns a:hover {
	text-decoration: none;
}

.footer-sns__list {
	margin: 0 -.1em;
}

.footer-sns__item {
	margin: 0 .1em;
}

.footer-sns__link {
	height: 3em;
	width: 3em;
	padding: 1em;
	border-radius: 50%;
	font-size: 1.2em;
	overflow: hidden;
}

.site__info {
	margin-top: 30px;
}

.footer__poweredby {
	margin-top: .5em;
	font-size: .9em;
}

.comments__area ol {
	margin-left: 0;
	list-style: none;
}

.comments__area .children {
	margin-left: 1em;
}

.comments__title {
	margin: 0;
	font-size: 1.2em;
}

.comment__list {
	margin-top: 0;
}

.comment__body {
	padding: 1.5em 0;
	border-bottom: 1px solid #ecf0f1;
}

.comment__author-image {
	width: 42px;
	margin: 0 15px 0 0;
	float: left;
}

.comment__author-image img {
	border-radius: 50%;
}

.comment__meta {
	font-size: .9em;
	overflow: hidden;
}

.comment__meta a {
	text-decoration: none;
	color: inherit;
}

.comment__meta-data {
	font-size: .9em;
}

.comment__name {
	font-style: normal;
}

.comment__text {
	font-size: .9em;
}

.comment__text p {
	margin-top: 1em;
}

.comment__reply a {
	display: inline-block;
	padding: .2em 1em;
	border: 1px solid #939393;
	border-radius: 4px;
	color: #939393;
	font-size: .9em;
	text-decoration: none;
}

.comment__reply a:hover {
	background-color: #939393;
	color: #fff;
}

.entry-paging a {
	text-decoration: none;
	color: inherit;
}

.entry-paging__info {
	font-size: .9em;
}

.entry-paging__info--prev {
	text-align: left;
}

.entry-paging__info--next {
	text-align: right;
}

.entry-paging__title {
	margin: .5em 0 0;
	padding: 0;
	font-size: .9em;
	text-decoration: underline;
}

.entry-paging__title:before,
.entry-paging__title:after {
	content: none;
}

.entry-paging__home {
	height: 100%;
	font-size: 3em;
}

@media screen and (min-width: 600px) {

.ad__left,
.ad__right {
	text-align: center;
	width: 50%;
}

.subscribe__item {
	width: 25%;
}

.entry__footer-author .author__main {
	float: left;
	margin-right: 1em;
}

.entry__footer-author .author__sub {
	overflow: hidden;
}

.entry__footer-author .author__sns,
.entry__footer-author .author__archive {
	text-align: left;
}

.site__footer {
	padding-top: 30px;
}

.footer__widget-container {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 15px;
}

.footer__widget-container:first-child {
	padding-left: 0;
}

.footer__widget-container:last-child {
	padding-right: 0;
}

.entry-paging__title {
	font-size: 1em;
}

}

