.ys-ad-content {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.ys-ad__title {
  color: var(--advertisement-title);
  font-size: 0.7em;
  text-align: center;
}

.ys-ad__double {
  @include media-breakpoint(sm) {
	display: flex;
	align-items: flex-start;
	text-align: center;

	> * {
	  flex: 0 0 calc(50% - 1rem);
	  width: calc(50% - 1rem);
	  margin-right: auto;
	  margin-left: auto;
	}
  }
}
