.section {
  @at-root {
    @include media-breakpoint(tb) {

      & {
        padding-top: get_section_margin(tb);
        padding-bottom: get_section_margin(tb);
      }

      .section--last {
        padding-top: get_section_margin(tb);
      }

      .section--large {
        padding-top: get_section_margin(tb) * 2;
        padding-bottom: get_section_margin(tb) * 2;
      }

    }
  }
}
