@use "../../global";

:where(.drawer-nav) {
	display: flex;
	flex-direction: column;
	width: 0;
	height: 0;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	padding: 0;
	margin: 0;

	background-color: var(--ystd--drawer-menu--background);
	color: var(--ystd--drawer-menu--text-color);
	--ystd--form--text-color: var(--ystd--drawer-menu--text-color);
	--ystd--search-field--placeholder--color: var(--ystd--drawer-menu--text-color);

	visibility: hidden;
	transition: opacity 0.5s, z-index 0.5s, width 1s ease-out 0.5s, height 1s ease-out 0.5s;
	opacity: 0;
	z-index: -1;

	&:where(.is-open) {
		visibility: visible;
		opacity: 1;
		width: 100%;
		height: 100%;
		padding: var(--ystd--drawer-menu--container--padding-top) var(--ystd--drawer-menu--container--padding-x) var(--ystd--drawer-menu--container--padding-bottom);
		z-index: var(--ystd--z-index--drawer-nav);
		transition: opacity 0.5s, z-index 0.5s;

		> * {
			--ystd--drawer-nav--contents--zindex: calc(var(--ystd--z-index--drawer-nav) + 1);
			z-index: var(--ystd--drawer-nav--contents--zindex);
		}
	}

	:where(.drawer-nav__container) {
		width: min(var(--ystd--container--size), var(--ystd--drawer-menu--width));
		margin-right: auto;
		margin-left: auto;
		overflow: auto;

		> * + * {
			margin-top: var(--ystd--layout-gap);
		}

		&::-webkit-scrollbar {
			width: 1px;
		}

	}

	:where(.drawer-nav__close-container) {
		width: var(--ystd--container--size);
		margin-right: auto;
		margin-bottom: var(--ystd--layout-gap);
		margin-left: auto;
	}

	:where(.drawer-nav__close) {
		color: var(--ystd--drawer-menu--button-color--close);
	}


	:where(.drawer-nav__search) {
		input {
			background-color: transparent;
			color: currentColor;
			border-color: currentColor;
		}

		:where(.search-submit) {
			border-color: currentColor;
		}
	}

	a {
		display: block;
		color: currentColor;
		text-decoration: none;

		@media (hover: hover) {
			&:hover {
				color: currentColor;
			}
		}
	}

	:where(.global-nav__description) {
		display: none;
	}

}

:where(.drawer-nav__menu) {

	padding: 0;
	margin-right: 0;
	margin-left: 0;
	font-size: var(--ystd--drawer-menu--font-size);

	&,
	:where(.sub-menu) {
		list-style: none;
	}

	:where(.ys-icon) {
		display: inline-block;
	}

	:where(.menu-item) {
		a {
			padding-top: var(--ystd--drawer-menu--menu-item--padding-y);
			padding-bottom: var(--ystd--drawer-menu--menu-item--padding-y);
		}
	}

	:where(.sub-menu),
	:where(.menu-item) + :where(.menu-item) {
		margin-top: var(--ystd--drawer-menu--gap);
	}

	:where(.sub-menu) {
		padding: 0;

		:where(.menu-item) {
			padding-left: 1em;
		}
	}

}


html.is-drawer-open {
	#wpadminbar {
		display: none;
	}
}
