@use "../../global";

:where(.drawer-nav) {
	display: none;
	flex-direction: column;
	width: 100%;
	height: 100%;
	max-width: none;
	max-height: none;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	padding: var(--ystd--drawer-menu--container--padding-top)
		var(--ystd--drawer-menu--container--padding-x)
		var(--ystd--drawer-menu--container--padding-bottom);
	margin: 0;
	border: 0;
	overflow: hidden;
	overscroll-behavior: none;

	background-color: var(--ystd--drawer-menu--background);
	color: var(--ystd--drawer-menu--text-color);
	--ystd--form--text-color: var(--ystd--drawer-menu--text-color);
	--ystd--search-field--placeholder--color: var(--ystd--drawer-menu--text-color);

	visibility: hidden;
	transition: opacity 0.5s;
	opacity: 0;

	&:where([open], .is-open) {
		display: flex;
		visibility: visible;
	}

	&:where(.is-open) {
		opacity: 1;
	}

	&::backdrop {
		background-color: transparent;
	}

	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}

	:where(.drawer-nav__container) {
		width: min(var(--ystd--container--size), var(--ystd--drawer-menu--width));
		min-height: 0;
		margin-right: auto;
		margin-left: auto;
		overflow-y: auto;
		overscroll-behavior: contain;

		> * + * {
			margin-top: var(--ystd--layout-gap);
		}

		&::-webkit-scrollbar {
			width: 1px;
		}

	}

	:where(.drawer-nav__close-container) {
		display: flex;
		align-items: center;
		width: var(--ystd--container--size);
		margin-right: auto;
		//margin-bottom: var(--ystd--layout-gap);
		margin-left: auto;
	}

	:where(.drawer-nav__close) {
		color: var(--ystd--drawer-menu--button-color--close);
	}


	:where(.drawer-nav__search) {
		input {
			background-color: transparent;
			color: currentColor;
			border-color: currentColor;
		}

		:where(.search-submit) {
			border-color: currentColor;
		}
	}

	:where(.global-nav__description) {
		display: none;
	}

}

:where(.drawer-nav__menu) {

	padding: 0;
	margin-right: 0;
	margin-left: 0;
	font-size: var(--ystd--drawer-menu--font-size);

	a {
		display: block;
		color: currentColor;
		text-decoration: none;

		@media (hover: hover) {
			&:hover {
				color: currentColor;
			}
		}
	}

	&,
	:where(.sub-menu) {
		list-style: none;
	}

	:where(.ys-icon) {
		display: inline-block;
	}

	:where(.menu-item) {
		a {
			padding-top: var(--ystd--drawer-menu--menu-item--padding-y);
			padding-bottom: var(--ystd--drawer-menu--menu-item--padding-y);
		}
	}

	:where(.sub-menu),
	:where(.menu-item) + :where(.menu-item) {
		margin-top: var(--ystd--drawer-menu--gap);
	}

	:where(.sub-menu) {
		padding: 0;

		:where(.menu-item) {
			padding-left: 1em;
			font-size: var(--ystd--drawer-menu--sub-menu--font-size);
		}
	}

}


html.is-drawer-open {
	overflow: hidden;

	&.has-drawer-scrollbar {
		scrollbar-gutter: stable;
	}

	body {
		overflow: hidden;
	}

	#wpadminbar {
		display: none;
	}
}
