@use "../../global";

:where(.footer-mobile-nav-container) {
	max-width: var(--ystd--container--size);
	margin-right: auto;
	margin-left: auto;
}

:where(.footer-mobile-nav) {
	--ystd--mobile-footer-nav--mobile--display: flex;
	--ystd--mobile-footer-nav--tablet--display: none;

	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: none;
	background-color: var(--ystd--mobile-footer--background);
	text-align: center;
	color: var(--ystd--mobile-footer--text-color);
	box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.07);
	z-index: var(--ystd--z-index--mobile-footer);
	transition: transform 0.3s;

	&:where(.is-hide) {
		transform: translateY(100%);
	}

	@include global.media-under-tablet() {
		display: block;
	}

	:where(ul) {
		justify-content: space-between;
		align-items: center;
		gap: var(--ystd--mobile-footer-nav--gap);
		margin: 0;
		padding: var(--ystd--mobile-footer-nav--padding-y)
			var(--ystd--mobile-footer-nav--padding-x);
		list-style: none;
	}

	:where(a) {
		display: block;
		color: currentColor;
		line-height: var(--ystd--mobile-footer-nav--menu--line-height);
	}

	a {
		// text-decorationだけWPコアCSSに負ける.
		text-decoration: none;
	}

	:where(i) {
		font-size: var(--ystd--mobile-footer-nav--icon--size);
	}

	:where(svg) {
		width: var(--ystd--mobile-footer-nav--icon--size);
		height: var(--ystd--mobile-footer-nav--icon--size);
	}

	&:where(.has-footer-mobile-nav--tablet) {
		@include global.media-up-mobile() {
			--ystd--mobile-footer-nav--mobile--display: none;
			--ystd--mobile-footer-nav--tablet--display: flex;
		}
	}
}

:where(.mobile-footer-nav__list) {
	&:where(:not(.is-tablet)) {
		display: var(--ystd--mobile-footer-nav--mobile--display);
	}

	&:where(.is-tablet) {
		display: var(--ystd--mobile-footer-nav--tablet--display);
	}
}

:where(.footer-mobile-nav__description) {
	display: block;
	font-size: var(--ystd--mobile-footer-nav--description--font-size);
	line-height: var(--ystd--mobile-footer-nav--description--line-height);
}

:where(.has-mobile-footer .site-footer) {
	@include global.media-under-tablet() {
		padding-bottom: var(--ystd--mobile-footer-nav--footer-padding-bottom);
	}
}
