/*
  container
 */

/*
  row
 */

/*
  col
 */

/*
  余白取得
 */

#customize-controls .description {
	margin-top: .5em;
	color: #939393;
}

#customize-control-site_icon .app-icon-preview {
	display: none;
}

#customize-control-ys_apple_touch_icon .favicon-preview {
	display: none;
}

#customize-control-ys_design_header_type .customize-inside-control-row {
	margin: 0;
}

#customize-control-ys_design_header_type input[type="radio"] {
	display: none;
}

#customize-control-ys_design_header_type input[type="radio"] + label {
	display: block;
}

#customize-control-ys_design_header_type input[type="radio"] + label img {
	border: 3px solid transparent;
	-webkit-transition: border .3s;
	transition: border .3s;
}

#customize-control-ys_design_header_type input[type="radio"]:checked + label img {
	border-color: #2980B9;
}

