.image-mask {
  @at-root {
    & {
      position: absolute;
      top:0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: transparent;
      color: transparent;
      font-size: .9em;
      font-weight: bold;
      z-index: -1;
      transition: all .3s;
    }
    .image-mask__text {
      margin: 0;
    }
    .image-mask__wrap {
      position: relative;
      &:hover {
        .image-mask {
          background-color: rgba(#000,.4);
          color: #fff;
          z-index: 2;
        }
      }
    }
  }// @
}
