
.ys-post-list__item {
  padding-bottom: 2em;
}
.ys-post-list__title {
  display: block;
  padding: .5em 0 0;
  line-height: 1.4;  
  overflow: hidden;
}
.ys-post-list__img {
  position: relative;
}
//
// thumbnail
//
.ys-post-list--thumbnail {
  .ys-post-list__item {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .ys-post-list__img {
    width: 75px;
    margin-right: 1em;
    font-size: 0.7em;
    letter-spacing: normal;
    float: left;
  }
  .ys-post-list__title {
    padding-top: 0;
    font-size: 1em;
  }
}
@include media-breakpoint(tb) {
  .ys-post-list__items:not(.ys-post-list--no-img) {
    @include flex;
  }
  .ys-post-list__item {
    width: 50%;
    padding-left: .5em;
    padding-right: .5em;
  }
}
@include media-breakpoint(pc) {
  .ys-post-list__item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
