@use "../../global";

$editor: false !default;

@mixin recent-posts() {

  .post-related__title {
	margin: 0 0 1em;
	font-weight: var(--ystd--font-weight--bold);
  }
}

@if false == $editor {
  @include recent-posts();
}
