.widget {
  @at-root {
    & {
      margin-top: get_margin(2);
      &:first-child {
        margin-top: 0;
      }

      ul,ol {
        margin-left: 0;
        list-style: none;
      }
      li {
        ul,ol {
          margin-left: 1.5em;
        }
      }
    }
    .widget-title {
      font-size: 1.2em;
      margin-top: 0;
    }
  }
}

.widget_recent_entries,
.widget_categories,
.widget_archive,
.widget_nav_menu,
.widget_pages {
  li {
    margin:0 0 .5em;
  }
}

.widget_calendar {
  a {
    text-decoration: underline;
  }
}
