.widget {
  @at-root {
    & {
      margin-top: get_margin(2);
      font-size: .9em;
      &:first-child {
        margin-top: 0;
      }

      ul,ol {
        margin-left: 0;
        list-style: none;
      }
      li {
        ul,ol {
          margin-left: 1.5em;
        }
      }
    }
    .widget-title {
      font-size: 1.3em;
      margin-top: 0;
    }
    @include media-breakpoint(pc) {
      & {
        margin-top: get_margin(4);
      }
    }
  }
}

.widget_recent_entries,
.widget_categories,
.widget_archive,
.widget_nav_menu,
.widget_pages {
  li a {
    display: block;
    padding: .5em 0;
  }
}

.widget_calendar {
  a {
    text-decoration: underline;
  }
}
