.ys-ranking__list {
}
.ys-ranking__item {
  padding: 0 0 2em;
}
.ys-ranking__title {
  display: block;
  padding: .5em 0 0;
  font-size: 1.1em;
  overflow: hidden;
}
//
// thumbnail
//
.ys-ranking__img--thumbnail {
  .ys-ranking__list {
    border-top: 1px solid $border-color-light;
  }
  .ys-ranking__item {
    padding: 1em 0;
    border-bottom: 1px solid $border-color-light;
  }
  .ys-ranking__img {
    float: left;
    margin-right: 1em;
    img {
      width: 75px;
    }
  }
  .ys-ranking__title {
    padding-top: 0;
    font-size: 1em;
  }
}
