.section {
  @at-root {

    & {
      padding-top: get_section_margin(sp);
      padding-bottom: get_section_margin(sp);
    }

    .section--large {
      padding-top: get_section_margin(sp) * 2;
      padding-bottom: get_section_margin(sp) * 2;
    }

    .section--full,
    .section--screen {
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
    }
    .section--screen {
      min-height: 640px;
      height: 100vh;
    }

    .section--gray {
      background-color: $bg-color-gray;
    }

    .section__headline {
      position: relative;
      margin-top: -1rem;
      margin-bottom: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      text-align: center;

      &:after {
        content: "";
        position: absolute;
        height: 1px;
        width: 60px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: rgba($bg-color-dark,.7);
      }
    }

    .section__title,
    .section__sub-title {
      display: block;
    }

    .section__title {
      font-size: 2rem;
      margin: 0;
    }
    .section__sub-title {
      color: $font-color-gray;
      font-size: 1rem;
    }

    // tablet
    @include media-breakpoint(tb) {

      & {
        padding-top: get_section_margin(tb);
        padding-bottom: get_section_margin(tb);
      }

      .section--large {
        padding-top: get_section_margin(tb) * 2;
        padding-bottom: get_section_margin(tb) * 2;
      }
    }

    // screen
    @include media-breakpoint(pc) {

      .section--screen {
        min-height: 768px;
      }
    }

  }//at-root
}
