
.section {
  @at-root {
    // tablet
    @include media-breakpoint(md) {

      @include make-section(md);
    }

    // screen
    @include media-breakpoint(lg) {
      
      @include make-section(lg);

      .section--screen {
        min-height: 768px;
      }
      .section--rotate {
        &:before {
          margin-top: 2%;
          height: 80%;
        }
      }
    }
  }//at-root
}
