.footer-nav {
  @at-root {

    & {
      font-size: .9em;
      margin-top: get_margin();
    }
    .footer__nav-list {
      li {
        margin: 0 0 5px 15px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }// @
}
