@charset "UTF-8";
// variables
@import "../variables";
// mixins
@import "../akatsuki-base/mixins/breakpoint";
@import "../akatsuki-base/mixins/clearfix";
@import "../akatsuki-base/mixins/grid";
@import "../akatsuki-base/mixins/flex";
//func
@import "../akatsuki-base/function/margin";
@import "../akatsuki-base/function/sns-color";
@import "../akatsuki-base/function/decimal";

@import "../akatsuki-base/clearfix/clearfix";
@import "../akatsuki-base/grid/grid";
@import "../akatsuki-base/section/section";
@import "../akatsuki-base/flex/flex";
@import "../akatsuki-base/ratio/ratio";

@import "../ystandard/mixins/ys-box";
@import "../ystandard/utility/block/block";
@import "../ystandard/utility/button/button";
@import "../ystandard/utility/text/text";

.orbitron {
  font-family: 'Orbitron', sans-serif;
}

.ystandard-settings {
  font-size: 16px;
  p {
    font-size: 1em;
  }
}
.ys-info-h {
  display: inline-block;
  width: 140px;
}
.ystandard-settings__section {
  padding: 2em 0 1em;
  border-bottom: 1px solid #939393;
  &>h3:first-child {
    margin-top: 0;
  }
}
.ystandard-settings__peing {
  background-color: #5ebaba;
  color: #fff;
}
.ystandard-settings__flex50 {
  flex: 1 0 50%;
  max-width: 50%;
}
.ystandard-settings__icon {
  max-width: 100px;
  border-radius: 50%;
}
.ystandard-setting__support {
  flex-direction: column;
}
