.embed__container {
  max-width: 560px;
  margin-top: 1.5em;
}
.embed__item {
  position: relative;
  &:before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
