@use "../../styles/global";

:where(.wp-block-image) {
	margin-bottom: 0;

	figcaption {
		margin: 0;
		padding: 0;
		font-size: .8em;
		font-style: normal;
	}

	&:where(.alignfull) {
		:where(img) {
			display: block;
		}

		+ :where(.wp-block-image.alignfull) {
			margin-top: 0;
		}
	}
}

// align
:where(.wp-block-image) {


	&:where(.alignleft) {
		> :where(*) {
			margin-right: auto;
		}
	}

	&:where(.aligncenter) {
		> :where(*) {
			margin-right: auto;
			margin-left: auto;
		}
	}

	&:where(.alignright) {
		> :where(*) {
			margin-left: auto;
		}
	}
}
