.ys-blog-card {

    & {
      @include ys-box;
      border-radius: 4px;
      a {
        text-decoration: none;
      }
    }
    .ys-blog-card__link:not(:hover) {
      color: inherit;
    }
    .ys-blog-card__main {
      text-decoration: none;
    }
    .ys-blog-card__thumb {
      max-width: 150px;
      margin:0 1em 0 0;
      float: left;
    }
    .ys-blog-card__text {
      overflow: hidden;
    }
    .ys-blog-card__title {
      font-weight: bold;
    }
    .ys-blog-card__dscr,
    .ys-blog-card__domain {
      margin: 1em 0 0;
    }
    .ys-blog-card__dscr {
      font-size: .8em;
    }
    .ys-blog-card__domain {
      font-size: 10px;
      clear: both;
      img,amp-img {
        display: inline-block;
        width: 10px;
        height: auto;
        margin: 0 5px 0 0;
      }
    }

}
