.ys-blog-card {

    & {
      @include ys-box;
      border-radius: 4px;
      max-width: 600px;
      a {
        text-decoration: none;
      }
    }
    .ys-blog-card__link:not(:hover) {
      color: inherit;
    }
    .ys-blog-card__main {
      text-decoration: none;
    }
    .ys-blog-card__thumb {
      max-width: 80px;
      margin:0 1em 0 0;
      float: left;
    }
    .ys-blog-card__text {
      overflow: hidden;
    }
    .ys-blog-card__title ,
    .ys-blog-card__dscr {
      max-height: 3.5em;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    } 
    .ys-blog-card__title {
      font-weight: bold;
    }
    .ys-blog-card__dscr {
      max-height: 3em;
      margin: .5em 0 0;
      font-size: .7em;
    }
    .ys-blog-card__domain {
      margin: 1em 0 0;
      font-size: 10px;
      clear: both;
      img,amp-img {
        display: inline-block;
        width: 10px;
        height: auto;
        margin: 0 5px 0 0;
      }
    }

}
