.subscribe {
  @at-root {
    .subscribe__container {
      border: 2px solid $bg-color-gray;
    }
    .subscribe__title {
			text-align: center;
			margin-bottom: 5px;
		}
		.subscribe__buttons {
      padding: 1em;
		}
    .subscribe__image-container {
      position: relative;
      max-height: 200px;
    }
    .subscribe__buttons-container {
      background-color: $bg-color-gray;
    }
    .subscribe__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
		.subscribe__item {
			padding: 0 5px 5px;
			text-align: center;
		}
		.subscribe__link {
			display: block;
      max-width: 200px;
      margin: auto;
			padding: 0 30px;
      border-radius: 2px;
			text-align: center;
		}
  }
}
