//
// SNS関連のクラス作成
//
@each $key, $color in $sns-color {

  .sns__btn--#{$key} {
    background-color: $color;
    border: 1px solid $color;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: $color;
    }
  }
  .sns__btn-outline--#{$key} {
    background-color: #fff;
    border: 1px solid $color;
    color: $color;

    &:hover {
      background-color: $color;
      color: #fff;
    }
  }
  .sns__color--#{$key} {
    color: $color;
    &:hover {
      color: lighten($color,10%);
    }
  }
}//@each

//
//  SNSボタン共通
//
[class*="sns__btn-"] {
  text-decoration: none;
  transition: all .3s;
  &:hover {
    text-decoration: none;
  }
}

//
//  SNS埋め込み
//
.twitter-tweet {
  margin: 1.5em 0 0;
}
