@charset "UTF-8";
@import "import";
//*********************
//背景色ありに対応させる
//*********************

.content__main {
  padding: get_margin();
}
.archive__main {
  background-color: unset;
  padding: 0;
}
.archive__title {
  padding: get_margin();
  background-color: #fff;
}
.sidebar {
  padding: 0;
}
.widget {
  padding: get_margin();
  background-color: #fff;
}
.pagination {
  padding: get_margin();
  background-color: #fff;
}
.entry-list--list {
  .entry-list {
    padding-right: get_margin();
    padding-left: get_margin();
    margin-bottom: get_margin();
  }
}
@include media-breakpoint(pc) {
  .content__wrap {
    margin-left: 0;
    margin-right: 0;
  }
  .widget,
  .sidebar__widget+.sidebar__fixed {
    margin-top: 30px;
  }
  .sidebar__widget+.sidebar__fixed {
    top:30px;
  }
  .entry-list--list {
    .entry-list {
      padding-right: get_margin(2);
      padding-left: get_margin(2);
      margin: get_margin(2) 0;
    }
  }
}
@include media-breakpoint(lg) {
  .content__main {
    padding: get_margin(2);
  }
  .archive__main {
    padding: 0;
  }
}
