.breadcrumbs {
  @at-root {

    & {
      padding: .5rem 0;
      margin: -2rem 0 0;
      font-size: 0;
      line-height: 1.2;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      list-style: none;

      a {
        text-decoration: none;
        color: $color__text-light;
      }
    }

    .breadcrumbs__item {
      display: inline;
      font-size: .7rem;
      color: $color__text-light;

      &:not(:last-child):after {
        content: "/";
        margin: 0 .25rem;
      }
    }
  }
  // @
}
