.breadcrumbs {
	@at-root {
		& {
			padding: 0.5rem 0;
			font-size: 0;
			line-height: 1.2;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			list-style: none;

			a {
				color: $color__text-light;
				text-decoration: none;
			}
		}

		.singular.col-1:not(.full-width):not(.has-bg-color) .breadcrumbs__list {
			max-width: $width__content_one_col;
			margin-right: auto;
			margin-left: auto;
		}

		.breadcrumbs__item {
			display: inline;
			color: $color__text-light;
			font-size: 0.7rem;

			&:not(:last-child):after {
				content: "/";
				margin: 0 0.25rem;
			}
		}
	}
	// @
}