.breadcrumbs__list {
	display: flex;
	margin: 0;
	padding: 0.75em 0;
	color: var(--font-gray);
	font-size: 0.75em;
	line-height: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	list-style: none;

	a {
		color: var(--font-gray);
		text-decoration: none;
	}
}

.breadcrumbs__item {
	margin-left: 0.5em;

	&::before {
		content: "/";
		margin-right: 0.25em;
	}

	&:first-child {
		margin-left: 0;

		&::before {
			display: none;
		}
	}
}