@use "sass:meta";
@use "global";
//Component
@use "component/advertisement/advertisement" with ($editor:true);
@use "component/author/author" with ($editor:true);
@use "component/block-editor/align" with ($editor:true);
@use "component/block-editor/content" with ($editor:true);
@use "component/block-editor/social-links" with ($editor:true);
@use "component/block-editor/spacer" with ($editor:true);
@use "component/block-editor/table" with ($editor:true);
@use "component/block-editor/tag-cloud" with ($editor:true);
@use "component/block-editor/video" with ($editor:true);
@use "component/blog-card/blog-card" with ($editor:true);
@use "component/forms/forms" with ($editor:true);
@use "component/icon/icon" with ($editor:true);
@use "component/posts/posts" with ($editor:true);
@use "component/ratio/ratio" with ($editor:true);
@use "component/search-form/search-form" with ($editor:true);
@use "component/share-button/share-button" with ($editor:true);
@use "component/taxonomy/taxonomy" with ($editor:true);
@use "component/toc/toc" with ($editor:true);
@use "component/wordpress/caption" with ($editor:true);
@use "component/wordpress/embed" as wordpress-embed with ($editor:true);
@use "component/wordpress/gallery" as wordpress-gallery with ($editor:true);
@use "component/wordpress/wp" as wordpress-wp with ($editor:true);

// Utility
@use "utility/clearfix/clearfix" as utility-clearfix with ($editor:true);
@use "utility/sns/sns" as utility-sns with ($editor:true);
@use "utility/table/table" as utility-table with ($editor:true);

.mce-content-body {
  @include meta.load-css('foundation/base/base');
  @include meta.load-css('../block-styles/core__button/button');
  @include meta.load-css('../block-styles/core__archives/archives');
  @include meta.load-css('../block-styles/core__quote/quote');
  @include meta.load-css('../block-styles/core__calendar/calendar');
  @include meta.load-css('../block-styles/core__categories/categories');
  @include meta.load-css('../block-styles/core__code/code');
  @include meta.load-css('../block-styles/core__columns/columns');
  @include meta.load-css('../block-styles/core__column/column');
  @include meta.load-css('../block-styles/core__cover/cover');
  @include meta.load-css('../block-styles/core__embed/embed');
  @include meta.load-css('../block-styles/core__file/file');
  @include meta.load-css('../block-styles/core__gallery/gallery');
  @include meta.load-css('../block-styles/core__group/group');
  @include meta.load-css('../block-styles/core__heading/heading-editor');
  @include meta.load-css('../block-styles/core__image/image');
  @include meta.load-css('../block-styles/core__image/image-editor');
  @include meta.load-css('../block-styles/core__latest-comments/latest-comments');
  @include meta.load-css('../block-styles/core__latest-comments/latest-comments-editor');
  @include meta.load-css('../block-styles/core__latest-posts/latest-posts');
  @include meta.load-css('../block-styles/core__media-text/media-text');
  @include meta.load-css('../block-styles/core__paragraph/paragraph');
  @include meta.load-css('../block-styles/core__pullquote/pullquote');
  @include meta.load-css('../block-styles/core__pullquote/pullquote-editor');
  @include meta.load-css('../block-styles/core__search/search');
  @include meta.load-css('../block-styles/core__search/search-editor');
  @include meta.load-css('../block-styles/core__separator/separator');

  //Component
  @include advertisement.advertisement();
  @include author.author();
  @include align.align();
  @include content.content();
  @include social-links.social-link();
  @include spacer.spacer();
  @include table.table();
  @include tag-cloud.tag-cloud();
  @include video.video();
  @include blog-card.blog-card();
  @include forms.forms();
  @include icon.icon();
  @include posts.ys-posts();
  @include ratio.ratio();
  @include search-form.search-form();
  @include share-button.share-buttons();
  @include taxonomy.taxonomy();
  @include toc.toc();
  @include caption.caption();
  @include wordpress-embed.embed();
  @include wordpress-gallery.gallery();
  @include wordpress-wp.wp();

  // Utility
  @include utility-clearfix.clearfix();
  @include utility-sns.sns-color();
  @include utility-table.table();

  background-color: global.$color__bg-body;
  color: global.$color__text-main;
  font-family: global.$font--default;
  line-height: global.$font__line-height;
  letter-spacing: global.$font__spacing;
  word-wrap: break-word;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
