.flex {
	@at-root {
		@include media-breakpoint(md) {
			@include make-flex(md);
		}
		@include media-breakpoint(lg) {
			@include make-flex(lg);
		}
	}// @
}
.flex__col {
	@at-root {
		@include media-breakpoint(md) {
			@include make-col(md);
		}
		@include media-breakpoint(lg) {
			@include make-col(lg);
		}
	}//@
}