.flex {
	@at-root {
		@include make-flex();
		.flex--row {
			flex-wrap: wrap;
			margin-right: -1rem;
			margin-left: -1rem;

			&.-no-gutter {
				margin-right: 0;
				margin-left: 0;

				& > [class*="flex__col"] {
					padding-right: 0;
					padding-left: 0;
				}

				&.-all {
					& > [class*="flex__col"] {
						padding-top: 0;
						padding-bottom: 0;
					}
				}
			}

			&.-slide {
				flex-wrap: nowrap;
				margin: 0;
				overflow-x: scroll;
				overflow-y: hidden;

				-webkit-overflow-scrolling: touch;

				&::-webkit-scrollbar {
					height: 8px;
				}

				&::-webkit-scrollbar-track {
					background-color: $color__bg-gray-light;
					border-radius: 8px;
				}

				&::-webkit-scrollbar-thumb {
					background-color: $color__bg-gray-dark;
					border-radius: 8px;
				}

				& > .flex__col {
					flex: 0 0 30%;
					min-width: 240px;
					max-width: 30%;
				}
			}
		}

		.flex--c-c {
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
		}

		.flex--a-start {
			align-items: flex-start;
		}

		.flex--a-center {
			align-items: center;
		}

		.flex--a-end {
			align-items: flex-end;
		}

		.flex--j-start {
			justify-content: flex-start;
		}

		.flex--j-end {
			justify-content: flex-end;
		}

		.flex--j-center {
			justify-content: center;
		}

		.flex--j-between {
			justify-content: space-between;
		}

		.flex--j-around {
			justify-content: space-around;
		}
	}
	// @
}

.flex__col {
	@at-root {
		@include make-col();
		[class*="flex__col"] {
			max-width: 100%;
			padding: 1rem;
		}

		& {
			flex-basis: 0;
			flex-grow: 1;
		}
	}
	//@
}