//画像
.wp-block-image {
  figcaption {
    margin-top: .5em;
    text-align: center;
    color: $font-color-gray;
    font-size: .8em;
    font-style: italic;
  }
}

.one-col {
  .alignwide,
  .alignfull {
    width: unset;
    max-width: unset;
  }
  .alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    img {
      width: 100%;
    }
  }
  .alignwide {
    margin-right: -15px;
    margin-left: -15px;

    @include media-breakpoint(tb) {
      margin-right: -30px;
      margin-left: -30px;
    }
  }
}

//カバー画像
// TODO: cover settings,Overlay Color,Overlay Opacity
.wp-block-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 430px;
  background-color: #000;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: inherit;
    opacity: .5;
    z-index: 1;
  }
  .wp-block-cover-text {
    max-width: 640px;
    padding: 2em;
    font-size: 2em;
    color: #fff;
    z-index: 2;
  }
}

//区切り
hr,
.wp-block-separator {
  height: 1px;
  margin: 1.5em 0;
  border: none;
  background-color: $border-color-gray;
}

//ギャラリー
.wp-block-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5em -1px;
  list-style-type: none;

  .blocks-gallery-item {
    align-items: flex-start;
    flex: 0 1 50%;
    max-width: 50%;
    padding: 1px;
    margin: 0;
    figure {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      height: 100%;
      margin: 0;
    }
    img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
  &.columns-1 .blocks-gallery-item {
    flex: 0 1 100%;
    max-width: 100%;
  }
  @for $i from 3 through 8 {
    &.columns-#{$i} .blocks-gallery-item {
      flex: 0 1 (100% / $i);
      max-width: (100% / $i);
      margin: 0;
    }
  }
  &.is-cropped {
    .blocks-gallery-item {
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

// 埋め込み
.wp-has-aspect-ratio {
  width: 100%;
  max-width: 560px;
  margin-top: 1.5em;
  .wp-block-embed__wrapper {
    position: relative;
    &:before {
      content: "";
      display: block;
      padding-top: 56.25%;
    }

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  &.wp-embed-aspect-21-9 .wp-block-embed__wrapper:before {
    padding-top: 42.85%;
  }
  &.wp-embed-aspect-18-9 .wp-block-embed__wrapper:before {
    padding-top: 50%;
  }
  &.wp-embed-aspect-16-9 .wp-block-embed__wrapper:before {
    padding-top: 56.25%;
  }
  &.wp-embed-aspect-4-3 .wp-block-embed__wrapper:before {
    padding-top: 75%;
  }
  &.wp-embed-aspect-1-1 .wp-block-embed__wrapper:before {
    padding-top: 100%;
  }
  &.wp-embed-aspect-9-6 .wp-block-embed__wrapper:before {
    padding-top: 66.66%;
  }
  &.wp-embed-aspect-1-2 .wp-block-embed__wrapper:before {
    padding-top: 200%;
  }
}

.wp-block-embed {
  &.is-type-wp-embed.is-provider-ystandard {
    .wp-block-embed__wrapper {
      &:before {
        display: none;
        padding: 0;
      }
    }
  }
}

.wp-block-embed__wrapper {
  & > .embed__container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: unset;
    margin: 0;
  }
}

//columns
.wp-block-columns {
  margin: 1.5em -15px 0;
  display: flex;
  & + & {
    margin-top: 0;
  }
  .wp-block-column {
    padding: 15px;
    flex: 1 1 100%;
    max-width: 100%;
    &:not(:first-child),
    &:not(:last-child),
    &:nth-child(odd),
    &:nth-child(even) {
      margin: 0;
    }
    & > * {
      margin-top: 0;
      margin-bottom: 1em;
    }
  }
  @include media-breakpoint(tb) {
    @for $i from 2 through 6 {
      &.has-#{$i}-columns .wp-block-column {
        flex: 0 1 (100% / $i);
        max-width: (100% / $i);
      }
    }
  }

}

// Pull Quote
.wp-block-pullquote {
  padding: 3em 0;
  margin: 2em 0;
  border-top: 1px solid $border-color-dark;
  border-bottom: 1px solid $border-color-dark;
  text-align: center;
  blockquote {
    background: none;
    border: none;
    color: inherit;
    p {
      font-size: 2em;
    }
    &:after {
      display: none;
    }
  }
  cite {
    &:before {
      display: none;
    }
  }
}

// wp-block-media-text
.wp-block-media-text__content {
  & > * {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@include media-breakpoint-down(tb) {
  .wp-block-media-text {
    &:not(.is-stacked-on-mobile),
    &.has-media-on-the-right:not(.is-stacked-on-mobile) {
      grid-template-columns:1fr;
      grid-template-areas:"media-text-media" "media-text-content";
      .wp-block-media-text__media,
      .wp-block-media-text__content {
        grid-area:auto;
      }
      .wp-block-media-text__content {
        padding: 0;
        margin-top: 1rem;
      }
    }
  }
}


// button
.wp-block-button {
  margin: 1.5em 0;
  a {
    display: inline-block;
    padding: 1rem 3rem;
    background-color: $font-color-main;
    border-radius: 2rem;
    color: #fff;
    text-decoration: none;
  }
  &.aligncenter {
    text-align: center;
  }
  &.alignleft {
    text-align: left;
  }
  &.alignright {
    text-align: right;
  }
}
