//
//  align
//
.aligncenter,
div.aligncenter,
.alignleft,
.alignright {
	 display: block;
}
.aligncenter,
div.aligncenter {
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  text-align: center;
  font-size: .9em;
  padding: .1em .5em .5em;
  img {
    margin: 0;
    padding: 0;
  }
}

@include media-breakpoint(tb) {
  	.alignleft {
  		 float: left;
  		 margin:0 1em 1em 0;
  	}
  	.alignright {
  		 float: right;
  		 margin:0 0 1em 1em;
  	}
}
