//
// 一覧ページ
//
.archive__title {
  margin: 0 0 1rem;
  font-size: 1.3rem;
}

.archive__dscr {
  margin: 0 0 1rem;
  font-size: .9rem;
}


.archive__item {
  a {
    text-decoration: none;
  }
}

.archive__detail {
  &.-list {
    margin-top: .5rem;
  }
}

.archive__meta {
  font-size: .75rem;
  line-height: 1.5;
}

.archive__detail-title {
  margin: .5em 0;
  font-size: 1.1rem;

  a {
    color: $color__text-main;
  }
}

.archive__date {
  white-space: nowrap;
}

.archive__no-img {
  background-color: $color__bg-gray-light;
  font-size: 1.5rem;
  color: $color__text-light;
}
