//
// 一覧ページ(PC)
//
@include media-breakpoint(md) {
  .archive__title {
    font-size: 1.6rem;
  }

  .archive__item {
    &.-list {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    &.-card {
      transition: transform .3s;
      &:hover {
        transform: translateY(-.25rem);
      }
    }
  }
  .archive__detail-title {
    font-size: 1.2rem;
  }
  .archive__image {
    &.-list {
      width: 250px;
    }
  }
  .archive__detail {
    &.-list {
      margin-top: 0;
      margin-left: 1rem;
    }
  }
  .archive__no-img {
    transition: font-size .3s;

    &:hover {
      font-size: 2rem;
    }
  }
}
