.archive__main {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2em;
}

.archive__title {
  margin: 0;
}

.archive__dscr {
  margin-top: 1em;
  font-size: 0.9em;
  @include child_margin(1em);
}

.archive__container {
  margin-top: 1em;

  &.is-list {
	border-top: 1px solid var(--border-color-gray-light);
  }

  &.is-card {
	@include media-breakpoint(md) {
	  display: grid;
	  grid-template-columns: repeat(2, calc(50% - 1em));
	  grid-auto-rows: auto;
	  justify-content: space-between;
	}
	@include media-breakpoint(lg) {
	  grid-template-columns: repeat(3, calc(33.33% - 1em));
	}
  }
}

.archive__item {
  background-color: var(--content-bg-color);
  border-bottom: 1px solid var(--border-color-gray-light);

  &:hover {
	.archive__image {
	  transform: scale(1.1);
	}
  }

  &.is-list {
	.archive__content {
	  display: flex;
	}
	.archive__category {
	  margin-left: 1em;
	}
  }

  &.is-card {

	@include media-breakpoint(md) {
	  border-bottom: 0;
	  margin-bottom: 1em;
	}

	.archive__meta {
	  justify-content: space-between;
	}
  }

  .archive__title {
	font-size: 1em;
	color: var(--font-color);

	a {
	  color: currentColor;
	  text-decoration: none;

	  &::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	  }
	}
  }
}

.archive__content {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  @include child_margin(0.5em);
}

.archive__thumbnail {
  &.is-list {
	flex: 0 0 25%;
	width: 25%;
	margin-right: 1em;

	@include media-breakpoint(md) {
	  flex: 0 0 30%;
	  width: 30%;
	}
  }
}

.archive__image {
  transition: transform .3s;
}

.archive__no-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--site-bg-color-light-gray);
  height: 100%;
  width: 100%;
}

.archive__text {
  @include child_margin(0.5em);
}

.archive__meta {
  display: flex;
  color: var(--content-meta-color);
  font-size: 0.8em;

  > div {
	display: flex;
	align-items: center;
  }

  .ys-icon {
	width: 0.8em;
	margin-right: .25em;
  }
}


.archive__excerpt {
  font-size: 0.8em;
  line-height: 1.3;
  color: var(--font-gray);
}

.has-sidebar {

  .archive__container {
	&.is-card {
	  @include media-breakpoint(lg) {
		grid-template-columns: repeat(2, calc(50% - 1em));
	  }
	}
  }
}
