.archive__main {
  margin-right: auto;
  margin-bottom: 2em;
  margin-left: auto;
}

.archive__page-title {
  margin: 0;
}

.archive__dscr {
  @include child_margin(1em);

  margin-top: 1em;
  font-size: 0.9em;
}

.archive__container {
  margin-top: 1em;

  &.is-card {
	@include media-breakpoint(md) {
	  display: grid;

	  grid-template-columns: repeat(2, calc(50% - 1em));
	  grid-template-rows: auto;
	  gap: 1em 2em;
	}
	@include media-breakpoint(lg) {
	  grid-template-columns: repeat(3, calc(33.33% - 1em));
	  grid-template-rows: auto;
	}
  }
}

.archive__item {
  background-color: var(--content-bg);
  border-bottom: 1px solid var(--site-border-gray-light);

  &:hover {
	.archive__image {
	  transform: scale(1.1);
	}
  }

  &.is-list {
	border-bottom: 1px solid var(--site-border-gray-light);

	.archive__detail {
	  display: flex;
	}

	.archive__category {
	  margin-left: 1em;
	}
	.archive__text {
	  padding: 1em;
	}
  }

  &.is-card {
	@include media-breakpoint(md) {
	  border-bottom: 0;
	}

	.archive__meta {
	  justify-content: space-between;
	}

	.archive__text {
	  padding-bottom: 1em;
	}

	.archive__detail {
	  @include child_margin(0.5em);
	}
  }

  .archive__title {
	color: var(--font-color);
	font-size: 1em;

	a {
	  color: currentColor;
	  text-decoration: none;

	  &::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	  }
	}
  }
}

.archive__detail {
  position: relative;
}

.archive__thumbnail {
  &.is-list {
	flex: 0 0 25%;
	width: 25%;
	min-width: 100px;
	margin-top: 1em;

	@include media-breakpoint(md) {
	  flex: 0 0 30%;
	  width: 30%;
	  margin-top: 0;
	}
  }
}

.archive__image {
  transition: transform 0.3s;
}

.archive__no-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--site-bg-light-gray);
}

.archive__text {
  @include child_margin(0.5em);
}

.archive__meta {
  display: flex;
  color: var(--content-meta);
  font-size: 0.7em;

  > div {
	display: flex;
	align-items: center;
  }

  .ys-icon {
	width: 0.8em;
	margin-right: 0.25em;
  }
}


.archive__excerpt {
  color: var(--font-gray);
  font-size: 0.7em;
  line-height: 1.3;
}

.has-sidebar {
  .archive__container {
	&.is-card {
	  @include media-breakpoint(lg) {
		grid-template-columns: repeat(2, calc(50% - 1em));
		grid-template-rows: auto;
	  }
	}
  }
}

.has-background {
  .archive__page-title {
	margin-top: 1.5em;
	@include media-breakpoint(md) {
	  margin-top: 0;
	}
  }

  .archive__item {
	margin-bottom: 1em;

	&.is-card {
	  border: 0;
	}
	&.is-list {
	  border: 1px solid var(--site-border-gray-light);
	}
  }
  .archive__thumbnail {
	&.is-list {
	  margin-bottom: 1em;
	  margin-left: 1em;
	}
  }

  .archive__text {
	padding: 1em;
  }
}
