#back-to-top {
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  z-index: 10;
  cursor: pointer; }

#back-to-top:hover {
  -webkit-box-shadow: none;
          box-shadow: none; }

.back-to-top__content {
  display: block;
  padding: .75em;
  line-height: 1;
  white-space: nowrap;
-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); }

.back-to-top__content.is-square {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
  -ms-flex-pack: center;
	  justify-content: center;
-webkit-box-align: center;
  -ms-flex-align: center;
	  align-items: center;
  width: 100%;
  height: 100%; }

.back-to-top__content > * {
  margin: 0; }
