@charset "UTF-8";
/**
 * ヘッダー重ねるタイプ
 */
.custom-header--full .site-header,
.custom-header--full .h-nav.rwd li:hover ul {
  background-color: attr(bg_color); }

.custom-header--full .hamburger span {
  background-color: attr(text_color); }

.custom-header--full .h-nav.rwd li:hover:not(.menu-item-has-children) {
  border-bottom-color: attr(text_color); }

.custom-header--full .site-header,
.custom-header--full .header__title a,
.custom-header--full .header__title a:hover,
.custom-header--full .header__dscr,
.custom-header--full .h-nav.rwd .h-nav__main a,
.custom-header--full .h-nav.rwd .h-nav__main a:hover {
  color: attr(text_color); }
