.footer-mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  border-top: 1px solid #eeeeee;
  text-align: center; }
  .footer-mobile-nav ul {
    padding: 0.75rem 0 0.5rem; }
  .footer-mobile-nav a {
    display: block;
    color: inherit;
    text-decoration: none; }
  .footer-mobile-nav svg,
  .footer-mobile-nav i {
    font-size: 1.5em; }

.footer-mobile-nav__dscr {
  display: block;
  font-size: 0.7em;
  line-height: 1.2; }

.has-mobile-footer .site__footer {
  padding-bottom: 5rem; }

@media (min-width: 1025px) {
    .footer-mobile-nav {
      display: none; }
    .has-mobile-footer .site__footer {
      padding-bottom: 1rem; } }
