.widget-title,
.widgettitle {
  margin: 0 0 1em;
  font-size: 1.1em;
}
.widgettitle {
  font-size: 1.2em;
}
@import "widget-categories";
@import "widget-tag-cloud";
@import "widget-archive";
@import "widget-recent-comments";
@import "widget-recent-entries";
@import "widget-calendar";
@import "widget-parts";
