@use "../../global";

$editor: false !default;

@mixin align() {
  //
  //
  //body {
	//.alignwide,
	//.alignfull {
	//  margin-right: calc(-1 * var(--ystd--container--gutter));
	//  margin-left: calc(-1 * var(--ystd--container--gutter));
	//  padding-right: var(--ystd--container--gutter);
	//  padding-left: var(--ystd--container--gutter);
	//  width: auto;
	//}
  //
  //
	//@include global.media-breakpoint(lg) {
	//  .alignwide {
	//	width: auto;
	//	margin-right: -5%;
	//	margin-left: -5%;
	//	padding-right: 5%;
	//	padding-left: 5%;
	//  }
	//  .alignfull {
	//	width: auto;
	//	margin-right: calc(-50vw + 50% + (var(--scrollbar-width) / 2));
	//	margin-left: calc(-50vw + 50% + (var(--scrollbar-width) / 2));
	//	padding-right: calc(-50% + 50vw - (var(--scrollbar-width) / 2));
	//	padding-left: calc(-50% + 50vw - (var(--scrollbar-width) / 2));
	//  }
	//}
  //
	//&.has-background {
	//  @include global.media-breakpoint(sm) {
	//	.alignwide,
	//	.alignfull {
	//	  margin-right: calc(-1 * var(--ystd--container--gutter));
	//	  margin-left: calc(-1 * var(--ystd--container--gutter));
	//	  padding-right: var(--ystd--container--gutter);
	//	  padding-left: var(--ystd--container--gutter);
	//	}
	//  }
	//  @include global.media-breakpoint(lg) {
	//	.alignfull {
	//	  width: auto;
	//	  margin-right: calc(-50vw + 50% + (var(--scrollbar-width) / 2));
	//	  margin-left: calc(-50vw + 50% + (var(--scrollbar-width) / 2));
	//	  padding-right: calc(-50% + 50vw - (var(--scrollbar-width) / 2));
	//	  padding-left: calc(-50% + 50vw - (var(--scrollbar-width) / 2));
	//	}
	//  }
	//}
  //}
  //
  //.has-sidebar {
	//.site-content {
	//  @include global.media-breakpoint(lg) {
	//	.alignwide,
	//	.alignfull {
	//	  margin-right: 0;
	//	  margin-left: 0;
	//	  padding-right: 0;
	//	  padding-left: 0;
	//	}
	//  }
	//}
  //
	//&.has-background {
	//  .content__main {
	//	@include global.media-breakpoint(lg) {
	//	  .alignwide,
	//	  .alignfull {
	//		margin-right: calc(-1 * var(--ystd--container--gutter));;
	//		margin-left: calc(-1 * var(--ystd--container--gutter));;
	//		padding-right: var(--ystd--container--gutter);
	//		padding-left: var(--ystd--container--gutter);
	//	  }
	//	}
	//  }
  //
	//  .sidebar {
	//	@include global.media-breakpoint(sm) {
	//	  .alignwide,
	//	  .alignfull {
	//		margin-right: calc(-1.5 * var(--ystd--sidebar--padding));
	//		margin-left: calc(-1.5 * var(--ystd--sidebar--padding));
	//		padding-right: calc(1.5 * var(--ystd--sidebar--padding));
	//		padding-left: calc(1.5 * var(--ystd--sidebar--padding));
	//	  }
	//	}
	//  }
	//}
  //}
  //
  //.footer-widget {
	//.footer-widget__column {
	//  @include global.media-breakpoint(sm) {
	//	.alignwide,
	//	.alignfull {
	//	  width: auto;
	//	  margin-right: 0;
	//	  margin-left: 0;
	//	  padding-right: 0;
	//	  padding-left: 0;
	//	}
	//  }
	//}
  //}
}

@if false == $editor {
  @include align();
}
