@use "../../global";

.ys-manual-link {
	display: inline-block;
	margin-top: 0.25em;
	color: global.$color__ystanadrd !important;
	font-weight: global.$font__weight_bold !important;
	font-size: 14px !important;

	&.is-inline {
		display: inline-block;
	}

	svg {
		width: 1em;
		height: 1em;
		margin-right: 0.25em;
	}
	.ys-icon {
		vertical-align: -0.1em;
	}
}

p + .ys-manual-link__wrap {
	margin-top: -0.75em;
}
