@use "../../global";

.meta-box__headline {
	margin: 2em 0 1em;
	padding-bottom: 0.25em;
	border-bottom: 1px solid global.$color__border-gray;
	font-size: 1.05em;
}

.meta-box__section {
	margin: 2em 0;

	> *:first-child {
		margin-top: 0;
	}

	input[type="text"],
	textarea {
		display: block;
		width: 100%;
	}


	.meta-box__title {
		margin: 1em 0 .5em;
	}

	.meta-box__label {
		display: block;
		margin-top: 0.5rem;
		font-weight: global.$font__weight_bold;
	}

	.meta-box__dscr {
		color: global.$color__text-light;
		font-size: 0.8em;
	}
}


.meta-box__full-w {
	width: 100%;
}

.meta-box__copy-content {
	display: flex;
}

.meta-box__copy-target {
	flex-grow: 1;
}
