@use "../../global";

.ystandard-option,
.ystandard-option #wpcontent {
  background-color: #fff;
}

.orbitron {
  font-family: Orbitron, sans-serif;
}

.ys-option__section {
  padding: 2em 0;
  border-bottom: 1px solid global.$color__border-gray;

  * {
	box-sizing: border-box;
  }

  > * {
	margin: 1.5em 0 0;
  }

  & > *:first-child {
	margin-top: 0;
  }

  h3 {
	font-size: 1.5em;
  }
}

.ys-contents {

  .ys-contents__item {
	margin-top: 1.5em;
	padding: 2em;
	box-shadow: 0 0 16px rgba(#000, 0.1);

	@include global.media-breakpoint(sm) {
	  display: flex;
	  align-items: center;
	}

	&:first-child {
	  margin-top: 0;
	}

	h3 {
	  text-align: center;
	  font-size: 1.5em;
	  color: global.$color__ystanadrd;

	  @include global.media-breakpoint(sm) {
		text-align: left;
	  }
	}
  }

  .ys-contents__icon {
	margin-right: 1.5em;
	padding: 2em;
	text-align: center;

	svg {
	  width: 64px;
	  height: 64px;
	}
  }

  .ys-contents__text {

	> * {
	  margin-top: 1.5em;
	  margin-bottom: 0;

	  &:first-child {
		margin-top: 0;
	  }
	}
  }

  .wp-block-button__link {
	display: block;
	background-color: global.$color__ystanadrd;
	color: #fff;
	font-size: .9rem;
	text-align: center;

	@include global.media-breakpoint(sm) {
	  display: inline-block;
	}
  }

  .ys-contents__detail {
	font-size: 1rem;
  }
}

.ys-option__table {
  width: 100%;
  border: 0;
  border-collapse: collapse;

  thead,
  th {
	font-weight: global.$font__weight_bold;
	text-align: left;
  }

  th,
  td {
	margin: 0;
	padding: 0.5em;
  }
}
