.sidebar {
  @at-root {
    & {
      padding: get_margin() 0;
    }

    @include media-breakpoint(pc) {
      & {
        flex: 0 0 auto;
        width: $sidebar-width;
        padding: 0 get_margin(2);
      }
    }
  }
}
