.sidebar {
  @at-root {
    & {
      width: 100%;
      padding: get_margin() 0;

      a {
        text-decoration: none;
      }
    }
    .sidebar__fixed {
      padding-top: get_margin(2);
    }

    @include media-breakpoint(pc) {
      & {
        flex: 0 0 auto;
        width: $sidebar-width;
        padding: 0 get_margin(2);
      }
    }
  }
}
