.post-paging__item {
  border-top: 1px solid $color__border-gray-light;
  color: $color__text-main;
  text-decoration: none;
  &:last-child {
    border-bottom: 1px solid $color__border-gray-light;
  }
}
.post-paging__detail {
  padding: .5rem;
}
.post-paging__navi {
  &.-prev {
    text-align: left;
  }
  &.-next {
    text-align: right;
  }
} 
.post-paging__image {
  img,
  amp-img {
    max-width: 75px;
  }
}
.post-paging__home {
  padding: 1rem;
  height: 100%;
}
