.post-paging__item {
	border-top: 1px solid $color__border-gray-light;
	color: $color__text-main;
	text-decoration: none;

	&:last-child {
		border-bottom: 1px solid $color__border-gray-light;
	}
}

.post-paging__detail {
	display: flex;
	padding: 1rem 0;



	&.-next {
		flex-direction: row-reverse;
	}
}

.post-paging__image {
	margin: 0 0.5rem;
	img,
	amp-img {
		max-width: 75px;
	}
}
.post-paging__title {
	margin: 0 0.5rem;
}

.post-paging__home {
	height: 100%;
	padding: 1rem;
}