.paging__container {
  display: flex;
}

.paging__item {
  position: relative;
  display: flex;
  align-items: center;
  flex: 0 0 50%;
  width: 50%;
  font-size: 0.9em;
  color: var(--post-paging-color);
  transition: opacity .3s;

  &:hover {
	opacity: 0.8;
  }

  &.is-prev {
	margin-right: auto;
  }

  &.is-next {
	flex-direction: row-reverse;
	margin-left: auto;
  }
}

.paging__image {
  max-width: 30%;
}

.paging__title {
  padding: 0.5em;
  margin: 0;

  a {
	color: currentColor;
	text-decoration: none;

	&:after {
	  content: "";
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	}
  }
}
