.wp-block-table {
	table {
		border-top: 1px solid var(--ystd--table--border-color);
	}
	thead {
		border-bottom: 0;
	}

	tfoot {
		border-top: 0;
	}

	td {
		border-color: var(--ystd--table--border-color);
		border-top: 0;
		border-left: 0;
		border-bottom: 1px solid var(--ystd--table--border-color);
		border-right: 0;
		padding-top: var(--ystd--table--padding-y);
		padding-bottom: var(--ystd--table--padding-y);

		&:where(:not(:last-child)) {
			padding-right: var(--ystd--table--padding-x);
		}
		&:where(:not(:first-child)) {
			padding-left: var(--ystd--table--padding-x);
		}
	}

	&.is-style-stripes {
		table,
		tr {
			border-color: transparent;
		}
	}
	&.is-vertical-align-top {
		td {
			vertical-align: top;
		}
	}
}
