@use "../../sass/global";

.wp-block-table {
  thead,
  tfoot {
	border: 0;
  }

  thead {
	th {
	  background-color: var(--ystd--site-background--light-gray);
	  font-weight: var(--ystd--font-weight--normal);
	}
  }
}
