[class*="ys-btn"] {
  display: inline-block;
  padding: .25em 2em .2em;
  text-decoration: none;
  transition: all .3s;
  &:hover {
    text-decoration: none;
  }
}

.ys-btn {
  background-color: #fff;
  border: 1px solid $border-color-dark;
  color: $font-color-main;

  &:hover {
    color: #fff;
    background-color: $border-color-dark;
  }
} 


.ys-btn--full {
  display: block;
  width: 100%;
  margin: 2em auto 0;
  text-align: center;
}

.ys-btn-large {
  padding: 1em 2em;
}
