.entry-list--list {

  .entry-list {
    padding: get_margin(2) 0;
    border-bottom: 1px solid $border-color-light;
    &:first-child {
      border-top: 1px solid $border-color-light;
    }
  }
  .entry-list__mask-wrap {

  }
  @include media-breakpoint(tb) {

    .entry-list {
      padding: get_margin(2);
      margin: 0 ( -1 * get_margin(2) );
      transition: all .3s;
      &:hover {
        background-color: $bg-color-gray;
      }
    }

    .entry-list__mask-wrap {
      width: 250px;
      float: left;
      margin-right: get_margin(2);
    }
    .entry-list__detail {
      overflow: hidden;
    }
    .entry-list__meta {
      margin: 0;
    }
  }
}
