.entry-list {
  @at-root {
    & {
      .entry__author {
        margin-top: get_margin();
      }
    }

    .entry-list__figure {
      margin: 0;
    }

    .entry-list__no-img {
      color: $font-color-gray;
      font-size: 3em;
    }

    .entry-list__meta {
      p {
        margin: 0;
      }

      i, svg {
        margin-right: 5px;
      }
    }

    .entry-list__date {
      white-space: nowrap;
    }

    .entry-list__title {
      margin: .5em 0 0;
      font-size: 1.2em;
    }

    .entry-list__excerpt {
      font-size: .8em;

      p {
        margin-top: 1em;
      }
    }

    .entry-list__link {
      color: inherit;
      text-decoration: none;
    }
  }
  // @
}
