.entry-list--list {

  .entry-list {
    padding: get_margin(2) 0;
  }
  @include media-breakpoint(tb) {

    .entry-list__thumbnail {
      width: 250px;
      float: left;
      margin-right: get_margin(2);
    }
    .entry-list__detail {
      overflow: hidden;
    }
    .entry-list__meta {
      margin: 0;
    }
  }
}
