.entry-content {
  margin-top: 2em;
  margin-bottom: 2em;

  @include child_margin();

  &::after {
	content: "";
	display: block;
	clear: both;
  }

  h1, h2, h3, h4, h5, h6 {
	margin: 3em 0 .25em;
  }
}
