.search-form {
  position: relative;
}
.search-field {
  padding-right: 2.5em;
}
.search-submit {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: transparent;
  padding: .5em 1em 0.3em;
}
