.breadcrumbs {
  @at-root {

    & {
      font-size: .7em;
      line-height: 1;
      margin-bottom: 15px;
      a {
        text-decoration: none;
      }
    }
    .breadcrumbs__list {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .breadcrumbs__item {
      display: inline;
      &::after {
        content: "/";
        margin: 0 5px;
      }
      &:last-child::after {
        content: "";
        margin: 0;
      }
    }
    @include media-breakpoint(tb) {
      & {
      }
    }
  }// @
}
