.archive__header-author {
  @at-root {
    & {
      padding: get_margin(2) get_margin(1);
      margin-bottom: get_margin(2);
      background-color: $bg-color-gray;
    }
    @include media-breakpoint(pc) {
      & {
        padding: get_margin(2);
      }
    }
    
  }// @
}
