@use "../../global";

.site-content {
  margin-top: var(--ystd-container-margin-vertical);
  margin-bottom: var(--ystd-container-margin-vertical);

  @include global.media-breakpoint(lg) {
	--ystd-container-margin-vertical: calc(2 * var(--ystd-layout-gap));
  }
}

.content__main,
.archive__main {
  width: 100%;
  margin-right: var(--ystd-content-horizon-margin);
  margin-bottom: var(--ystd-content-margin-bottom);
  margin-left: var(--ystd-content-horizon-margin);
  padding: var(--ystd-content-padding);
}

.content__main {
  background-color: var(--content-bg);

  @include global.media-breakpoint(lg) {
	max-width: var(--ystd-content-default-width);
  }
}
.archive__main {
  @include global.media-breakpoint(lg) {
	padding-right: 0;
	padding-left: 0;
  }
}

.has-sidebar {
  .content__wrap {
	@include global.media-breakpoint(lg) {
	  display: flex;
	  justify-content: space-between;
	}
  }

  .content__main,
  .archive__main {
	@include global.media-breakpoint(lg) {
	  width: min(var(--ystd-content-min-width), var(--ystd-content-default-width));
	  margin-left: 0;
	}
  }

  .archive__main {
	@include global.media-breakpoint(lg) {
	  padding-top: 0;
	  padding-bottom: 0;
	}
  }
}

body:not(.has-sidebar) {
  .site-content {
	overflow: hidden;
  }
}

.is-wide {
  .content__main {
	max-width: 100%;
  }
}

.has-background,
.has-content-bg-color {
  .content__main,
  .archive__main {
	--ystd-content-padding: calc(var(--ystd-layout-gap));

	@include global.media-breakpoint-down(sm) {
	  width: auto;
	  max-width: unset;
	  --ystd-content-horizon-margin: calc(-1 * var(--ystd-layout-gap));
	  --ystd-content-padding: var(--ystd-layout-gap);
	}
  }
}

.has-background {
  .site-content {
	--ystd-container-margin-vertical: 0;

	@include global.media-breakpoint(sm) {
	  --ystd-container-margin-vertical: calc(2 * var(--ystd-layout-gap));
	}
  }

  &.home {
	.site-content {
	  margin-top: var(--ystd-layout-gap);
	}
  }
}
