.entry-paging {
  @at-root {
    & {
    }
    .entry-paging__info {
      font-size: .9em;
    }
    .entry-paging__info--prev {
      text-align: left;
    }
    .entry-paging__info--next {
      text-align: right;
    }
    .entry-paging__title {
      margin: .5em 0 0;
      font-size: .9em;
    }
    .entry-paging__home {
      height: 100%;
      font-size: 3em;
      text-decoration: none;
    }
    @include media-breakpoint(tb) {
      .entry-paging__title {
        font-size: 1em;
      }
    }

  }// @
}
