.one-col {
  .site__content {
    overflow: hidden;
  }
  .content__main {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .entry__title {
    font-size: 1.2em;
    margin-bottom: .5em;
  }
  @include media-breakpoint(pc) {
    .entry__title {
      font-size: 1.4em;
    }
  }
  &.front-page--cunstom {
    .site__content {
      margin: 0;
      overflow: hidden;
    }
  }
}
.one-col--singular {
  .breadcrumbs__list,
  .content__main {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
.has-thumbnail {
  .entry__header--one-col {
    min-height: 200px;
    @include media-breakpoint(pc) {
      min-height: 300px;
    }
  }
  .entry__title--one-col {
    color: #fff;
  }
}
.entry__header--one-col {
  position: relative;
  .entry__thumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    &:before {
      content: "";
      position: absolute;
      top:0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient( transparent, rgba(#000,.5) );
      z-index: 1;
    }
  }
  .entry__thumbnail-image {
    position: relative;
    margin: auto;
    width: 100%;
    min-width: 100%;//AMP対策
    height: 100%;
    object-fit: cover;
    z-index: 0;
    img {
      object-fit: cover;
    }
  }
}
.entry__title--one-col {
  position: relative;
  width: 100%;
  max-width: ( 900px + get_margin(2) );
  margin-left: auto;
  margin-right: auto;
  padding-left: get_margin(1);
  padding-right: get_margin(1);
  z-index: 3;
}
