.post-term__item {
	display: inline-block;
	margin-right: 1rem;
	margin-bottom: 0.5rem;
	&:last-child {
		margin-right: 0;
	}
}

.post-term__link {
	display: block;
	color: $color__text-main;
	font-size: 0.9rem;
	text-decoration: none;

	i,
	svg {
		margin-right: 0.1rem;
	}
}