//
// Author Box
//
.author-box__block {
	margin-top: 0.5em;
}

.author-box__img {
	width: 96px;
	height: auto;
	margin: 0 auto;
	border-radius: 50%;
}

.author-box__name {
	font-size: 1.1em;
}

.author-box__sns {
	display: inline-block;
}

.author-box__sns-item {
	margin-right: 0.5em;

	&:last-child {
		margin-right: 0;
	}
}

.author-box__dscr {
	p {
		margin-top: 0.25em;
		text-align: left;
	}
}