.author-box__header {
  display: flex;
}

.author-box__avatar {
  width: 96px;
  margin-right: 1em;

  img {
	border-radius: 50%;
  }
}

.author-box__name {
  margin: 0;
  font-size: 1.1em;
  font-weight: $font__weight_bold;
}

.author-box__position {
  margin: 0;
  font-size: 0.8em;
  color: var(--font-gray);
}

.author-box__sns {
  display: flex;
  margin-top: 0.5em;
  margin-right: -0.5em;
  margin-left: -0.5em;
  padding: 0;
  list-style: none;

  svg {
	width: 1em;
  }
}

.author-box__sns-link {
  padding: 0.5em;
  color: currentColor;

  &:hover {
	color: currentColor;
	filter: brightness(1.2);
  }
}

.author-box__description {
  margin-top: 1em;
  @include child_margin(1em);
  font-size: 0.9em;
}
