
.h-nav {
  @at-root {
    //
    // レスポンシブ
    //
    &.rwd {
      @include media-breakpoint(lg) {
        padding: 0;
        .h-nav__btn {
          display: none;
        }
        .h-nav__main {
          display: block;
          position: relative;
          padding: 0;
          background-color: unset;
          opacity: 1;
          visibility: visible;
          & > ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: unset;
            overflow-y: visible;
          }
          a {
            color: inherit;
            font-size: .9rem;
          }
        }
        li {
          position: relative;
          border-bottom: 1px solid transparent;
          transition: all .3s;
          //2層
          ul {
            position: absolute;
            height: 0;
            top: 100%;
            left: 0;
            visibility: hidden;
            white-space: nowrap;
            opacity: 0;
            transition: all .3s;
            a {
              padding-left: 1rem;
            }
            li {
              border-bottom: 1px solid $color__border-gray-light;
            }
          }
          &:last-child {
            ul {
              left: unset;
              right: 0;
              text-align: right;
            }
          }
          //2層ul
          &:hover {
            &:not(.has-child) {
              border-bottom: 1px solid $color__border-dark;
            }
            ul {
              min-width: 100%;
              height: auto;
              background-color: rgba(#fff, .9);
              opacity: 1;
              visibility: visible;
            }
          }
          // &:hover
        }
        //li
      }
    }

    &.-center {
      @include media-breakpoint(lg) {
        a {
          padding: 1rem 2rem;
        }
        li {
          ul {
            a {
              padding-left: 2rem;
            }
          }
        }
      }
    }
    &.-row2 {
      @include media-breakpoint(lg) {
        a {
          padding: 1rem 0;
        }
        li {
          margin-right: 1.5rem;
          ul {
            a {
              padding: 1rem 0;
            }
            li {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
  //@root
}
