
.h-nav {
	@at-root {
		& {
			ul,
			li {
				margin: 0;
				padding: 0;
				list-style: none;
			}

			li {
				//2層
				ul {
					a {
						padding-left: 2.5rem;
					}
				}
			}

			a {
				display: block;
				padding: 1rem 1rem;
				text-decoration: none;
			}

			label {
				cursor: pointer;

				appearance: none;
			}
		}



		.hamburger {
			display: inline-block;
			position: relative;
			width: 30px;
			height: 22px;

			span {
				display: inline-block;
				position: absolute;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: $color__text-main;
				border-radius: 4px;
				transition: all 0.4s;

				&.top {
					top: 0;
				}
				&.middle {
					top: 10px;
				}
				&.bottom {
					bottom: 0;
				}
			}
		}

		.h-nav__btn {
			position: absolute;
			top: 50%;
			right: 1rem;
			z-index: 20;
			transform: translateY(-50%);
		}

		.h-nav__main {
			display: flex;
			align-items: center;
			flex-direction: column-reverse;
			justify-content: center;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 10;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 2rem;
			background-color: rgba(#000000, 0.9);
			visibility: hidden;
			transition: all 0.3s ease;
			opacity: 0;
			& > ul {
				position: relative;
				max-width: 500px;
				max-height: 100%;
				overflow-y: auto;

				-webkit-overflow-scrolling: touch;
				&::-webkit-scrollbar {
					width: 1px;
				}
				&::-webkit-scrollbar-track {
					background-color: rgba(#ffffff, 0.2);
				}
				&::-webkit-scrollbar-thumb {
					background-color: rgba(#ffffff, 0.9);
				}
			}
			a {
				color: #ffffff;
			}
		}

		//ハンバーガーボタンを押された時
		#h-nav__toggle:checked {
			& ~ .h-nav__btn {
				.hamburger {
					span {
						background-color: #ffffff;
					}
					span.top {
						transform: translateY(10px) rotate(-45deg);
					}
					span.middle {
						opacity: 0;
					}
					span.bottom {
						transform: translateY(-10px) rotate(45deg);
					}
				}
				//hamburger
			}
			& ~ .h-nav__main {
				visibility: visible;
				opacity: 1;
			}
		}

		&.rwd {
			padding-top: 0;
			padding-bottom: 0;
		}
		.h-nav__search {
			margin-top: 1rem;
			input,
			button {
				background-color: transparent;
			}
		}
		.h-nav__dscr {
			display: none;
		}
	}
	//@
}