@include media-breakpoint(md) {
	.site__content {
		@at-root {
			.breadcrumbs + & {
				margin-top: 0.5rem;
			}
		}
	}
}

@include media-breakpoint(lg) {
	.site__content {
		@at-root {
			.has-sidebar & {
				overflow: unset;
			}
			.breadcrumbs + & {
				margin-top: 1rem;
			}
		}
	}
	.content__container {
		@at-root {
			.has-sidebar & {
				display: flex;
				justify-content: space-between;
			}
		}
	}

	.content__wrap {
		@at-root {
			.has-sidebar & {
				flex: 0 0 calc(100% - #{$width__sidebar} - 4rem);
				max-width: calc(100% - #{$width__sidebar} - 4rem);
				margin-right: 0;
				margin-left: 0;
			}
		}
	}
	.content__main {
		@at-root {
			.has-sidebar & {
				height: 100%;
			}
		}
	}
}