.site__content {
	@at-root {
		& {
			margin-top: 1rem;
			margin-bottom: 1rem;
			overflow: hidden;
		}
		.breadcrumbs + & {
			margin-top: 0;
		}

		.full-width & {
			margin-top: 0;
			margin-bottom: 0;
			background-color: #ffffff;
		}
	}
}

.content__wrap {
	@at-root {
		& {
			width: 100%;
			margin-right: auto;
			margin-left: auto;
		}
	}
}

.content__main {
	background-color: $color__bg-content;
}

.content__title {
	margin: 0 0 1em;
}