.site__content {
  @at-root {
    & {
      margin-top: 2rem;
      overflow: hidden;
    }
  }
}

.content__main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: $color__bg-content;
}

.content__title {
  margin: 0 0 1em;
}
