@use "../../global";

:where(input,textarea,select,button) {
	padding: 0.5rem;
	background-color: var(--ystd--form--background);
	border: 1px solid var(--ystd--form--border-color);
	border-radius: 2px;
	color: var(--ystd--form--text-color);
	font-size: 1em;
}

:where(input[type="text"],input[type="search"],input[type="url"],input[type="email"],input[type="tel"],textarea,select) {
	display: block;
	width: 100%;
	-webkit-appearance: none;
}

:where(button,input[type="reset"],input[type="submit"],input[type="button"]) {
	display: var(--ystd--button--display);
	padding: var(--ystd--button--padding);
	background-color: var(--ystd--button--background-color);
	border-radius: var(--ystd--button--border-radius);
	border-width: var(--ystd--button--border-width);
	border-color: var(--ystd--button--border-color);
	border-style: var(--ystd--button--border-style);
	color: var(--ystd--button--text-color);
	font-size: var(--ystd--button--font-size);
	text-decoration: none;
	transition: all 0.3s;

	@media (hover: hover) {
		&:hover {
			color: var(--ystd--button--hover--text-color);
			background-color: var(--ystd--button--hover--background);
			border-color: var(--ystd--button--hover--border-color);
			box-shadow: var(--ystd--button--box-shadow);
		}
	}

	svg {
		width: var(--ystd--button--icon--size);
		height: var(--ystd--button--icon--size);
	}
}
