@use "../../styles/global";


:where(.wp-block-media-text) {

	--ystd--media-text--gap--mobile: var(--ystd--container--gutter);
	--ystd--media-text--gap--desktop: calc(var(--ystd--container--gutter) * 2);
	--ystd--media-text--gap: var(--ystd--media-text--gap--mobile);
	--ystd--media-text--content--max-width: calc(var(--wp--style--global--wide-size) / 2 - var(--ystd--media-text--gap));

	--ystd--media-text--padding-x--mobile: 0;
	--ystd--media-text--padding-y--mobile: 0;
	--ystd--media-text--padding-x--desktop: 0;
	--ystd--media-text--padding-y--desktop: 0;

	--ystd--media-text--padding-top--mobile: var(--ystd--media-text--padding-y--mobile);
	--ystd--media-text--padding-right--mobile: var(--ystd--media-text--padding-x--mobile);
	--ystd--media-text--padding-bottom--mobile: var(--ystd--media-text--padding-y--mobile);
	--ystd--media-text--padding-left--mobile: var(--ystd--media-text--padding-x--mobile);
	--ystd--media-text--padding-top--desktop: var(--ystd--media-text--padding-y--desktop);
	--ystd--media-text--padding-right--desktop: var(--ystd--media-text--padding-x--desktop);
	--ystd--media-text--padding-bottom--desktop: var(--ystd--media-text--padding-y--desktop);
	--ystd--media-text--padding-left--desktop: var(--ystd--media-text--padding-x--desktop);

	gap: var(--ystd--media-text--gap);

	@media (min-width: 600px) {
		--ystd--media-text--gap: var(--ystd--media-text--gap--desktop);
	}

	:where(.wp-block-media-text__content) {

		> * {
			margin-bottom: 0;

			+ *:where(:not(h1,h2,h3,h4,h5,h6,.alignfull)) {
				margin-top: var(--ystd--media-text--content--gap, var(--ystd--block-gap));
			}
		}
	}
	/**
	 * 右に画像
	 */
	&:where(.has-media-on-the-right) {
		> :where(.wp-block-media-text__content) {
			width: 100%;
		}
	}

	/**
	 * 全幅
	 */
	&:where(.alignfull) {

		> :where(.wp-block-media-text__content) {
			width: 100%;
			max-width: min(var(--ystd--media-text--content--max-width), calc(100% - var(--ystd--container--gutter)));

			@media (max-width: 600px) {
				width: var(--ystd--container--size);
				max-width: 100%;
				margin-right: auto;
				margin-left: auto;
			}
		}
	}

	/**
	 * 右に画像
	 */
	&:where(.has-media-on-the-right) {
		> :where(.wp-block-media-text__content) {
			margin-left: auto;
		}
	}

	/**
	 * スマホで１列表示
	 */
	&:where(.is-stacked-on-mobile) {
		--ystd--media-text--padding-y--mobile: var(--ystd--container--gutter);

		@media (max-width: 600px) {
			--ystd--media-text--gap: 0;
		}
	}

	/**
	 * 背景色がある場合
	 */
	&:where(.has-background) {
		&:where(.is-stacked-on-mobile) {
			--ystd--media-text--padding-x--mobile: var(--ystd--container--gutter);
		}

		// 右画像
		&:where(.has-media-on-the-right) {
			--ystd--media-text--padding-left--desktop: var(--ystd--container--gutter);

			// モバイルでも横並び
			&:where(:not(.is-stacked-on-mobile)) {
				--ystd--media-text--padding-left--mobile: var(--ystd--container--gutter);
			}
		}
		// 左画像
		&:where(:not(.has-media-on-the-right)) {
			--ystd--media-text--padding-right--desktop: var(--ystd--container--gutter);

			// モバイルでも横並び
			&:where(:not(.is-stacked-on-mobile)) {
				--ystd--media-text--padding-right--mobile: var(--ystd--container--gutter);
			}
		}


	}
}

/**
 * コアスタイル上書き
 */
.wp-block-media-text {

	> .wp-block-media-text__content {

		padding-top: var(--ystd--media-text--padding-top--mobile);
		padding-right: var(--ystd--media-text--padding-right--mobile);
		padding-bottom: var(--ystd--media-text--padding-bottom--mobile);
		padding-left: var(--ystd--media-text--padding-left--mobile);

		@media (min-width: 600px) {
			padding-top: var(--ystd--media-text--padding-top--desktop);
			padding-right: var(--ystd--media-text--padding-right--desktop);
			padding-bottom: var(--ystd--media-text--padding-bottom--desktop);
			padding-left: var(--ystd--media-text--padding-left--desktop);
		}
	}
}
