@use "../../sass/global";


:where(.wp-block-media-text) {

	--ystd--media-text--gap--mobile: var(--ystd--container--gutter);
	--ystd--media-text--gap--desktop: calc(var(--ystd--container--gutter) * 2);
	--ystd--media-text--gap: var(--ystd--media-text--gap--mobile);
	--ystd--media-text--content--max-width: calc(var(--wp--style--global--wide-size) / 2 - var(--ystd--media-text--gap));

	gap: var(--ystd--media-text--gap);

	@media (min-width: 600px) {
		--ystd--media-text--gap: var(--ystd--media-text--gap--desktop);
	}

	:where(.wp-block-media-text__content) {
		--ystd--media-text--padding-x--mobile: 0;
		--ystd--media-text--padding-x--desktop: 0;
		--ystd--media-text--padding-y--mobile: 0;
		--ystd--media-text--padding-y--desktop: 0;

		> * {
			margin-bottom: 0;

			+ *:where(:not(h1,h2,h3,h4,h5,h6,.alignfull)) {
				margin-top: var(--ystd--media-text--content--gap, var(--ystd--block-gap));
			}
		}
	}

	&:where(.alignfull) {

		> :where(.wp-block-media-text__content) {
			width: 100%;
			max-width: min(var(--ystd--media-text--content--max-width),calc(50vw - var(--ystd--container--gutter) - var(--ystd--media-text--gap)));
			
			@media (max-width: 600px) {
				width: var(--ystd--container--size);
				max-width: 100%;
				margin-right: auto;
				margin-left: auto;
			}
		}
	}

	&:where(.has-media-on-the-right) {
		> :where(.wp-block-media-text__content) {
			margin-left: auto;
		}
	}

	// スマホで１列表示
	&:where(.is-stacked-on-mobile) {
		@media (max-width: 600px) {
			--ystd--media-text--gap: 0;
		}

		> :where(.wp-block-media-text__content) {
			--ystd--media-text--padding-y--mobile: var(--ystd--container--gutter);
		}

	}
}

/**
 * コアスタイル上書き
 */
.wp-block-media-text {

	> .wp-block-media-text__content {

		padding: var(--ystd--media-text--padding-y--mobile) var(--ystd--media-text--padding-x--mobile);

		@media (min-width: 600px) {
			padding: var(--ystd--media-text--padding-y--desktop) var(--ystd--media-text--padding-x--desktop);
		}
	}
}


//
//.wp-block-media-text {
//
//	&:not(.has-media-on-the-right) {
//		.wp-block-media-text__content {
//			padding-right: 0;
//		}
//	}
//
//	&.has-media-on-the-right {
//		.wp-block-media-text__content {
//			padding-left: 0;
//		}
//	}
//
//	&.has-background {
//		.wp-block-media-text__content {
//			padding: 1em;
//
//			@include global.media-breakpoint(sm) {
//				padding: 1em 2em;
//			}
//		}
//	}
//
//
//	@media (max-width: 600px) {
//		&.is-stacked-on-mobile.has-media-on-the-right {
//			.wp-block-media-text__media {
//				grid-column: 1;
//				grid-row: 1;
//			}
//
//			.wp-block-media-text__content {
//				grid-column: 1;
//				grid-row: 2;
//			}
//		}
//		&.is-stacked-on-mobile:not(.has-background) {
//			.wp-block-media-text__content {
//				padding: 1em 0;
//			}
//		}
//	}
//}
