.sidebar {
  flex: 1 1 100%;
  width: 100%;
}
.sidebar__item {
  margin-top: 1rem;
  padding: 1rem;
  &:first-child {
    margin-top: 0;
  }
  & > * {
    &:first-child {
      margin-top: 0;
    }
  }
}

.sidebar__fixed {
  position: sticky;
  top: 1rem;
}

.has-sidebar {
  .site__content {
    overflow: unset;
  }
  .content__main {
  }
  .sidebar {
    max-width: $width__content;
    margin-right: auto;
    margin-left: auto;
  }
}

@include media-breakpoint(lg) {
  .has-sidebar {
    .content-area {
      display: flex;
    }
    .content__main {
      flex: 1 1 calc(100% - #{$width__sidebar});
      padding: 1rem;
    }
    .sidebar {
      flex: 1 1 $width__sidebar;
      max-width: $width__sidebar;
      padding: 1rem;
    }
  }
}
