.aligncenter,
.alignleft,
.alignright {
	display: block;
}

.aligncenter {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.alignwide,
.alignfull {
	margin-right: -1rem;
	margin-left: -1rem;
	padding-right: 1rem;
	padding-left: 1rem;
}