@include media-breakpoint(md) {
	.alignleft {
		margin-right: 1rem;
		margin-bottom: 1rem;
		float: left;
	}
	.alignright {
		margin-bottom: 1rem;
		margin-left: 1rem;
		float: right;
	}
}

@include media-breakpoint(lg) {
	.alignwide {
		@at-root {
			& {
				width: auto;
				margin-right: -4.5rem;
				margin-left: -4.5rem;
			}

			.has-sidebar & {
				margin-right: 0;
				margin-left: 0;
			}
		}
	}

	.alignfull {
		@at-root {
			& {
				width: auto;
				margin-right: calc(-50vw + 50%);
				margin-left: calc(-50vw + 50%);
				padding-right: calc(-50% + 50vw);
				padding-left: calc(-50% + 50vw);
			}

			.has-sidebar & {
				margin-right: 0;
				margin-left: 0;
			}
		}
	}
}