.wp-block-gallery,
.blocks-gallery-grid {
  display: grid;
  column-gap: 1px;
  row-gap: 1px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.wp-block-gallery {

  @for $i from 1 through 4 {
    &.columns-#{$i} {
      .blocks-gallery-grid {
        grid-template-columns: repeat($i, 1fr);
        grid-template-rows: auto;
      }
    }
  }

  &.is-cropped {
    @supports ( object-fit: cover ) {
      .blocks-gallery-item {
        display: flex;
        flex-direction: column;
      }
      figure {
        position: relative;
        flex-grow: 1;
      }
      figcaption {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(#000, 0.4);
        color: #fff;
        z-index: 2;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &.alignfull {
    padding-right: 0;
    padding-left: 0;
  }
}

.blocks-gallery-item__caption {
  font-size: .8em;
}
