.wp-block-latest-posts {
  list-style: none;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;

  li {
    padding: .5rem 0;
  }

  &.has-dates:not(.is-grid) {
    li {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    .wp-block-latest-posts__post-date {
      flex: 0 0 70px;
      max-width: 70px;
      order: 1;
      margin-top: .25rem;
    }

    a {
      flex: 0 0 calc( 100% - 70px - .5rem);
      max-width: calc( 100% - 70px - .5rem);
      order: 2;
    }

    .wp-block-latest-posts__post-excerpt {
      order: 3;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  &.is-grid {
    .wp-block-latest-posts__post-date {
      display: block;
    }
  }
}

.wp-block-latest-posts__post-date,
.wp-block-latest-posts__post-excerpt {
  font-size: .8rem;
}

.wp-block-latest-posts__post-date {
  margin-right: .5rem;
  color: $color__text-light;
}
.wp-block-latest-posts__post-excerpt {
  margin: .5rem 0 1rem;
  a {
    display: block;
  }
}

@if $editor == true {
  .wp-block-latest-posts__post-excerpt {
    max-height: 2.5rem;
    overflow: hidden;
  }
}

