.wp-block-cover {
  @at-root {
    & {
      position: relative;
      display: flex;
      align-items: center;
      min-height: 500px;
      padding: 2rem 1rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #000;
    }
    &.has-parallax {
      background-size: 100% auto;
      background-position: top center;
    }

    .wp-block-cover__inner-container {
      position: relative;
      width: 100%;
      margin: 0 auto;
      z-index: 2;
    }
  }
}
