.wp-block-media-text {
}

.wp-block-media-text__content {
  padding: 1rem 0;

  & > *:first-child {
    margin-top: 0;
  }
}

.is-stacked-on-mobile {
  position: relative;
  background-color: #000;

  .wp-block-media-text__media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: inherit;
    z-index: 1;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: inherit;
      opacity: .75;
      z-index: 2;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .wp-block-media-text__content {
    position: relative;
    z-index: 3;
    padding: 2rem;
    color: #fff;
  }
}
