.wp-block-group {
  
  &.has-background {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    &:not(.alignfull) {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
    
    &.alignfull {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

.wp-block-group__inner-container {
  & > *:first-child {
    margin-top: 0;
  }
}
