//
// ブロック関連
//
@import "align";
@import "align-d";
//@import "text";
//@import "paragraph";
//@import "image";
//@import "gallery";
//@import "cover";
//@import "background-dim";
//@import "file";
//@import "video";
//@import "pullquote";
//@import "verse";
//@import "spacer";
//@import "button";
//@import "columns";
//@import "media-text";
//@import "separator";
//@import "latest-posts";
//@import "search";
//@import "embed";
//@import "calendar";
//@import "table";
//@import "group";
//@import "quote";
//@import "latest-comments";
//@import "rss";
//@import "tag-cloud";

/**
 * paragraph
 */
p.has-background {
  padding: 1rem 1.5rem;
}

.has-drop-cap:not(:focus):first-letter {
  float: none;
  font-size: 3em;
  font-weight: 400;
  vertical-align: -0.05em;
  margin-right: 0.05em;
}


.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
  margin-top: 1.5em;
  padding: 1.5rem 1rem 1.5rem 2.5rem;
}

.wp-block-file .wp-block-file__button,
.wp-block-button__link {
  border-radius: 0.5em;

  &:hover {
	box-shadow: 4px 4px 8px rgba(#000, .15);
  }
}

.wp-block-pullquote blockquote {
  background: none;
  border: 0;

  &::before {
	content: "";
  }
}

.wp-block-table.is-style-stripes table,
.wp-block-table.is-style-stripes tr {
  border-color: transparent;
}

.wp-block-media-text {

  &.is-stacked-on-mobile {
	.wp-block-media-text__content {
	  padding: 1em 0;

	  @include media-breakpoint(md) {
		padding: 0 2em;
	  }
	}
  }

  &.has-background {
	.wp-block-media-text__content {
	  padding: 1em;

	  @include media-breakpoint(md) {
		padding: 1em 2em;
	  }
	}
  }
}

.wp-block-media-text + .wp-block-media-text {
  margin-top: 0;
}

.wp-block-group__inner-container {
  margin-top: 1.5em;

  &:first-child {
	margin-top: 0;
  }
}

.wp-block-group.has-background {
  padding-top: 2em;
  padding-bottom: 2em;

  &:not(.alignwide):not(.alignfull) {
	padding-right: 1.5em;
	padding-left: 1.5em;
  }
}

.wp-calendar-table {
  thead {
	th {
	  text-align: center;
	}
  }
}

.wp-calendar-nav {
  display: flex;

  border-right: 1px solid #e2e4e7;
  border-bottom: 1px solid #e2e4e7;
  border-left: 1px solid #e2e4e7;

  > * {
	padding: 4px 0.5em;
  }

  .pad {
	margin: 0 auto;
  }
}

.wp-calendar-nav-prev {
  margin-right: auto;
}

.wp-calendar-nav-next {
  margin-left: auto;
}

.wp-block-latest-posts.wp-block-latest-posts__list {
  padding: 0;

  a {
	text-decoration: none;
  }

  li {
	overflow: hidden;
	padding: .5em 0;
	border-bottom: 1px solid $color__border-gray-light;
  }

  time {
	margin-top: .25em;
  }

  .wp-block-latest-posts__post-excerpt {
	font-size: .8em;
	margin-top: .25em;
	color: $color__text-light;
	line-height: 1.5;
	overflow: hidden;
  }

  .wp-block-latest-posts__featured-image {
	margin-top: 1em;
	margin-bottom: .5em;
  }

  &.has-dates.is-one-line {
	li {
	  display: flex;
	  align-items: flex-start;
	}

	time {
	  order: 1;
	  margin-top: .25em;
	  margin-right: 1em;
	}

	a {
	  order: 2;
	  flex-grow: 1;
	}

	.wp-block-latest-posts__post-excerpt {
	  order: 3;
	  max-width: 30%;
	  margin: 0 0 0 .5em;
	}
  }

  &.is-grid {
	.wp-block-latest-posts__featured-image {
	  margin-top: 0;
	}

	a {
	  display: block;
	  line-height: 1.4;
	  font-weight: 700;
	  color: inherit;
	}
  }

  .wp-block-latest-posts__featured-image {
	&.alignleft,
	&.alignright {

	  & + a {
		display: block;
		margin-top: 1em;
	  }
	}
  }
}

.wp-block-latest-comments {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.wp-block-latest-comments__comment {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;

  &:first-child {
	margin-top: 1rem;
  }

  article {
	flex-grow: 1;
  }
}

.wp-block-latest-comments__comment {
  padding: 1rem;
  border: 1px solid $color__border-gray-light;

  .wp-block-latest-comments__comment-excerpt {
	> * {
	  margin: 1em 0 0;

	  &:first-child {
		margin-top: 0;
	  }
	}
  }
}

.wp-block-latest-comments__comment-avatar {
  min-width: 42px;
  margin-right: 1rem;
  border-radius: 50%;
}

.wp-block-latest-comments__comment-author {
  color: $color__text-main;
  font-style: normal;
}

.wp-block-latest-comments__comment-date {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.wp-block-latest-comments__comment-excerpt {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid $color__border-gray-light;
}

.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt,
.has-avatars .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta {
  margin-left: 0;
}


@if $editor == true {
  .wp-block-pullquote,
  .wp-block-quote {
	border: 0;
  }
  .wp-block-quote {
	position: relative;
	padding: 1.5rem 1rem 1.5rem 2.5rem;
	background-color: rgba(241, 241, 243, .5);
	border-left: 1px solid #bdc3c7;
	font-size: .95em;

	&::before {
	  content: "“";
	  position: absolute;
	  top: .5rem;
	  left: .5rem;
	  font-family: sans-serif;
	  font-size: 4rem;
	  line-height: 1;
	  opacity: .08;
	}
  }
  .wp-block-table {
	thead,
	tfoot {
	  border: 0;
	}

	thead {
	  th {
		background-color: $color__bg-gray-light;
		font-weight: 400;
	  }
	}
  }
}
