.wp-block-media-text {
  @at-root {
    @include media-breakpoint(md) {
      & {
        display: grid;
        grid-template-rows: auto;
        grid-template-areas: "media-text-media media-text-content";
        grid-template-columns: 50% auto;
        align-items: center;
      }
      &.is-vertically-aligned-top {
        align-items: start;
      }
      &.is-vertically-aligned-center {
        align-items: center;
      }
      &.is-vertically-aligned-bottom {
        align-items: end;
      }
      &.has-background {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
      .wp-block-media-text__media {
        grid-area: media-text-media;
      }
      &.is-image-fill {
        .wp-block-media-text__media {
          position: relative;
          background-size: cover;
          height: 100%;
          widows: 100%;
         
          img {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0,0,0,0);
            border: 0;
          }
          
        }
      }
      .wp-block-media-text__content {
        grid-area: media-text-content;
        padding: 2rem;
      }

      .has-media-on-the-right {
        grid-template-areas: "media-text-content media-text-media";
      }

      .is-stacked-on-mobile {
        position: relative;
        background-color: transparent;

        .wp-block-media-text__media {
          position: relative;
          background-color: transparent;

          &:before {
            display: none;
          }

          img {
            height: auto;
            width: auto;
            object-fit: unset;
          }
        }

        .wp-block-media-text__content {
          position: relative;
          color: inherit;
        }
      }
    }
  }
}

@if ($editor == true) {
  @include media-breakpoint(md) {
    .wp-block-media-text {

      .editor-block-list__layout > .editor-block-list__block {
        .block-editor-block-list__block-edit {
          margin-bottom: 0;
        }

        &:first-of-type .block-editor-block-list__block-edit {
          margin-top: 0;
        }
      }
    }
  }
}



