.wp-block-columns {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-right: -1rem;
  margin-left: -1rem;

  @for $i from 1 through 2 {
    &.has-sm-#{$i}-columns {
      .wp-block-column {
        flex: 0 0 decimal-floor( 1 / $i , 4) * 100#{"%"};
        max-width: decimal-floor( 1 / $i , 4) * 100#{"%"};
      }
    }
  }
}

.wp-block-column {
  padding: 1rem;
  flex: 0 0 100%;
  max-width: 100%;

  & > * {
    margin: 1rem 0 0;

    &:first-child {
      margin-top: 0;
    }

  }
}
