@include media-breakpoint(md) {
	.wp-block-columns {
		display: flex;
		flex-wrap: nowrap;
	}
	.wp-block-column {
		flex-basis: calc(50% - 0.5rem);
		flex-grow: 0;
		max-width: calc(50% - 0.5rem);

		&:not(:first-child) {
			margin-left: 1rem;
		}

		&.is-vertically-aligned-top {
			align-self: flex-start;
		}

		&.is-vertically-aligned-center {
			align-self: center;
		}

		&.is-vertically-aligned-bottom {
			align-self: flex-end;
		}
	}
}