.wp-block-cover {
	@at-root {
		& {
			display: flex;
			align-items: center;
			position: relative;
			min-height: 500px;
			padding: 2rem 1rem;
			background-color: #000000;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}

		&.has-parallax {
			background-attachment: fixed;
		}

		@supports ( -webkit-overflow-scrolling: touch ) {
			&.has-parallax {
				background-attachment: scroll;
			}
		}

		.wp-block-cover__inner-container {
			position: relative;
			z-index: 2;
			width: 100%;
			margin: 0 auto;

			& > * {
				margin-top: 1em;

				&:first-child {
					margin-top: 0;
				}
			}
		}
	}
}


@if $editor == true {
	.wp-block-cover-image .wp-block-cover__inner-container,
	.wp-block-cover .wp-block-cover__inner-container,
	.wp-block-cover-image .block-editor-block-list__block,
	.wp-block-cover .block-editor-block-list__block {
		color: inherit;
	}
}