.wp-block-file {
	a:not(.wp-block-file__button) {
		font-size: 1.2em;
		font-weight: 600;
	}
}

.wp-block-file__button {
	@include button();

	margin-left: 2em;

	&:hover {
		color: #ffffff;
	}
}

@if $editor == true {
	.wp-block-file {
		.rich-text:not(.wp-block-file__button) {
			font-size: 1.2em;
			font-weight: 600;
		}
	}
}
