.wp-block-gallery,
.blocks-gallery-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  list-style: none;
}

.wp-block-gallery {
  margin-right: -1px;
  margin-left: -1px;
  
  @for $i from 1 through 4 {
    &.columns-#{$i} {
      .blocks-gallery-item {
        flex: 0 0 decimal-floor( 1 / $i , 4) * 100#{"%"};
        max-width: decimal-floor( 1 / $i , 4) * 100#{"%"};
      }
    }
  }

  &.is-cropped {
    @supports ( object-fit: cover ) {
      .blocks-gallery-item {
        display: flex;
        flex-direction: column;
      }
      figure {
        position: relative;
        flex-grow: 1;
      }
      figcaption {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(#000, 0.4);
        color: #fff;
        z-index: 2;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &.alignfull {
    padding-right: 0;
    padding-left: 0;
  }
}

.blocks-gallery-grid {
  margin: 0;
}

.blocks-gallery-item {
  border: 1px solid transparent;
}

.blocks-gallery-item__caption {
  font-size: .8em;
}
