.wp-block-group.has-background {
  padding-top: 2em;
  padding-bottom: 2em;

  &:not(.alignwide):not(.alignfull) {
    padding-right: 1.5em;
    padding-left: 1.5em;
  }
}
.wp-block-group__inner-container {
  @include child_margin();
}