.wp-block-media-text {
	@at-root {
		@include media-breakpoint(md) {
			&.has-background {
				.wp-block-media-text__content {
					padding-top: 2rem;
					padding-bottom: 2rem;
				}
			}
			.wp-block-media-text__content {
				padding-left: 2rem;
			}
			&.has-media-on-the-right {
				.wp-block-media-text__content {
					padding-right: 2rem;
					padding-left: 0;
				}
			}
		}
	}
}

@if ($editor == true) {
	@include media-breakpoint(md) {
		.wp-block-media-text {
			.editor-block-list__layout > .editor-block-list__block {
				.block-editor-block-list__block-edit {
					margin-bottom: 0;
				}

				&:first-of-type .block-editor-block-list__block-edit {
					margin-top: 0;
				}
			}
			&.has-background {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}
}