@include media-breakpoint(md) {
	.wp-block-rss {
		&.is-grid {
			display: flex;
			flex-wrap: wrap;
			margin-right: -0.5rem;
			margin-left: -0.5rem;

			li {
				flex: 0 0 calc(50% - 1rem);
				max-width: calc(50% - 1rem);
				margin-right: 0.5rem;
				margin-left: 0.5rem;
			}

			@for $i from 3 through 6 {
				$size: decimal-floor(1 / $i, 4) * 100#{"%"};
				&.columns-#{$i} {
					li {
						flex: 0 0 calc( #{$size} - 1rem );
						max-width: calc( #{$size} - 1rem );
					}
				}
			}
		}
	}
}