.wp-block-search {
  position: relative;
  background-color: #fff;
}

.wp-block-search__input {
  padding-right: 3.5rem;
}

.wp-block-search__label {
  display: none;
}

.wp-block-search__button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: .5rem 1rem;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 1px solid $color__border-gray;
  background-color: $color__btn-bg;
  border-radius: 0;
  color: $color__btn-text;
  -webkit-appearance: none;
}


@if $editor == true {
  .wp-block-search {
    .wp-block-search__input {
      padding: .5rem 3.5rem .5rem .5rem;
      background-color: #fff;
      border: 1px solid #bdc3c7;
      border-radius: 2px;
      font-size: 1rem;
    }

    .wp-block-search__button .wp-block-search__button-rich-text {
      padding: 0;
    }
  }

}
