.wp-block-separator {
	width: 60%;

	&.is-style-wide {
		width: 100%;
	}

	&.is-style-dots {
		border: 0;

		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 5px;
			background-image: linear-gradient(to right, $color__border-gray-light, $color__border-gray-light 5px, transparent 5px, transparent 5px);
			background-repeat: repeat-x;
			background-position: bottom;
			background-size: 50px 5px;
		}
	}
}