.wp-block-table {
  &.is-style-stripes {
    table,
    tr {
      border-color: transparent;
    }
  }
}

@if $editor == true {
  .wp-block-table {
    thead,
    tfoot {
      border: 0;
    }

    thead {
      th {
        background-color: $color__bg-gray-light;
        font-weight: $font__weight_normal;
      }
    }
  }
}