@use "sass:meta";

.wp-block-archives,
.wp-block-archives-list {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  list-style: none;

  @include meta.load-css('parts-archives-list-items');
}

ul {
  &.wp-block-archives,
  &.wp-block-archives-list {
	padding-left: 0;
  }
}
