//--------------------------------------
//
//	ヘッダー
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------


.amp-slider {
	padding: 3rem 0 1rem;
	background-color: $ys-header-nav-bg-color-sp;

	.menu-toggle-label {
		margin: .5rem 0 0;
		// @extend %hamburger;
	}
}


//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {

};

//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {


};
