//--------------------------------------
//
//	検索
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------
.search-form {
	position: relative;

  label,
  input,
  button {
    appearance:none;
  }
}

.search-field,
.search-submit {
	border: 0;
	outline: 0;
	background: transparent;
	box-shadow: none;
	border-radius: 0;
}

.search-field {
	width: 100%;
	background: transparent;
	border: 1px solid $ys-border-color-searchtext;
  border-radius: 1.1rem;
	background-color: $ys-bg-color-searchtext;
	color: $ys-font-color-searchtext;
	padding: .3rem 2rem .3rem 1rem;

  &:placeholder-shown {
    font-size: .9rem;
    line-height: 1.7;
    color:$ys-font-color-placeholdertext;
  }
  &::-webkit-input-placeholder {
    color:$ys-font-color-placeholdertext;
  }
  &:-ms-input-placeholder {
    color:$ys-font-color-placeholdertext;
  }
  &::-moz-placeholder {
    color:$ys-font-color-placeholdertext;
  }
}

.search-submit {
  height: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	border: 1px solid $ys-border-color-searchbutton;
	background-color: $ys-bg-color-searchbutton;
  color: $ys-font-color-searchbutton;
	box-shadow: none;
	padding: .5rem 1rem .5rem .5rem;

  svg {
    width: 1rem;
    fill: $ys-font-color-searchbutton;
  }
}

//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {


};

//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {

};
