.aligncenter,
.alignleft,
.alignright {
  display: block;
}

.aligncenter {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@include media-breakpoint(sm) {
  .alignleft {
	margin-right: 1em;
	margin-bottom: 1em;
	float: left;
  }
  .alignright {
	margin-bottom: 1em;
	margin-left: 1em;
	float: right;
  }
}


body:not(.has-sidebar) {
  .alignwide,
  .alignfull {
	margin-right: -1rem;
	margin-left: -1rem;
	padding-right: 1rem;
	padding-left: 1rem;
	width: auto;
  }

  @include media-breakpoint(lg) {
	.alignwide {
	  width: auto;
	  margin-right: -5%;
	  margin-left: -5%;
	  padding-right: 5%;
	  padding-left: 5%;
	}
	.alignfull {
	  width: auto;
	  margin-right: calc(-50vw + 50% + (var(--scrollbar-width) / 2));
	  margin-left: calc(-50vw + 50% + (var(--scrollbar-width) / 2));
	  padding-right: calc(-50% + 50vw - (var(--scrollbar-width) / 2));
	  padding-left: calc(-50% + 50vw - (var(--scrollbar-width) / 2));
	}
  }

  &.has-background {
	@include media-breakpoint(sm) {
	  .alignwide,
	  .alignfull {
		margin-right: -2rem;
		margin-left: -2rem;
		padding-right: 2rem;
		padding-left: 2rem;
	  }
	}
	@include media-breakpoint(sm) {
	  .alignfull {
		margin-right: -3rem;
		margin-left: -3rem;
		padding-right: 3rem;
		padding-left: 3rem;
	  }
	}
	@include media-breakpoint(lg) {
	  .alignfull {
		width: auto;
		margin-right: calc(-50vw + 50% + (var(--scrollbar-width) / 2));
		margin-left: calc(-50vw + 50% + (var(--scrollbar-width) / 2));
		padding-right: calc(-50% + 50vw - (var(--scrollbar-width) / 2));
		padding-left: calc(-50% + 50vw - (var(--scrollbar-width) / 2));
	  }
	}
  }
}
