.wp-block-quote {
  &.is-large,
  &.is-style-large {
    margin-top: 1.5em;
    padding: 1.5em 1em 1.5em 2.5em;
  }
}

@if $editor == true {
  .wp-block-quote {
    border: 0;
  }
  .wp-block-quote {
    position: relative;
    padding: 1.5em 1em 1.5em 2.5em;
    background-color: rgba($color__bg-gray-light, 0.5);
    border-left: 1px solid var(--site-border-gray);
    font-size: 0.95em;

    &:before {
      content: "“";
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      font-family: s	ans-serif;
      font-size: 4em;
      line-height: 1;
      opacity: 0.08;
    }
  }
}
