@use "../../global";

$editor: false !default;

@mixin button() {
  .wp-block-button {
	color: var(--ystd-button-text-color);


	&.is-style-outline {
	  color: var(--ystd-button-background-color);
	}
  }

  .wp-block-button__link {
	display: var(--ystd-button-display);
	padding: var(--ystd-button-padding);
	background-color: var(--ystd-button-background-color);
	border-radius: var(--ystd-button-border-radius);
	color: var(--ystd-button-text-color);
	font-size: var(--ystd-button-font-size);
	text-decoration: none;
	transition: all 0.3s;

	&:hover {
	  box-shadow: var(--ystd-button-box-shadow);
	}

	svg {
	  width: 1.25em;
	  height: 1.25em;
	}
  }

  .is-style-outline {
	.wp-block-button__link {
	  --ystd-button-border-color: currentColor;
	  border: var(--ystd-button-border-width) var(--ystd-button-border-style) var(--ystd-button-border-color);
	}
  }
}

@if false == $editor {
  @include button();
}


