@use "../../global";

$editor: false !default;

@mixin button() {
  .wp-block-button {
	color: var(--ystd-button-text-color);


	&.is-style-outline {
	  color: var(--ystd-button-background-color);
	}
  }

  .wp-block-button__link {
	@include global.button();
	border-color: transparent;

	svg {
	  width: 1.25em;
	  height: 1.25em;
	}
  }

  .is-style-outline {
	.wp-block-button__link {
	  border-color: currentColor;
	}
  }
}

@if false == $editor {
  @include button();
}


