@use "../../global";

$editor: false !default;

@mixin embed() {

  .wp-embed-responsive {
	.wp-block-embed {
	  &.wp-block-embed-spotify {
		.wp-block-embed__wrapper:before {
		  padding-top: 110%;
		}
	  }
	}

	.wp-embed-aspect-3-1 {
	  .wp-block-embed__wrapper::before {
		padding-top: 33.33%;
	  }
	}

	.wp-embed-aspect-2-1 {
	  .wp-block-embed__wrapper::before {
		padding-top: 50%;
	  }
	}
  }
}

@if false == $editor {
  @include embed();
}

