.blocks-gallery-grid,
.wp-block-gallery {
  margin-top: 1.5em;

  &:first-child {
	margin-top: 0;
  }

  .blocks-gallery-caption {
	width: 100%;
	margin-top: -.75em;
	font-size: .8em;
	font-style: normal;
  }
}

body:not(.has-sidebar) {
  .wp-block-gallery {
	&.alignwide {
	  padding-right: 0;
	  padding-left: 0;
	}
  }
}
