.wp-block-group {
  @include child_margin();
  &.has-background {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
  }
  &.has-background:not(.alignfull):not(.alignwide) {
	padding-right: 1.5em;
	padding-left: 1.5em;
  }

  &.alignfull + &.alignfull {
	margin-top: 0;
  }
}

.wp-block-group__inner-container {
  @include child_margin();
}


