body:not(.has-sidebar) {
  @media (min-width: 1px) {
	.wp-block-image {
	  &.alignwide,
	  &.alignfull {
		padding-right: 0;
		padding-left: 0;
	  }
	}
  }
}

.wp-block-image {
  margin-bottom: 0;

  figcaption {
	padding: 0 .5em .5em;
	margin: 0;
	font-size: .8em;
	font-style: normal;
  }
  &.alignfull {
	img {
	  display: block;
	}
	+ &.alignfull {
	  margin-top: 0;
	}
  }
}
