$editor: false !default;

@mixin list($editor:false) {
  @if true == $editor {
	ul.wp-block-list,
	ol.wp-block-list {
	  box-sizing: border-box;

	  ul, ol {
		box-sizing: border-box;
	  }
	}
  }
}

@if false == $editor {
  @include list();
}
