@use "../../global";

$editor: false !default;

@mixin pullquote($editor:false) {
  .wp-block-pullquote {
	blockquote {
	  background: none;
	  border: 0;

	  &::before {
		content: "";
	  }
	}
  }

  @if true== $editor {
	.wp-block-pullquote {
	  border: 0;
	}
  }
}

@if false == $editor {
  @include pullquote();
}
