@use "../../global";

$editor: false !default;

@mixin table($editor:false) {

  .wp-block-table {
	&.is-style-stripes {
	  table,
	  tr {
		border-color: transparent;
	  }
	}
  }

  @if true == $editor {
	.wp-block-table {
	  thead,
	  tfoot {
		border: 0;
	  }

	  thead {
		th {
		  background-color: global.$color__bg-gray-light;
		  font-weight: global.$font__weight_normal;
		}
	  }
	}
  }
}

@if false == $editor {
  @include table();
}

