@use "../../global";

$editor: false !default;

@mixin tag-cloud() {

  .wp-block-tag-cloud,
  .tagcloud {
	color: var(--tagcloud-text);
	font-size: 0.8em;
	letter-spacing: -0.4em;

	a {
	  display: inline-block;
	  margin-right: 0.5em;
	  margin-bottom: 0.5em;
	  padding: 0.25em 0.5em;
	  background-color: var(--tagcloud-bg);
	  color: currentColor;
	  text-decoration: none;
	  letter-spacing: global.$font__letter-spacing;

	  &::before {
		content: var(--tagcloud-icon);
		margin-right: 0.25em;
		font-family: global.$font__code;
	  }

	  &:hover {
		opacity: 0.8;
	  }
	}
  }
}

@if false == $editor {
  @include tag-cloud();
}

