@use "../../global";

$editor: false !default;

@mixin tag-cloud() {

  .wp-block-tag-cloud,
  .tagcloud {
	display: flex;
	flex-wrap: wrap;
	gap: 1ch;
	color: var(--tagcloud-text);
	font-size: 0.8em;

	a {
	  display: block;
	  margin: 0;
	  padding: 0.5ch 2ch;
	  background-color: var(--tagcloud-bg);
	  color: currentColor;
	  text-decoration: none;
	  letter-spacing: global.$font__letter-spacing;

	  &::before {
		content: var(--tagcloud-icon);
		margin-right: 0.25em;
		font-family: global.$font__code;
	  }

	  &:hover {
		opacity: 0.8;
	  }
	}
  }
  .wp-block-tag-cloud {
	&.is-style-outline {
	  a {
		background: transparent;
		border-color: currentColor;
		padding: 0.5ch 2ch;
	  }
	}
  }
}

@if false == $editor {
  @include tag-cloud();
}

