/*
  container
 */

/*
  row
 */

/*
  col
 */

/*
  余白取得
 */

.ys-admin-section h4 {
	border-bottom: 1px solid #222;
	margin-bottom: .5em;
	padding: .5em 0;
}

.ys-admin-section h4 + p {
	margin-top: 0;
}

