* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	font-size: 16px;
}

body {
	color: #222;
	font-family: Avenir, "Helvetica neue", Helvetica, YuGothic, "Yu Gothic", "Hiragino Sans", "ヒラギノ角ゴシック", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
	letter-spacing: 0.1em;
	line-height: 1.7;
	word-wrap: break-word;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
table,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

code,
kbd,
pre,
samp {
	font-family: Consolas, Monaco, monospace;
	line-height: 1;
}

input,
textarea,
optgroup,
select,
button {
	font-family: inherit;
	line-height: 1.4;
}

img,
amp-img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

label,
input[type="reset"],
input[type="submit"],
button,
input[type="button"] {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin-bottom: .5em;
}

p {
	margin: 1.5em 0 0;
}

p:first-child {
	margin-top: 0;
}

ul,
ol {
	margin-left: 1.8em;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
}

blockquote *:last-child {
	margin-bottom: 0;
}

code {
	background-color: #fafafa;
	border-radius: 3px;
	padding: 2px 4px;
	font-size: .9em;
	letter-spacing: normal;
}

pre {
	background-color: #fafafa;
	padding: 15px;
	overflow: auto;
	font-size: .9em;
	line-height: 1.4;
}

pre code {
	background-color: transparent;
	border: none;
	color: inherit;
	padding: 0;
	line-height: 1.4;
	word-wrap: normal;
	white-space: pre;
}

a {
	color: #2980B9;
	-webkit-transition: all .3s;
	transition: all .3s;
}

a:hover {
	color: #409ad5;
}

.ys-blog-card {
	padding: 1em;
	margin-top: 2.5em;
	margin-bottom: 2.5em;
	background-color: #fff;
	border: 1px solid #bdc3c7;
	font-size: .9em;
	border-radius: 2px;
	max-width: 600px;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.ys-blog-card:before,
.ys-blog-card:after {
	content: "";
	display: table;
}

.ys-blog-card:after {
	clear: both;
}

.ys-blog-card {
	zoom: 1;
}

.ys-blog-card a {
	text-decoration: none;
}

.ys-blog-card .ys-blog-card__link:not(:hover) {
	color: inherit;
}

.ys-blog-card .ys-blog-card__main {
	text-decoration: none;
}

.ys-blog-card .ys-blog-card__thumb {
	width: 80px;
	margin: 0 1em 0 0;
	float: left;
}

.ys-blog-card .ys-blog-card__text {
	overflow: hidden;
}

.ys-blog-card .ys-blog-card__title,
.ys-blog-card .ys-blog-card__dscr {
	max-height: 3.5em;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.ys-blog-card .ys-blog-card__title {
	font-weight: bold;
}

.ys-blog-card .ys-blog-card__dscr {
	max-height: 3em;
	margin: .5em 0 0;
	font-size: .7em;
}

.ys-blog-card .ys-blog-card__domain {
	margin: 1em 0 0;
	font-size: 10px;
	clear: both;
}

.ys-blog-card .ys-blog-card__domain img,
.ys-blog-card .ys-blog-card__domain amp-img {
	display: inline-block;
	width: 10px;
	height: auto;
	margin: 0 5px 0 0;
}

