.global-nav {
  @at-root {
    //スライドメニュー
    .global-nav,
    .global-nav--amp {
      padding: ($gutter * 3) 0 $gutter;
      font-size: .8em;

      li {
        width: 100%;
      }

      a {
        padding: 1em;
        display: block;
        text-decoration: none;
        color: inherit;
      }
    }
    .global-nav {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 70%;
      z-index: 100;
      overflow-y: scroll;
      transform: translateX(100%);
      transition: transform .3s;
    }
    .global-nav__item {
      padding: 0;
    }
    .global-nav__sub-menu li {
      padding-left: 1em;
    }
    .admin-bar .global-nav {
      padding-top: ($gutter * 6)
    }
    .global-nav__btn,
    .global-nav__cover {
      appearance: none;
    }
    .global-nav__btn {
      position: absolute;
      width: 30px;
      height: 22px;
      top: $gutter;
      right: $gutter;
      padding: 0;
      border: none;
      background: none;
      outline: none;
      z-index: 102;

      span {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        left: 0;
        background-color: #292b2c;
        transform: rotate(0deg);
        transition: transform 0.3s;
      }
      .top {
        top:0;
      }
      .middle {
        top:10px;
      }
      .bottom {
        bottom: 0;
      }
    }
    .global-nav__cover {
      display: none;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(#fff,0);
      z-index: 0;
      transition: all 3s;
    }
    /*
      メニューがチェックされた時
     */
    #header__nav-toggle:checked {
      & ~ .global-nav__btn {
        top: $gutter - 2px;
        @include toggle-hamburger;
        span {
          background-color: #fff;
        }
      }
      & ~ .global-nav__cover {
        display: block;
        background-color: rgba(#fff,0.4);
        z-index: 100;
      }
      & ~ .global-nav {
        transform: translateX(0);
        max-width: 500px;
      }
    }
    .global-nav__amp-btn--close {
      @include toggle-hamburger;
        span {
          background-color: #fff;
        }
    }
    .global-nav__search {
      padding: 1em 50px 1em 1em;
      margin-top: get_margin(-3) - 3px;
      input {
        background-color: rgba(#fff,.1);
        border-color: rgba(#fff,.1);
      }
    }

    // screen
    @include media-breakpoint(pc) {

      & {
        li {
          width: auto;
          position: relative;
          transition: border .3s;
        }
      }
      .global-nav__item {
        border-bottom: 1px solid transparent;
        &:not(.menu-item-has-children):hover {
        }
      }
      .global-nav__menu {
        height: 100%;
      }
      .global-nav__sub-menu {
        width: 200%;
        position: absolute;
        left: -100%;
        right: -100%;
        margin: 0 auto;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        z-index: 0;
				transition: all 0.3s;
        li {
          padding-left: 0;
          opacity: .9;
        }
      }
      .menu-item-has-children:hover {
        .global-nav__sub-menu {
          opacity: 1;
          visibility: visible;
          z-index: 3;
        }
      }
      /*
        スライドメニュー
       */
      .global-nav {
        height: 100%;
        width: auto;
        position: relative;
        background-color: transparent;
        transform: none;
        overflow-y: visible;
      }
      .global-nav,
      .admin-bar .global-nav {
        padding: 0;
      }
      .global-nav__btn,
      .global-nav__cover {
        display: none;
      }
      .global-nav__search {
        display: none;
      }
    }
  }// at-root
}
