.header {
	@at-root {
		@include media-breakpoint(md) {
			.header__title {
				font-size: 1.5rem;
			}
			.header__branding {
				padding-right: 0;
				&.-row1 {
					padding-right: 1rem;
				}
			}
		}

		@include media-breakpoint(lg) {
			.header__row {
				padding: 0.5rem 0;

				&.-row1 {
					align-items: center;
					justify-content: space-between;
				}
				&.-center,
				&.-row2 {
					display: block;
					padding-bottom: 0;
				}
				&.-center {
					text-align: center;
				}
			}
			.header__branding {
				&.-row2,
				&.-center {
					padding-bottom: 0.5rem;
				}
				&.-center {
					padding-top: 0.5rem;
				}
			}
		}
	}
}
