.header {
  @at-root {
    .header__title {
      margin: 0;
      a {
        color: $color__text-main;
        text-decoration: none;
      }
    }
    .header__dscr {
      margin: 0;
      font-size: .8rem;
    }
  }
}

