.header {
  @at-root {
    .header__title {
      font-size: 1.5rem;
      letter-spacing: .05em;
      line-height: 1.4;

      a {
        color: $color__text-main;
        text-decoration: none;
      }
    }

    .header__row {
      &.-center {
        &:before {
          content: "";
          flex-grow: 1;
          padding: 0 1rem;
        }
      }
    }

    .header__dscr {
      margin: 0;
      font-size: .8rem;
    }

    .header__branding {
      &.-row1 {
        padding-right: 4rem;
      }
    }
  }
}

