@use "../../global";

$editor: false !default;

@mixin caption() {

  .wp-caption {
	max-width: 100%;
	padding: 0.25em 0.5em 0.5em;
	font-size: 0.9em;
	text-align: center;

	img {
	  margin: 0;
	  padding: 0;
	}
  }

  figcaption,
  .wp-caption-text {
	color: var(--font-gray);
	font-size: 0.9em;
	font-style: italic;
	text-align: center;
  }

  .wp-caption-text {
	padding: 0.25em 0.5em 0.5em;
  }

  figcaption {
	padding: 0.25em 0.5em 0;
  }
}

@if false == $editor {
  @include caption();
}


