.gallery {
  display: flex;
  flex-wrap: wrap;

  a:hover {
	opacity: 0.8;
  }

  .gallery-caption {
	font-size: 0.8em;
	text-align: center;
  }
}

@for $i from 2 through 9 {
  .gallery-columns-#{$i} {
	@include posts_column($i, 1px);
  }
}
