@use "../../global";

$editor: false !default;

@mixin wp() {
  .sticky {
	box-sizing: inherit;
  }

  .bypostauthor {
	display: block;
  }

  .emoji {
	width: 1em;
  }
}

@if false == $editor {
  @include wp();
}
