.section {
  @at-root {
    & {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    &.-tall {
      padding-top: 3rem;
      padding-bottom: 3rem;
      
      & + & {
        padding-top: 0;
      }
    }

    &.-screen {
      min-height: 100vh;
    }
  }
}
