
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-bottom: .5em;
}

p {
  margin: 1.5em 0 0;
  &:first-child {
    margin-top: 0;
  }
}

ul,ol {
  margin-left: 1.8em;
}

dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}

blockquote {
  *:last-child {
    margin-bottom: 0;
  }
}

code {
  background-color: $bg-color-gray;
  border-radius: 3px;
  padding: 2px 4px;
  font-size: .9em;
  letter-spacing: normal;
}

pre {
  background-color: $bg-color-gray;
  padding: 15px;
  overflow: auto;
  font-size: .9em;
  line-height: 1.4;

  code {
    background-color: transparent;
    border: none;
    color: inherit;
    padding: 0;
    line-height: 1.4;
    word-wrap: normal;
    white-space: pre;
  }
}

a {
  color: $link-color;
  transition: all .3s;

  &:hover {
    color: $link-color-hover;
  }
}
