.ys-custom-header {
  @at-root {
    .wp-custom-header {
      position: relative;
      img {
        display: block;
        height: auto;
        width: 100%;
        margin: 0 auto;
      }
    }
    .ys-custom-header--video {
      .wp-custom-header {
        width: 100%;
        padding-top: 56.25%;
        video,
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    .wp-custom-header-video-button {
      display: block;
      position: absolute;
      left: .5em;
      bottom: .5em;
      padding: .5em;
      border: 1px solid rgba(#fff,.3);
      background-color: rgba(#000,.3);
      font-size: .8em;
      line-height: 1;
      color: rgba(#fff,.3);
    }
    
    .custom-header--full {
      
      //.wp-custom-header {
      //  width: 100%;
      //  height: 100vh;
      //  padding: 0;
      //  img,
      //  video,
      //  iframe {
      //    position: relative;
      //    object-fit: cover;
      //    object-position: center center;
      //    height: 100%;
      //    width: 100%;
      //  }
      //}
      
      @include media-breakpoint(pc) {

        .site-header {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 11;
          background-color: '#bg_color#';
          color:'#text_color#';
        }
        
        .color__site-header,
        .color__site-title,
        .color__site-title:hover,
        .color__site-dscr {
          color: '#text_color#';
        }
        
        //.global-nav__btn span {
        //  background-color: '#text_color#';
        //}
        //&.admin-bar {
        //  .site-header {
        //    top: 46px;
        //  }
        //}
      
        .color__nav-font--pc {
          color: '#text_color#';
        }
        .color__nav-bg--pc,
        .global-nav__sub-menu li {
          background-color: transparent;
        }
        .global-nav__item:not(.menu-item-has-children):hover {
          border-bottom-color: '#text_color#';
        }
        &.admin-bar {
          .site-header {
            top: 32px;
          }
        }
      }
    }
  }// at-root
}
