@use "../../global";


:where(.archive__container.is-card) {

	// カラム数
	grid-template-columns: repeat(var(--ystd--archive--card--col--mobile), 1fr);

	@include global.media-up-mobile() {
		grid-template-columns: repeat(var(--ystd--archive--card--col--tablet), 1fr);
	}
	@include global.media-up-desktop() {
		grid-template-columns: repeat(var(--ystd--archive--card--col--desktop), 1fr);
	}

	// メタ
	:where(.archive__meta) {
		justify-content: space-between;
	}
	:where(.archive__text) {
		padding: var(--ystd--archive--card--item--text--padding);
	}
	:where(.archive__title) {
		font-size: var(--ystd--archive--card--item--title--font-size);
	}
}
// サイドバーあり
:where(.has-sidebar .archive__container.is-card) {
	@include global.media-up-desktop() {
		grid-template-columns: repeat(var(--ystd--archive--card--col--has-sidebar), 1fr);
	}
}

