@use "../../global";

:where(.archive__container.is-list) {

	--ystd--archive--list--grid--image-width: var(--ystd--archive--list--item--image--width--mobile);
	--ystd--archive--list--grid-template-columns: var(--ystd--archive--list--grid--image-width) 1fr;

	@include global.media-up-mobile() {
		--ystd--archive--list--grid--image-width: var(--ystd--archive--list--item--image--width--tablet);
	}
	@include global.media-up-desktop() {
		--ystd--archive--list--grid--image-width: var(--ystd--archive--list--item--image--width--desktop);
	}

	:where(.archive__item) {
		padding: var(--ystd--archive--list--item--padding);
	}
	:where(.archive__detail) {
		display: grid;
		grid-template-columns: var(--ystd--archive--list--grid-template-columns);
		gap: var(--ystd--archive--list--item--col--gap);
	}
	:where(.archive__thumbnail a) {
		height: var(--ystd--archive--list--item--image--height);
	}
	:where(.archive__text) {
		padding: var(--ystd--archive--list--item--text--padding);
		overflow: hidden;
	}
	:where(.archive__title) {
		font-size: var(--ystd--archive--list--item--title--font-size);
	}

}
