.ad {
  @at-root {
    .ad__container {
      padding: $gutter 0;
    }
    .ad__label {
      font-size: .8em;
      color: $font-color-gray;
      text-align: center;
      margin-bottom: 5px;
    }
    .ad__content {
      text-align: center;
    }

    //tablet
    @include media-breakpoint(tb) {
      .ad__double {
        margin-right: -5px;
        margin-left: -5px;
      }
      .ad__left,
      .ad__right {
        flex: 1 0 50%;
        max-width: 50%;
        padding: 0 5px;
        text-align: center;
      }
    }
  }
}
