/*
  container
 */
.container {
  @at-root {
    & {
      @include container;
    }

    .container--wide {
      max-width: 1200px + ($gutter * 2);
    }
    .container--full {
      max-width: 100%;
    }
  }
}

/*
  row
 */
.row {
  @at-root {
    & {
      @include row;
    }

    .row--slide {
      @include row--slide;
    }

    // screen
    @include media-breakpoint(pc) {
      .row--slide {
        &::-webkit-scrollbar {
          height: 0;
        }
      }
    }

  }// at-root
}
/*
  col
 */
.col {
  @at-root {

    &,
    [class*="col_"] {
      @include col;
      max-width: 100%;
    }
    .col__2,
    .col__2--sp {
      flex: 0 0 50%;
      width: 50%;
    }
    .col__3,
    .col__3--sp {
      flex: 0 0 33.33%;
      width: 33.33%;
    }
    .col__4,
    .col__4--sp {
      flex: 0 0 25%;
      width: 25%;
    }
    .col__slide {
      flex: 0 0 30%;
      width: 30%;
      min-width: 240px;
      padding: get_margin() get_margin(0.5);
      &:first-child {
        margin-left: -5px;
      }
      &:last-child {
        padding-right: -5px;
      }
    }

    // tablet
    @include media-breakpoint(tb) {
      .col__2--tb {
        flex: 0 0 50%;
        width: 50%;
      }
      .col__3--tb {
        flex: 0 0 33.33%;
        width: 33.33%;
      }
      .col__4--tb {
        flex: 0 0 25%;
        width: 25%;
      }
    }

    // screen
    @include media-breakpoint(pc) {
      .col__2--pc {
        flex: 0 0 50%;
        width: 50%;
      }
      .col__3--pc {
        flex: 0 0 33.33%;
        width: 33.33%;
      }
      .col__4--pc {
        flex: 0 0 25%;
        width: 25%;
      }
    }

    // large screen
    @include media-breakpoint(lg) {
      .col__2--lg {
        flex: 0 0 50%;
        width: 50%;
      }
      .col__3--lg {
        flex: 0 0 33.33%;
        width: 33.33%;
      }
      .col__4--lg {
        flex: 0 0 25%;
        width: 25%;
      }
    }

  }// at-root
}
