.grid {
  @at-root {
    @include media-breakpoint(lg) {
      .col__2--lg {
        width: 50%;
      }
      .col__3--lg {
        width: 33.33%;
      }
      .col__4--lg {
        width: 25%;
      }
    }
  }
}
