.widget_calendar {
  caption {
    font-weight: $font__weight_bold;
  }
  table {
    width: 100%;
    font-size: 0.9em;
    text-align: center;
    white-space: nowrap;
    table-layout: fixed;
  }
  nav {
    font-size: 0.9em;
  }
}