.share-btn {
  @at-root {

    .share-btn__list {
      @include flex;
      padding: 0;
      margin: 0 -1px;
      list-style: none;
    }

    .share-btn__item {
      width: 33.33%;
      padding: 1px;
      flex: 0 0 auto;
    }
    .share-btn__link {
      position: relative;
      display: block;
      padding: 10px 5px;
      color: #fff;
      font-size: .9em;
      line-height: 1;
      text-align: center;
      text-decoration: none;
      overflow: hidden;
      z-index: 2;
    }

    .share-btn__icon {
      position: absolute;
      top: 0;
      left: 0;
      opacity: .2;
      z-index: 1;
      &.fa {
        font-size: 3em;
      }
    }

    @include media-breakpoint(pc) {
      .share-btn__item {
        width: 25%;
      }
    }
  }
}
