.share-btn {
  @at-root {

    .share-btn__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      margin: 0 -1px;
      list-style: none;
    }

    .share-btn__item {
      width: 100%;
      padding: 5px 1px;
      flex: 1 1 0%;
    }
    .share-btn__link {
      position: relative;
      display: block;
      padding: 10px 5px;
      border: 1px solid #fff;
      color: #fff;
      font-size: .9em;
      line-height: 1;
      text-align: center;
      text-decoration: none;
      overflow: hidden;
      transition: all .3s;

      &.twitter {
        border-color: get_sns_color('twitter');
        background-color: get_sns_color('twitter');
        &:hover {
          color: get_sns_color('twitter');
          background-color: #fff;
        }
      }
      &.facebook {
        border-color: get_sns_color('facebook');
        background-color: get_sns_color('facebook');
        &:hover {
          color: get_sns_color('facebook');
          background-color: #fff;
        }
      }
      &.hatenabookmark {
        border-color: get_sns_color('hatenabookmark');
        background-color: get_sns_color('hatenabookmark');
        &:hover {
          color: get_sns_color('hatenabookmark');
          background-color: #fff;
        }
      }
      &.google-plus {
        border-color: get_sns_color('google-plus');
        background-color: get_sns_color('google-plus');
        &:hover {
          color: get_sns_color('google-plus');
          background-color: #fff;
        }
      }
      &.pocket {
        border-color: get_sns_color('pocket');
        background-color: get_sns_color('pocket');
        &:hover {
          color: get_sns_color('pocket');
          background-color: #fff;
        }
      }
      &.line {
        border-color: get_sns_color('line');
        background-color: get_sns_color('line');
        &:hover {
          color: get_sns_color('line');
          background-color: #fff;
        }
      }
    }

    .share-btn__icon {
      position: absolute;
      top: 0;
      left: 0;
      opacity: .2;
      z-index: 1;
      &.fa {
        font-size: 3em;
      }
    }
    .share-btn__text {
      position: relative;
      z-index: 2;
    }
  }
}
