.ys-clipboard-copy__info {
	display: none;

	&.is-show {
		display: block;
		animation: clipboard-copy-fade-out 2.5s ease-in-out both;
	}
}

@keyframes clipboard-copy-fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
