@use "../../global";

:where(.sidebar) {
	position: relative;

	@include global.media-up-desktop() {
		max-width: var(--ystd--sidebar--2col--size);
	}
}

:where(.sidebar__widget,.sidebar__fixed) {
	> * {
		max-width: var(--ystd--container--size);
		margin-right: auto;
		margin-left: auto;

		@include global.media-up-desktop() {
			max-width: 100%;
		}

		+ * {
			margin-top: var(--ystd--layout-gap);
		}
	}
}

:where(.sidebar__widget + .sidebar__fixed) {
	margin-top: var(--ystd--layout-gap);
}

:where(.sidebar__fixed) {
	@include global.media-up-desktop() {
		position: sticky;
		// --ystd--sidebar--custom-fixed-position--top はJSでセット.
		top: var(--ystd--sidebar--custom-fixed-position--top, var(--ystd--sidebar--fixed-position--top));
	}
}
