@use "../../styles/global";

.wp-block-group {

	&:where(.has-background) {
		padding-block-start: 1.5em;
		padding-block-end: 1.5em;

		&:not(.alignfull) {
			padding-inline-start: 1.5em;
			padding-inline-end: 1.5em;
		}
	}

	&:where(.has-global-padding) {
		max-width: 100%;
	}

	&:where([style*="border-radius:"]) {
		overflow: hidden;
	}
}
