.footer-sns {
  @at-root {

    & {
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }

    .footer-sns__list {
      margin: 0 -.1em;
    }
    .footer-sns__item {
      margin: 0 .1em;
    }
    .footer-sns__link {
      height: 3em;
      width: 3em;
      padding: 1em;
      border-radius: 50%;
      font-size: 1.2em;
      overflow: hidden;
    }


    @include media-breakpoint(tb) {
    }
  }// @
}
