.footer-nav {
  @at-root {
    .footer__nav-list {
      li {
        font-size: .9em;
        margin: 0 15px 5px 0;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }// @
}
