.site__footer {
  @at-root {
    & {
      padding-top: get_margin();
      padding-bottom: get_margin();
      font-size: .9em;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .footer__section {
      margin-top: get_margin();
    }
    @include media-breakpoint(tb) {
      & {
        padding-top: get_margin(2);
      }
      .footer__section {
        margin-top: get_margin(2);
      }
    }
  }// @
}
