.singular-header {
  @include child_margin(1em);
}

.singular-header__title {
  font-size: 1.2em;

  @include media-breakpoint(md) {
	font-size: 1.4em;
  }
}

.singular-header__meta {
  display: flex;
  font-size: 0.9em;
  color: var(--content-meta-color);

  > * {
	margin-right: 1em;
  }

  svg {
	display: block;
  }

  .ys-icon {
	width: 1em;
	margin-right: 0.25em;
  }

}

.singular-date,
.singular-date__item,
.singular-header__category {
  display: flex;
  align-items: center;
}

.singular-date__item {
  margin-left: .5em;

  &:first-child {
	margin-left: 0;
  }
}
