.flex {
  @at-root {
    & {
      display: flex;
    }
    .flex-wrap {
      @include flex;
    }
    .flex--c-c {
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    .flex--a-top {
      align-items: top;
    }
    .flex--a-center {
      align-items: center;
    }
    .flex--a-bottom {
      align-items: bottom;
    }
    .flex--j-start {
      justify-content: start;
    }
    .flex--j-end {
      justify-content: end;
    }
    .flex--j-center {
      justify-content: center;
    }
    .flex--j-between {
      justify-content: space-between;
    }
    .flex--j-around {
      justify-content: space-around;
    }
    @include media-breakpoint(tb) {
      .flex--tb {
        display: flex;
      }
      .flex-wrap--tb {
        @include flex;
      }
    }
    @include media-breakpoint(pc) {
      .flex--pc {
        display: flex;
      }
      .flex-wrap--pc {
        @include flex;
      }
    }
  }// @
}
