/**
 * Drawer Menu
 */
@mixin custom_properties() {
	--ystd--drawer-menu--container--padding-top: 0;
	--ystd--drawer-menu--container--padding-x: 0;
	--ystd--drawer-menu--container--padding-bottom: 0;
	--ystd--drawer-menu--background: var(--ystd--text-color);
	--ystd--drawer-menu--text-color: var(--ystd--text-color--white);
	--ystd--drawer-menu--font-size: 16px;
	--ystd--drawer-menu--sub-menu--font-size: 0.9em;
	--ystd--drawer-menu--width: 600px;
	--ystd--drawer-menu--button-color--open: var(--ystd--text-color);
	--ystd--drawer-menu--button-color--close: var(--ystd--text-color--white);
	--ystd--drawer-menu--gap: 0;
	--ystd--drawer-menu--menu-item--padding-y: .5em;
}
