@use "../../global";

:where(.site-header-thumbnail) {
	overflow: hidden;

	:where(img) {
		display: block;
		width: var(--ystd--header--thumbnail--width);
		height: var(--ystd--header--thumbnail--height--mobile);
		max-height: var(--ystd--header--thumbnail--max-height--mobile);
		object-fit: var(--ystd--header--thumbnail--object-fit);
		object-position: var(--ystd--header--thumbnail--object-position);

		@include global.media-up-mobile() {
			height: var(--ystd--header--thumbnail--height--tablet);
			max-height: var(--ystd--header--thumbnail--max-height--tablet);
		}
	}
}
