.pagination {
  @at-root {
    & {
      margin-top: 1em;
      color: $font-color-gray;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
    .pagination__item {
      height: 40px;
      width: 40px;
      background-color: $bg-color-dark-gray;
      margin-right: 5px;
      text-decoration: none;
      transition: all .3s;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background-color: $bg-color-dark;
        color: #fff;
      }
    }
    .pagination__item--current {
      background-color: $bg-color-dark;
      color: #fff;
    }
  }// @
}
