.card {
  @at-root {

    & {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      color: $font-color-main;
      text-decoration: none;
      box-shadow: 0 1px 1px rgba($border-color-gray,0.7);
      transition: all .4s;

      &:hover {
        color: $font-color-main;
        transform: translateY(-0.3em);
      }
    }

    .card__img {
      border-bottom: 1px solid $bg-color-gray;

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .card__text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: get_margin();
    }
    .card__title {
      font-size: .9em;
      line-height: 1.5;
    }

    .card__dscr {
      color: $font-color-gray;
      font-size: .9em;
    }

    .card__tag {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .card__tag-item {
      display: inline-block;
      background-color: $bg-color-dark-gray;
      margin: 0 .2em .2em 0;
      padding: .2em .6em;
      color: $font-color-gray;
      font-size: .9em;
      vertical-align: top;
    }

  }//at-root
}
