.footer-nav {
  .menu-item {
	padding: 0 .5em;
	margin-bottom: 1em;
	font-size: 0.8em;

	&:last-child {
	  margin-right: 0;
	}
  }
}

.footer-nav__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -.5em;
  margin-left: -.5em;
  padding: 0;
  list-style: none;
}
