.site-footer {
  margin-top: 1rem;
  padding-bottom: 1rem;
  background-color: $color__bg-dark;
  border-top: 1px solid transparent;
  color: #fff;
  a {
    color: #fff;
    text-decoration: none;
  }
}
.footer-section {
  margin-top: 1rem;
}
