.site-footer {
  a {
	text-decoration: none;
  }
}

.footer-main {
  padding-top: 2em;
  padding-bottom: 1em;
  background-color: var(--footer-bg);
  color: var(--footer-text);

  > * {
	margin-top: 1.5em;

	&:first-child {
	  margin-top: 0;
	}
  }

  a {
	color: currentColor;
  }
}
