@use "../../global";
@use "sass:math";

:where(.ratio) {
	display: flex;
	position: relative;
	width: 100%;

	&:where(.is-4-3) {
		aspect-ratio: 4/3;
	}

	&:where(.is-16-9) {
		aspect-ratio: 16/9;
	}

	&:where(.is-3-1) {
		aspect-ratio: 3/1;
	}

	&:where(.is-3-2) {
		aspect-ratio: 3/2;
	}

	&:where(.is-2-1) {
		aspect-ratio: 2/1;
	}

	&:where(.is-1-1) {
		aspect-ratio: 1/1;
	}

	:where(.ratio__item,.ratio__image) {
		width: 100%;
		height: 100%;

	}

	:where(.ratio__item) {
		overflow: hidden;
	}

	:where(.ratio__image) {
		margin: 0;

		:where(img),
		:where(amp-img) {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
