.wp-block-image figcaption {
  margin-top: .5em;
  text-align: center;
  color: #939393;
  font-size: .8em;
  font-style: italic; }

.one-col .alignwide,
.one-col .alignfull {
  width: unset;
  max-width: unset; }

.one-col .alignfull {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw); }
  .one-col .alignfull img {
    width: 100%; }

.one-col .alignwide {
  margin-right: -15px;
  margin-left: -15px; }
  @media screen and (min-width: 600px) {
    .one-col .alignwide {
      margin-right: -30px;
      margin-left: -30px; } }

.wp-block-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 430px;
  background-color: #000;
  background-size: cover;
  background-position: center center;
  overflow: hidden; }
  .wp-block-cover:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: inherit;
    opacity: .5;
    z-index: 1; }
  .wp-block-cover .wp-block-cover-text {
    max-width: 640px;
    padding: 2em;
    font-size: 2em;
    color: #fff;
    z-index: 2; }

hr,
.wp-block-separator {
  height: 1px;
  margin: 1.5em 0;
  border: none;
  background-color: #bdc3c7; }

.wp-block-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5em -1px;
  list-style-type: none; }
  .wp-block-gallery .blocks-gallery-item {
    align-items: flex-start;
    flex: 0 1 50%;
    max-width: 50%;
    padding: 1px;
    margin: 0; }
    .wp-block-gallery .blocks-gallery-item figure {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      height: 100%;
      margin: 0; }
    .wp-block-gallery .blocks-gallery-item img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto; }
  .wp-block-gallery.columns-1 .blocks-gallery-item {
    flex: 0 1 100%;
    max-width: 100%; }
  .wp-block-gallery.columns-3 .blocks-gallery-item {
    flex: 0 1 33.33333%;
    max-width: 33.33333%; }
  .wp-block-gallery.columns-4 .blocks-gallery-item {
    flex: 0 1 25%;
    max-width: 25%; }
  .wp-block-gallery.columns-5 .blocks-gallery-item {
    flex: 0 1 20%;
    max-width: 20%; }
  .wp-block-gallery.columns-6 .blocks-gallery-item {
    flex: 0 1 16.66667%;
    max-width: 16.66667%; }
  .wp-block-gallery.columns-7 .blocks-gallery-item {
    flex: 0 1 14.28571%;
    max-width: 14.28571%; }
  .wp-block-gallery.columns-8 .blocks-gallery-item {
    flex: 0 1 12.5%;
    max-width: 12.5%; }
  .wp-block-gallery.columns-9 .blocks-gallery-item {
    flex: 0 1 11.11111%;
    max-width: 11.11111%; }
  .wp-block-gallery.is-cropped .blocks-gallery-item img {
    height: 100%;
    object-fit: cover; }

.wp-has-aspect-ratio {
  width: 100%;
  max-width: 560px;
  margin-top: 1.5em; }
  .wp-has-aspect-ratio .wp-block-embed__wrapper {
    position: relative; }
    .wp-has-aspect-ratio .wp-block-embed__wrapper:before {
      content: "";
      display: block;
      padding-top: 56.25%; }
    .wp-has-aspect-ratio .wp-block-embed__wrapper iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
  .wp-has-aspect-ratio.wp-embed-aspect-21-9 .wp-block-embed__wrapper:before {
    padding-top: 42.85%; }
  .wp-has-aspect-ratio.wp-embed-aspect-18-9 .wp-block-embed__wrapper:before {
    padding-top: 50%; }
  .wp-has-aspect-ratio.wp-embed-aspect-16-9 .wp-block-embed__wrapper:before {
    padding-top: 56.25%; }
  .wp-has-aspect-ratio.wp-embed-aspect-4-3 .wp-block-embed__wrapper:before {
    padding-top: 75%; }
  .wp-has-aspect-ratio.wp-embed-aspect-1-1 .wp-block-embed__wrapper:before {
    padding-top: 100%; }
  .wp-has-aspect-ratio.wp-embed-aspect-9-6 .wp-block-embed__wrapper:before {
    padding-top: 66.66%; }
  .wp-has-aspect-ratio.wp-embed-aspect-1-2 .wp-block-embed__wrapper:before {
    padding-top: 200%; }

.wp-block-embed.is-type-wp-embed.is-provider-ystandard .wp-block-embed__wrapper:before {
  display: none;
  padding: 0; }

.wp-block-embed__wrapper > .embed__container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: unset;
  margin: 0; }

.wp-block-columns {
  margin: 1.5em -15px 0;
  display: flex; }
  .wp-block-columns + .wp-block-columns {
    margin-top: 0; }
  .wp-block-columns .wp-block-column {
    padding: 15px;
    flex: 1 1 50%;
    max-width: 50%; }
  .wp-block-columns .has-3-columns .wp-block-column {
    flex: 0 1 33.33333%;
    max-width: 33.33333%; }
  .wp-block-columns .has-4-columns .wp-block-column {
    flex: 0 1 25%;
    max-width: 25%; }
  .wp-block-columns .has-5-columns .wp-block-column {
    flex: 0 1 20%;
    max-width: 20%; }
  .wp-block-columns .has-6-columns .wp-block-column {
    flex: 0 1 16.66667%;
    max-width: 16.66667%; }

.wp-block-pullquote {
  padding: 3em 0;
  margin: 2em 0;
  border-top: 1px solid #292b2c;
  border-bottom: 1px solid #292b2c;
  text-align: center; }
  .wp-block-pullquote blockquote {
    background: none;
    border: none;
    color: inherit; }
    .wp-block-pullquote blockquote p {
      font-size: 2em; }
    .wp-block-pullquote blockquote:after {
      display: none; }
  .wp-block-pullquote cite:before {
    display: none; }

.wp-block-button {
  margin: 1.5em 0; }
  .wp-block-button a {
    display: inline-block;
    padding: 1rem 3rem;
    background-color: #222;
    border-radius: 2rem;
    color: #fff;
    text-decoration: none; }
  .wp-block-button.aligncenter {
    text-align: center; }
  .wp-block-button.alignleft {
    text-align: left; }
  .wp-block-button.alignright {
    text-align: right; }
