.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  visibility: hidden; }

.breadcrumbs {
  padding: .5rem 0;
  margin: -2rem 0 0;
  font-size: 0;
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  list-style: none; }
  .breadcrumbs a {
    text-decoration: none;
    color: #757575; }

.breadcrumbs__item {
  display: inline;
  font-size: .7rem;
  color: #757575; }
  .breadcrumbs__item:not(:last-child):after {
    content: "/";
    margin: 0 .25rem; }

.ys-ad-block {
  margin: 2rem 0;
  text-align: center; }
  .ys-ad-block.ys-ad-widget {
    margin: 0; }
  .ys-ad-block .ys-ad-title {
    display: block;
    padding: 0;
    margin: 0 0 .5rem;
    border: 0;
    font-size: .8rem;
    font-weight: normal;
    color: #757575; }
    .ys-ad-block .ys-ad-title:before, .ys-ad-block .ys-ad-title:after {
      display: none; }

.flex--row {
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem; }
  .flex--row.-no-gutter {
    margin-right: 0;
    margin-left: 0; }
    .flex--row.-no-gutter > [class*="flex__col"] {
      padding-right: 0;
      padding-left: 0; }
    .flex--row.-no-gutter.-all > [class*="flex__col"] {
      padding-top: 0;
      padding-bottom: 0; }
  .flex--row.-slide {
    flex-wrap: nowrap;
    margin: 0;
    overflow: scroll hidden;
    -webkit-overflow-scrolling: touch; }
    .flex--row.-slide::-webkit-scrollbar {
      height: 8px; }
    .flex--row.-slide::-webkit-scrollbar-track {
      border-radius: 8px;
      background-color: #fafafa; }
    .flex--row.-slide::-webkit-scrollbar-thumb {
      background-color: #e9ecef;
      border-radius: 8px; }
    .flex--row.-slide > .flex__col {
      flex: 0 0 30%;
      max-width: 30%;
      min-width: 240px; }

.flex--c-c {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center; }

.flex--a-start {
  align-items: flex-start; }

.flex--a-center {
  align-items: center; }

.flex--a-end {
  align-items: flex-end; }

.flex--j-start {
  justify-content: flex-start; }

.flex--j-end {
  justify-content: flex-end; }

.flex--j-center {
  justify-content: center; }

.flex--j-between {
  justify-content: space-between; }

.flex--j-around {
  justify-content: space-around; }

.flex {
  display: flex; }

.flex--wrap {
  flex-wrap: wrap; }

.flex--nowrap {
  flex-wrap: nowrap; }

.flex--flow-row {
  flex-flow: row; }

.flex--reverse {
  flex-flow: row-reverse; }

.flex--column {
  flex-direction: column; }

.flex--column-reverse {
  flex-direction: column-reverse; }

[class*="flex__col"] {
  max-width: 100%;
  padding: 1rem; }

.flex__col {
  flex-grow: 1;
  flex-basis: 0; }

.flex__col--auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%; }

.flex__col--1 {
  flex: 0 0 100%;
  max-width: 100%; }

.flex__col--2 {
  flex: 0 0 50%;
  max-width: 50%; }

.flex__col--3 {
  flex: 0 0 33.33%;
  max-width: 33.33%; }

.flex__col--4 {
  flex: 0 0 25%;
  max-width: 25%; }

.flex__col--5 {
  flex: 0 0 20%;
  max-width: 20%; }

.flex__col--6 {
  flex: 0 0 16.66%;
  max-width: 16.66%; }

.card {
  background-color: #fff;
  color: #222;
  text-decoration: none;
  box-shadow: 0 3px 15px rgba(189, 195, 199, 0.7);
  transition: all .3s; }
  .card:hover {
    color: #222; }
  .card.-hover:hover {
    box-shadow: 0 3px 40px rgba(189, 195, 199, 0.7); }

.card__content {
  height: 100%; }

.card__img {
  border-bottom: 1px solid #EEEEEE; }

.card__text {
  position: relative;
  padding: 1.5rem; }

.item-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.item-list__item {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #EEEEEE; }
  .item-list__item:first-child {
    border-top: 1px solid #EEEEEE; }

.item-list__img {
  width: 100%;
  text-align: center; }
  .item-list__img img, .item-list__img amp-img {
    margin: 0;
    padding: 0; }
  .item-list__img.thumb {
    width: 75px; }

.item-list__title {
  font-size: 1rem; }

.item-list__dscr,
.item-list__meta {
  font-size: .8rem;
  color: #757575; }

.ratio {
  display: block;
  position: relative;
  width: 100%; }
  .ratio:before {
    content: "";
    display: block; }

.ratio.-r-4-3:before {
  padding-top: 75%; }

.ratio.-r-16-9:before {
  padding-top: 56%; }

.ratio.-r-3-1:before {
  padding-top: 33%; }

.ratio.-r-2-1:before {
  padding-top: 50%; }

.ratio.-r-1-1:before {
  padding-top: 100%; }

.ratio__item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden; }

.ratio__image {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
  .ratio__image img,
  .ratio__image amp-img {
    width: 100%;
    height: auto; }

@supports (object-fit: cover) {
  .ratio__image {
    top: 0;
    transform: none;
    height: 100%; }
    .ratio__image img,
    .ratio__image amp-img {
      height: 100%;
      object-fit: cover; } }

.share-btn {
  margin: 1rem -1px; }

.share-btn__item {
  border: 1px solid #fff; }

.share-btn__link {
  position: relative;
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  z-index: 2; }

.share-btn__icon {
  position: absolute;
  top: 0;
  left: 0;
  opacity: .2;
  z-index: 1;
  font-size: 3em;
  line-height: 1; }

.follow-box {
  background-color: #fafafa;
  margin-right: -1rem;
  margin-left: -1rem; }

.follow-box__image {
  border: 1px solid transparent; }

.follow-box__inner {
  padding: 1rem 0; }

.follow-box__item {
  margin-bottom: .25rem; }
  .follow-box__item:last-child {
    margin-bottom: 0; }

.follow-box__list {
  margin: .5rem 0; }

.follow-box__link {
  display: block;
  padding: 0.1rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem;
  text-decoration: none;
  transition: all .3s; }

.author-small__name {
  margin: 0 0 0 .2rem; }

.author-small__figure img, .author-small__figure amp-img {
  border-radius: 50%; }

.author-box__block {
  margin-top: .5em; }

.author-box__img {
  width: 96px;
  height: auto;
  border-radius: 50%; }

.author-box__name {
  font-size: 1.1em; }

.author-box__sns {
  display: inline-block; }

.author-box__sns-item {
  margin-right: .5em; }
  .author-box__sns-item:last-child {
    margin-right: 0; }

.author-box__dscr p {
  margin-top: .25em; }

input,
textarea,
select,
button {
  padding: .5rem;
  background-color: #fff;
  border: 1px solid #bdc3c7;
  border-radius: 2px;
  font-size: 1rem; }

input[type="text"],
input[type="search"],
input[type="url"],
input[type="email"],
textarea,
select {
  display: block;
  width: 100%;
  -webkit-appearance: none; }

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  background-color: #222;
  border: 1px solid #222;
  color: #fff;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem;
  text-decoration: none;
  transition: all .3s; }
  button:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover,
  input[type="button"]:hover {
    background-color: #fff;
    color: #222;
    border-color: #222; }

.icon-l {
  margin-right: .25rem; }

.post-paging__item {
  border-top: 1px solid #EEEEEE;
  color: #222;
  text-decoration: none; }
  .post-paging__item:last-child {
    border-bottom: 1px solid #EEEEEE; }

.post-paging__detail {
  padding: .5rem; }
  .post-paging__detail.-prev {
    text-align: left; }
  .post-paging__detail.-next {
    text-align: right; }

.post-paging__image img,
.post-paging__image amp-img {
  max-width: 75px; }

.post-paging__home {
  padding: 1rem;
  height: 100%; }

.pagination {
  margin-top: 2rem; }
  .pagination a {
    text-decoration: none; }

.pagination__item {
  width: 44px;
  height: 44px;
  background-color: #e9ecef;
  color: #222;
  transition: all .3s; }
  .pagination__item:hover {
    color: #222;
    opacity: .6; }

.pagination__item,
.post-page-numbers {
  margin: 0 .25rem .25rem 0; }
  .pagination__item:last-child,
  .post-page-numbers:last-child {
    margin-right: 0; }
  .pagination__item.-current,
  .pagination__item.current .page-links__item,
  .post-page-numbers.-current,
  .post-page-numbers.current .page-links__item {
    background-color: #292b2c;
    color: #fff; }
    .pagination__item.-current:hover,
    .pagination__item.current .page-links__item:hover,
    .post-page-numbers.-current:hover,
    .post-page-numbers.current .page-links__item:hover {
      opacity: 1; }

.ys-posts__link {
  color: #222;
  text-decoration: none; }

.ys-posts__title,
.ys-posts__excerpt {
  display: block; }

.ys-posts__excerpt {
  margin-top: 1em; }

.ys-posts__list.-list {
  border-top: 1px solid #EEEEEE; }

.ys-posts__item.-list {
  border-bottom: 1px solid #EEEEEE; }

.ys-posts__design--list .ys-posts__img {
  width: 100px; }

.ys-posts__design--list .ys-posts__content {
  margin: 0 1rem; }

.ys-posts__design--card {
  height: 100%; }
  .ys-posts__design--card .ys-posts__img {
    border-bottom: 1px solid #EEEEEE; }
  .ys-posts__design--card .ys-posts__content {
    margin: 1rem; }

.ys-blog-card__link {
  display: block;
  position: relative;
  padding: 0 1rem;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-decoration: none;
  box-shadow: 0 1px 5px rgba(189, 195, 199, 0.7); }
  .ys-blog-card__link:hover {
    text-decoration: none;
    box-shadow: 0 1px 10px rgba(189, 195, 199, 0.7); }

.ys-blog-card__title {
  color: #222; }

.ys-blog-card__dscr {
  display: none; }

.ys-blog-card__image {
  max-width: 100px;
  margin-right: 1rem; }

.ys-blog-card__btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .5em .75em;
  border: 1px solid #292b2c;
  background-color: #292b2c;
  border-radius: 4px;
  font-size: .7em;
  color: #fff;
  line-height: 1; }
  .ys-blog-card__btn i,
  .ys-blog-card__btn svg {
    margin-left: .25rem;
    vertical-align: -.1em; }

.post-term__item {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: .5rem; }
  .post-term__item:last-child {
    margin-right: 0; }

.post-term__link {
  display: block;
  font-size: .9rem;
  color: #222;
  text-decoration: none; }
  .post-term__link i,
  .post-term__link svg {
    margin-right: .1rem; }

.search-form {
  position: relative; }

.search-field {
  padding-right: 3.5rem; }
  .search-field::placeholder {
    color: inherit;
    opacity: .7; }
  .search-field:-ms-input-placeholder {
    color: inherit;
    opacity: .7; }
  .search-field::-ms-input-placeholder {
    color: inherit;
    opacity: .7; }

.search-submit {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: .5rem 1rem;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 1px solid #bdc3c7;
  background-color: transparent;
  border-radius: 0;
  color: #222;
  -webkit-appearance: none; }

.aligncenter,
div.aligncenter,
.alignleft,
.alignright {
  display: block; }

.aligncenter,
div.aligncenter {
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  max-width: 100%;
  text-align: center;
  font-size: .9em;
  padding: .25rem .5rem .5rem; }
  .wp-caption img {
    margin: 0;
    padding: 0; }

figcaption,
.wp-caption-text {
  color: #757575;
  font-size: .9em;
  font-style: italic;
  text-align: center; }

.wp-caption-text {
  padding: .25rem .5rem .5rem; }

figcaption {
  padding: .25rem .5rem 0; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem -1px; }

.gallery-item {
  align-items: flex-start;
  flex: 0 1 auto;
  padding: 1px;
  margin: 0; }
  .gallery-item a:hover {
    opacity: .8; }

.gallery-columns-2 .gallery-item {
  width: 50%; }

.gallery-columns-3 .gallery-item {
  width: 33.33333%; }

.gallery-columns-4 .gallery-item {
  width: 25%; }

.gallery-columns-5 .gallery-item {
  width: 20%; }

.gallery-columns-6 .gallery-item {
  width: 16.66667%; }

.gallery-columns-7 .gallery-item {
  width: 14.28571%; }

.gallery-columns-8 .gallery-item {
  width: 12.5%; }

.gallery-columns-9 .gallery-item {
  width: 11.11111%; }

.gallery-caption {
  text-align: center; }

.sticky {
  box-sizing: inherit; }

.bypostauthor {
  display: block; }

.emoji {
  width: 1em; }

.alignwide,
.alignfull {
  margin-right: -1rem;
  margin-left: -1rem; }

.has-drop-cap:first-letter {
  text-transform: uppercase; }

.wp-block-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1px;
  margin-left: -1px;
  padding: 0;
  list-style: none; }
  .wp-block-gallery.columns-1 .blocks-gallery-item {
    flex: 0 0 100%;
    max-width: 100%; }
  .wp-block-gallery.columns-2 .blocks-gallery-item {
    flex: 0 0 50%;
    max-width: 50%; }
  .wp-block-gallery.columns-3 .blocks-gallery-item {
    flex: 0 0 33.33%;
    max-width: 33.33%; }
  .wp-block-gallery.columns-4 .blocks-gallery-item {
    flex: 0 0 25%;
    max-width: 25%; }
  .wp-block-gallery.columns-5 .blocks-gallery-item {
    flex: 0 0 20%;
    max-width: 20%; }
  .wp-block-gallery.columns-6 .blocks-gallery-item {
    flex: 0 0 16.66%;
    max-width: 16.66%; }
  .wp-block-gallery.is-cropped .blocks-gallery-item {
    display: flex;
    flex-direction: column; }
  .wp-block-gallery.is-cropped figure {
    flex-grow: 1; }
  .wp-block-gallery.is-cropped img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .wp-block-gallery.alignfull {
    padding-right: 0;
    padding-left: 0; }

.blocks-gallery-item {
  border: 1px solid transparent; }

.wp-block-cover {
  position: relative;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background-size: cover;
  color: #fff; }

.wp-block-cover.has-background-dim:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: inherit;
  opacity: .5;
  z-index: 1; }

.wp-block-cover.has-parallax {
  background-attachment: fixed;
  background-position: center; }

.wp-block-cover.has-background-dim-1:before {
  opacity: 0.1; }

.wp-block-cover.has-background-dim-2:before {
  opacity: 0.2; }

.wp-block-cover.has-background-dim-3:before {
  opacity: 0.3; }

.wp-block-cover.has-background-dim-4:before {
  opacity: 0.4; }

.wp-block-cover.has-background-dim-5:before {
  opacity: 0.5; }

.wp-block-cover.has-background-dim-6:before {
  opacity: 0.6; }

.wp-block-cover.has-background-dim-7:before {
  opacity: 0.7; }

.wp-block-cover.has-background-dim-8:before {
  opacity: 0.8; }

.wp-block-cover.has-background-dim-9:before {
  opacity: 0.9; }

.wp-block-cover.has-background-dim-10:before {
  opacity: 1; }

.wp-block-file {
  margin-top: 1.5em; }

.wp-block-file__button {
  background-color: #222;
  border: 1px solid #222;
  color: #fff;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem;
  text-decoration: none;
  transition: all .3s;
  margin-left: 1em; }
  .wp-block-file__button:hover {
    background-color: #fff;
    color: #222;
    border-color: #222; }

.wp-block-video {
  max-width: 100%; }

.wp-block-pullquote blockquote {
  font-size: 2em;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  padding: 1.5rem 2.5rem; }
  .wp-block-pullquote blockquote:before {
    font-size: 14rem;
    opacity: .05; }

.wp-block-pullquote p {
  margin-top: .5em; }

.wp-block-verse {
  background-color: rgba(255, 255, 255, 0);
  color: #757575;
  line-height: 1.8;
  font-style: italic;
  letter-spacing: .1em; }

.wp-block-spacer {
  margin: 0;
  padding: 0;
  border: 0; }

.wp-block-button {
  margin-top: 1.5em; }

.wp-block-button__link {
  background-color: #222;
  border: 1px solid #222;
  color: #fff;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem;
  text-decoration: none;
  transition: all .3s; }
  .wp-block-button__link:hover {
    background-color: #fff;
    color: #222;
    border-color: #222; }
  .is-style-outline .wp-block-button__link {
    background-color: #fff;
    border: 1px solid #222;
    color: #222; }
    .is-style-outline .wp-block-button__link:hover {
      background-color: #222;
      color: #fff;
      border-color: #222; }
  .is-style-squared .wp-block-button__link {
    border-radius: 0; }

.wp-block-columns {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-right: -1rem;
  margin-left: -1rem; }
  .wp-block-columns.has-sm-1-columns .wp-block-column {
    flex: 0 0 100%;
    max-width: 100%; }
  .wp-block-columns.has-sm-2-columns .wp-block-column {
    flex: 0 0 50%;
    max-width: 50%; }

.wp-block-column {
  padding: 1rem;
  flex: 0 0 100%;
  max-width: 100%; }

.wp-block-media-text {
  display: flex;
  flex-direction: column; }

.wp-block-media-text__content {
  padding: 1rem 0; }

.is-stacked-on-mobile {
  position: relative;
  background-color: #000; }
  .is-stacked-on-mobile .wp-block-media-text__media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: inherit;
    z-index: 1; }
    .is-stacked-on-mobile .wp-block-media-text__media:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: inherit;
      opacity: .75;
      z-index: 2; }
    .is-stacked-on-mobile .wp-block-media-text__media img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .is-stacked-on-mobile .wp-block-media-text__content {
    position: relative;
    z-index: 3;
    padding: 2rem;
    color: #fff; }

.wp-block-separator {
  width: 60%; }
  .wp-block-separator.is-style-wide {
    width: 100%; }
  .wp-block-separator.is-style-dots {
    border: 0; }
    .wp-block-separator.is-style-dots:after {
      content: "";
      display: block;
      width: 100%;
      height: 5px;
      background-image: linear-gradient(to right, #EEEEEE, #EEEEEE 5px, transparent 5px, transparent 5px);
      background-size: 50px 5px;
      background-position: bottom;
      background-repeat: repeat-x; }

.wp-block-latest-posts {
  list-style: none;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0; }
  .wp-block-latest-posts li {
    padding: .5rem 0; }

.wp-block-latest-posts__post-date {
  display: block;
  font-size: .8rem;
  color: #757575; }

.wp-block-search {
  position: relative;
  background-color: #fff; }

.wp-block-search__input {
  padding-right: 3.5rem; }

.wp-block-search__label {
  display: none; }

.wp-block-search__button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: .5rem 1rem;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 1px solid #bdc3c7;
  background-color: #222;
  border-radius: 0;
  color: #fff;
  -webkit-appearance: none; }

.wp-has-aspect-ratio .wp-block-embed__wrapper {
  position: relative; }
  .wp-has-aspect-ratio .wp-block-embed__wrapper::before {
    content: "";
    display: block;
    padding-top: 56%; }
  .wp-has-aspect-ratio .wp-block-embed__wrapper iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.wp-embed-aspect-21-9 .wp-has-aspect-ratio .wp-block-embed__wrapper::before {
  padding-top: 42%; }

.wp-embed-aspect-18-9 .wp-has-aspect-ratio .wp-block-embed__wrapper::before {
  padding-top: 50%; }

.wp-embed-aspect-16-9 .wp-has-aspect-ratio .wp-block-embed__wrapper::before {
  padding-top: 56%; }

.wp-embed-aspect-4-3 .wp-has-aspect-ratio .wp-block-embed__wrapper::before {
  padding-top: 75%; }

.wp-embed-aspect-1-1 .wp-has-aspect-ratio .wp-block-embed__wrapper::before {
  padding-top: 100%; }

.wp-embed-aspect-9-16 .wp-has-aspect-ratio .wp-block-embed__wrapper::before {
  padding-top: 177%; }

.wp-embed-aspect-1-2 .wp-has-aspect-ratio .wp-block-embed__wrapper::before {
  padding-top: 200%; }

.wp-block-calendar tbody,
.widget_calendar tbody {
  text-align: center; }

.wp-block-calendar td,
.wp-block-calendar th,
.widget_calendar td,
.widget_calendar th {
  padding: .5rem; }

@media screen and (min-width: 600px) {
  .flex--md {
    display: flex; }
  .flex--md-wrap {
    flex-wrap: wrap; }
  .flex--md-nowrap {
    flex-wrap: nowrap; }
  .flex--md-flow-row {
    flex-flow: row; }
  .flex--md-reverse {
    flex-flow: row-reverse; }
  .flex--md-column {
    flex-direction: column; }
  .flex--md-column-reverse {
    flex-direction: column-reverse; } }

@media screen and (min-width: 1025px) {
  .flex--lg {
    display: flex; }
  .flex--lg-wrap {
    flex-wrap: wrap; }
  .flex--lg-nowrap {
    flex-wrap: nowrap; }
  .flex--lg-flow-row {
    flex-flow: row; }
  .flex--lg-reverse {
    flex-flow: row-reverse; }
  .flex--lg-column {
    flex-direction: column; }
  .flex--lg-column-reverse {
    flex-direction: column-reverse; } }

@media screen and (min-width: 600px) {
  .flex__col--md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .flex__col--md-1 {
    flex: 0 0 100%;
    max-width: 100%; }
  .flex__col--md-2 {
    flex: 0 0 50%;
    max-width: 50%; }
  .flex__col--md-3 {
    flex: 0 0 33.33%;
    max-width: 33.33%; }
  .flex__col--md-4 {
    flex: 0 0 25%;
    max-width: 25%; }
  .flex__col--md-5 {
    flex: 0 0 20%;
    max-width: 20%; }
  .flex__col--md-6 {
    flex: 0 0 16.66%;
    max-width: 16.66%; } }

@media screen and (min-width: 1025px) {
  .flex__col--lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .flex__col--lg-1 {
    flex: 0 0 100%;
    max-width: 100%; }
  .flex__col--lg-2 {
    flex: 0 0 50%;
    max-width: 50%; }
  .flex__col--lg-3 {
    flex: 0 0 33.33%;
    max-width: 33.33%; }
  .flex__col--lg-4 {
    flex: 0 0 25%;
    max-width: 25%; }
  .flex__col--lg-5 {
    flex: 0 0 20%;
    max-width: 20%; }
  .flex__col--lg-6 {
    flex: 0 0 16.66%;
    max-width: 16.66%; } }

@media screen and (min-width: 600px) {
  .ys-posts__link img {
    transition: all .4s; }
  .ys-posts__link:hover img {
    transform: scale(1.1, 1.1); } }

@media screen and (min-width: 600px) {
  .post-paging__item {
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE; }
  .post-paging__detail {
    padding: 1rem; } }

@media screen and (min-width: 600px) {
  .ys-blog-card__link {
    padding: 1rem 2rem; }
    .ys-blog-card__link::after {
      font-size: .8em; }
  .ys-blog-card__title {
    font-size: 1.1em; }
  .ys-blog-card__dscr {
    display: block;
    margin-top: 1em; }
  .ys-blog-card__image {
    max-width: 250px; } }

@media screen and (min-width: 600px) {
  .follow-box {
    margin-right: 0;
    margin-left: 0; } }

@media screen and (min-width: 600px) {
  .alignleft {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem; }
  .alignright {
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem; } }

@media screen and (min-width: 1025px) {
  .alignwide {
    margin-right: -2rem;
    margin-left: -2rem; }
  .has-sidebar .alignwide {
    margin-right: 0;
    margin-left: 0; }
  .alignfull {
    margin-right: calc(-50vw + 50%);
    margin-left: calc(-50vw + 50%);
    padding-right: calc(-50% + 50vw);
    padding-left: calc(-50% + 50vw); }
  .has-sidebar .alignfull {
    margin-right: 0;
    margin-left: 0; } }

@media screen and (min-width: 600px) {
  .wp-block-media-text {
    align-items: center;
    flex-direction: row; }
  .has-media-on-the-right {
    flex-direction: row-reverse; }
  .wp-block-media-text__media,
  .wp-block-media-text__content {
    max-width: 50%;
    flex-grow: 1; }
  .wp-block-media-text__content {
    padding: 0 1rem; }
  .is-stacked-on-mobile {
    position: relative;
    background-color: unset; }
    .is-stacked-on-mobile .wp-block-media-text__media {
      position: relative;
      background-color: unset; }
      .is-stacked-on-mobile .wp-block-media-text__media:before {
        display: none; }
      .is-stacked-on-mobile .wp-block-media-text__media img {
        height: auto;
        width: auto;
        object-fit: unset; }
    .is-stacked-on-mobile .wp-block-media-text__content {
      position: relative;
      padding: 0 1rem;
      color: inherit; } }

@media screen and (min-width: 600px) {
  .wp-block-columns.has-md-1-columns .wp-block-column {
    flex: 0 0 100%;
    max-width: 100%; }
  .wp-block-columns.has-md-2-columns .wp-block-column {
    flex: 0 0 50%;
    max-width: 50%; }
  .wp-block-columns.has-md-3-columns .wp-block-column {
    flex: 0 0 33.33%;
    max-width: 33.33%; } }

@media screen and (min-width: 1025px) {
  .wp-block-columns.has-1-columns .wp-block-column {
    flex: 0 0 100%;
    max-width: 100%; }
  .wp-block-columns.has-2-columns .wp-block-column {
    flex: 0 0 50%;
    max-width: 50%; }
  .wp-block-columns.has-3-columns .wp-block-column {
    flex: 0 0 33.33%;
    max-width: 33.33%; }
  .wp-block-columns.has-4-columns .wp-block-column {
    flex: 0 0 25%;
    max-width: 25%; }
  .wp-block-columns.has-5-columns .wp-block-column {
    flex: 0 0 20%;
    max-width: 20%; }
  .wp-block-columns.has-6-columns .wp-block-column {
    flex: 0 0 16.66%;
    max-width: 16.66%; } }

.btn {
  background-color: #222;
  border: 1px solid #222;
  color: #fff;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem;
  text-decoration: none;
  transition: all .3s; }
  .btn:hover {
    background-color: #fff;
    color: #222;
    border-color: #222; }

.btn--sm {
  padding-top: .25rem;
  padding-bottom: .25rem; }

.btn--lg {
  padding: .75rem 3rem; }

.btn--block {
  display: block; }

.text--b {
  font-weight: bold; }

.text-sub,
a.text-sub,
.text-sub a {
  color: #757575; }
  .text-sub:hover,
  a.text-sub:hover,
  .text-sub a:hover {
    color: #757575; }

.clear-a a {
  color: inherit;
  text-decoration: none; }

.text--center {
  text-align: center; }

.text--left {
  text-align: left; }

.text--right {
  text-align: right; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.box-shadow {
  box-shadow: 0 3px 15px rgba(189, 195, 199, 0.7); }

.box-shadow--lg {
  box-shadow: 3px 3px 15px rgba(189, 195, 199, 0.7); }

.tbl-fixed {
  table-layout: fixed; }

@media screen and (max-width: 599px) {
  .tbl-scroll {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: .5rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch; }
    .tbl-scroll > * {
      width: auto;
      min-width: 100%;
      white-space: nowrap; }
    .tbl-scroll::-webkit-scrollbar {
      height: .2rem; }
    .tbl-scroll::-webkit-scrollbar-track {
      background: #fafafa; }
    .tbl-scroll::-webkit-scrollbar-thumb {
      background: #bdc3c7; } }

.sns-bg--twitter {
  background-color: #2b97f0;
  color: #fff; }
  .sns-bg--twitter.-hover:hover {
    background-color: #fff;
    color: #2b97f0; }

.sns-text--twitter {
  color: #2b97f0; }
  .sns-text--twitter.-hover:hover {
    color: #8ac6f7; }

.sns-border--twitter {
  border: 1px solid #2b97f0; }

.sns-bg--facebook {
  background-color: #3b5a9b;
  color: #fff; }
  .sns-bg--facebook.-hover:hover {
    background-color: #fff;
    color: #3b5a9b; }

.sns-text--facebook {
  color: #3b5a9b; }
  .sns-text--facebook.-hover:hover {
    color: #728fca; }

.sns-border--facebook {
  border: 1px solid #3b5a9b; }

.sns-bg--google-plus {
  background-color: #db2814;
  color: #fff; }
  .sns-bg--google-plus.-hover:hover {
    background-color: #fff;
    color: #db2814; }

.sns-text--google-plus {
  color: #db2814; }
  .sns-text--google-plus.-hover:hover {
    color: #f17264; }

.sns-border--google-plus {
  border: 1px solid #db2814; }

.sns-bg--hatenabookmark {
  background-color: #007ad2;
  color: #fff; }
  .sns-bg--hatenabookmark.-hover:hover {
    background-color: #fff;
    color: #007ad2; }

.sns-text--hatenabookmark {
  color: #007ad2; }
  .sns-text--hatenabookmark.-hover:hover {
    color: #39acff; }

.sns-border--hatenabookmark {
  border: 1px solid #007ad2; }

.sns-bg--rss {
  background-color: #fb8501;
  color: #fff; }
  .sns-bg--rss.-hover:hover {
    background-color: #fff;
    color: #fb8501; }

.sns-text--rss {
  color: #fb8501; }
  .sns-text--rss.-hover:hover {
    color: #feb564; }

.sns-border--rss {
  border: 1px solid #fb8501; }

.sns-bg--feedly {
  background-color: #8cba43;
  color: #fff; }
  .sns-bg--feedly.-hover:hover {
    background-color: #fff;
    color: #8cba43; }

.sns-text--feedly {
  color: #8cba43; }
  .sns-text--feedly.-hover:hover {
    color: #bad68d; }

.sns-border--feedly {
  border: 1px solid #8cba43; }

.sns-bg--pocket {
  background-color: #ea4654;
  color: #fff; }
  .sns-bg--pocket.-hover:hover {
    background-color: #fff;
    color: #ea4654; }

.sns-text--pocket {
  color: #ea4654; }
  .sns-text--pocket.-hover:hover {
    color: #f4a2a9; }

.sns-border--pocket {
  border: 1px solid #ea4654; }

.sns-bg--instagram {
  background-color: #3f729b;
  color: #fff; }
  .sns-bg--instagram.-hover:hover {
    background-color: #fff;
    color: #3f729b; }

.sns-text--instagram {
  color: #3f729b; }
  .sns-text--instagram.-hover:hover {
    color: #78a4c8; }

.sns-border--instagram {
  border: 1px solid #3f729b; }

.sns-bg--line {
  background-color: #2cbf13;
  color: #fff; }
  .sns-bg--line.-hover:hover {
    background-color: #fff;
    color: #2cbf13; }

.sns-text--line {
  color: #2cbf13; }
  .sns-text--line.-hover:hover {
    color: #62ed4b; }

.sns-border--line {
  border: 1px solid #2cbf13; }

.sns-bg--tumblr {
  background-color: #35465c;
  color: #fff; }
  .sns-bg--tumblr.-hover:hover {
    background-color: #fff;
    color: #35465c; }

.sns-text--tumblr {
  color: #35465c; }
  .sns-text--tumblr.-hover:hover {
    color: #5a779d; }

.sns-border--tumblr {
  border: 1px solid #35465c; }

.sns-bg--youtube-play {
  background-color: #cd201f;
  color: #fff; }
  .sns-bg--youtube-play.-hover:hover {
    background-color: #fff;
    color: #cd201f; }

.sns-text--youtube-play {
  color: #cd201f; }
  .sns-text--youtube-play.-hover:hover {
    color: #e86a6a; }

.sns-border--youtube-play {
  border: 1px solid #cd201f; }

.sns-bg--vine {
  background-color: #00b389;
  color: #fff; }
  .sns-bg--vine.-hover:hover {
    background-color: #fff;
    color: #00b389; }

.sns-text--vine {
  color: #00b389; }
  .sns-text--vine.-hover:hover {
    color: #1affc9; }

.sns-border--vine {
  border: 1px solid #00b389; }

.sns-bg--github {
  background-color: #4183c4;
  color: #fff; }
  .sns-bg--github.-hover:hover {
    background-color: #fff;
    color: #4183c4; }

.sns-text--github {
  color: #4183c4; }
  .sns-text--github.-hover:hover {
    color: #8fb6dc; }

.sns-border--github {
  border: 1px solid #4183c4; }

.sns-bg--pinterest {
  background-color: #cb2027;
  color: #fff; }
  .sns-bg--pinterest.-hover:hover {
    background-color: #fff;
    color: #cb2027; }

.sns-text--pinterest {
  color: #cb2027; }
  .sns-text--pinterest.-hover:hover {
    color: #e76a6f; }

.sns-border--pinterest {
  border: 1px solid #cb2027; }

.sns-bg--linkedin {
  background-color: #0e76a8;
  color: #fff; }
  .sns-bg--linkedin.-hover:hover {
    background-color: #fff;
    color: #0e76a8; }

.sns-text--linkedin {
  color: #0e76a8; }
  .sns-text--linkedin.-hover:hover {
    color: #2eb0ee; }

.sns-border--linkedin {
  border: 1px solid #0e76a8; }

.icon-hatenabookmark::before {
  content: "B!";
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0;
  font-family: Verdana, sans-serif;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.section {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.section.-tall {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.section.-screen {
  min-height: 100vh; }

.ys-box {
  padding: 1rem;
  margin: 1.5rem 0;
  background-color: #fafafa;
  border: 1px solid #EEEEEE; }
  .ys-box > *:first-child {
    margin-top: 0; }
  .ys-box > *:last-child {
    margin-bottom: 0; }

.ystd-settings__section {
  padding: 2em 0;
  border-bottom: 1px solid #bdc3c7; }
  .ystd-settings__section * {
    box-sizing: border-box; }
  .ystd-settings__section > *:first-child {
    margin-top: 0; }
  .ystd-settings__section > *:last-child {
    margin-bottom: 0; }
  .ystd-settings__section h3 {
    margin: 2em 0 1em;
    font-size: 1.5em; }
  .ystd-settings__section .card {
    margin: 0;
    padding: 0;
    max-width: 100%; }

.ystd-settings__icon {
  margin-top: 2rem;
  margin-bottom: .5rem;
  font-size: 1.5em; }

.ystd-settings__btn {
  margin-top: 1.5rem; }

.orbitron {
  font-family: Orbitron, sans-serif; }

.ystd-settings__table {
  width: 100%;
  border-collapse: collapse; }
  .ystd-settings__table thead,
  .ystd-settings__table th {
    text-align: left;
    font-weight: bold; }
  .ystd-settings__table th,
  .ystd-settings__table td {
    padding: .5em;
    margin: 0; }
