.card {
  @at-root {

    & {
      background-color: #fff;
      color: $color__text-main;
      text-decoration: none;
      @include box-shadow;

      &:hover {
        color: $color__text-main;;
      }
    }

    .card__content {
      height: 100%;
    }

    .card__img {
      border-bottom: 1px solid $color__border-gray-light;
    }

    .card__text {
      position: relative;
      padding: 1.5rem;
    }
  }
  //at-root
}
