@use "../../global";

$editor: false !default;

@mixin ys-posts--card() {

	.ys-posts {
		&.is-card {

			.ys-posts__thumbnail {
				margin-bottom: var(--ystd-posts-inner-gap);
			}

			.ys-posts__text {
				word-break: break-word;
				@include global.child_margin(var(--ystd-posts-inner-gap));
			}

			.ys-posts__meta {
				justify-content: space-between;
			}
		}
	}
}
