@use "../../global";

$editor: false !default;

@mixin ys-posts() {

  .ys-posts {

	.ys-posts__thumbnail {
	  flex: 0 0 var(--ystd-posts-thumbnail-width);
	  width: var(--ystd-posts-thumbnail-width);
	}

	&.is-list {
	  --ystd-posts-thumbnail-width: min(25%, 100px);
	  --ystd-posts-content-gap: clamp(var(--ystd-posts-inner-gap), 2.3%, var(--ystd-posts-item-gap));
	  @include global.media-breakpoint(sm) {
		--ystd-posts-thumbnail-width: min(30%, 360px);
	  }

	  .ys-posts__content {
		display: flex;
		gap: var(--ystd-posts-content-gap);
	  }

	  .ys-posts__item {
		padding-bottom: var(--ystd-posts-item-gap);
		border-bottom: var(--ystd-posts-item-border);
	  }

	  .ys-posts__text {
		display: flex;
		flex-direction: column;
		gap: var(--ystd-posts-inner-gap);
		width: calc(100% - var(--ystd-posts-thumbnail-width) - var(--ystd-posts-content-gap));

		> * {
		  margin-top: 0;
		  margin-bottom: 0;
		}
	  }

	  .ys-posts__title {
		order: 1;
	  }

	  .ys-posts__meta {
		display: block;
		order: 2;

		> * {
		  display: inline;

		  &:last-child {
			margin-left: var(--ystd-posts-inner-gap);
		  }
		}

		.ys-icon {
		  margin-right: 0;
		  vertical-align: -0.025em;
		}
	  }

	  .ys-posts__dscr {
		order: 3;
	  }
	}

	&.is-card {

	  .ys-posts__thumbnail {
		margin-bottom: var(--ystd-posts-inner-gap);
	  }

	  .ys-posts__text {
		@include global.child_margin(var(--ystd-posts-inner-gap));
		word-break: break-word;
	  }

	  .ys-posts__meta {
		justify-content: space-between;
	  }
	}
  }

  .ys-posts__list {
	display: flex;
	flex-wrap: wrap;
	gap: var(--ystd-posts-item-gap);

	> * {
	  flex: 0 0 var(--ystd-posts-item-width);
	  width: var(--ystd-posts-item-width);
	}

	@for $i from 1 through 4 {
	  &.col-sp--#{$i} {
		@include global.posts_column_cp($i);
	  }
	  &.col-tablet--#{$i} {
		@include global.media-breakpoint(sm) {
		  @include global.posts_column_cp($i);
		}
	  }
	  &.col-pc--#{$i} {
		@include global.media-breakpoint(lg) {
		  @include global.posts_column_cp($i);
		}
	  }
	}
  }

  .ys-post__no-image {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: var(--site-bg-light-gray);
	color: var(--font-gray);
  }

  .ys-posts__list {
	margin: 0;
	padding: 0;
	list-style: none;
  }

  .ys-posts__item {
	.ys-posts__image {
	  transition: transform 0.3s;
	}

	&:hover {
	  .ys-posts__image {
		transform: scale(1.1);
	  }
	}
  }

  .ys-posts__content {
	position: relative;
	height: 100%;
  }

  .ys-posts__text {
	word-break: break-word;
  }

  .ys-posts__meta {
	display: flex;
	flex-wrap: wrap;
	gap: var(--ystd-posts-inner-gap);
	color: var(--content-meta);
	font-size: 0.7em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	> * {
	  display: flex;
	  align-items: center;
	}

	.ys-icon {
	  margin-right: 0.25em;
	}

	svg {
	  @include global.svg_size(0.8em);
	}
  }

  .ys-posts__title {
	font-size: 0.9em;
	font-weight: global.$font__weight_bold;
	line-height: 1.4;
  }

  .ys-posts__link {
	color: currentColor;
	text-decoration: none;

	&:hover {
	  color: currentColor;
	}

	&::after {
	  content: "";
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	}
  }

  .ys-posts__dscr {
	color: var(--content-meta);
	font-size: 0.7em;
	line-height: 1.3;
  }

}

@if false == $editor {
  @include ys-posts();
}
