@use "../../global";

// エディター全体のスタイル
.editor-styles-wrapper,
.editor-post-title__block .editor-post-title__input {
	background-color: var(--wp--custom--ystd--editor--background, var(--ystd--editor--background));
	color: var(--wp--custom--ystd--editor--text-color, var(--ystd--editor--text-color));
	font-family: var(--wp--custom--ystd--editor--font-family, var(--ystd--font-family));
	line-height: var(--wp--custom--ystd--editor--line-height, var(--ystd--line-height));
	letter-spacing: var(--wp--custom--ystd--editor--letter-spacing, var(--ystd--letter-spacing));
	word-wrap: break-word;

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

// 本文のスタイル
.editor-styles-wrapper {
	font-size: var(--wp--custom--ystd--editor--font-size, 16px);
}

// タイトル入力欄
.editor-post-title__block .editor-post-title__input {
	font-size: var(--wp--custom--ystd--editor--title--font-size, 1.4em);
	resize: none;
}

// 見出し関連
:where(h1,h2,h3,h4,h5,h6) {
	font-family: var(--wp--custom--ystd--editor--heading-font-family, var(--ystd--font-family));
}

:where(h1:not(.editor-post-title),h2,h3,h4,h5,h6) {
	margin-top: var(--ystd--headline--default--padding-top);
	margin-bottom: var(--ystd--headline--default--padding-bottom);
	padding: 0;
	line-height: var(--ystd--headline--line-height);
	letter-spacing: var(--ystd--headline--letter-spacing);
}

:where(h1+h2,h2+h3,h3+h4,h4+h5,h5+h6) {
	margin-top: var(--ystd--layout-gap);
}

:where(h1:not(.editor-post-title)) {
	font-size: var(--ystd--headline--font-size--h1);
}

:where(h2) {
	font-size: var(--ystd--headline--font-size--h2);
}

:where(h3) {
	font-size: var(--ystd--headline--font-size--h3);
}

:where(h4) {
	font-size: var(--ystd--headline--font-size--h4);
}

:where(h5) {
	font-size: var(--ystd--headline--font-size--h5);
}

:where(h6) {
	font-size: var(--ystd--headline--font-size--h6);
}
