@use "../../global";

.footer-widget {
  th {
    color: var(--font-color);
  }

  .widget_calendar {
    a {
      text-decoration: underline;
    }
  }
}

.footer-widget__container {
  @include global.child_margin(2em);

  @include global.media-breakpoint(sm) {
    display: flex;
    margin-right: -1em;
    margin-left: -1em;

    > * {
      width: 100%;
      margin-top: 0;
      padding-right: 1em;
      padding-left: 1em;
    }
  }
}

.footer-widget__column {
  @include global.child_margin(2em);
}
