.site-footer {
  a {
	text-decoration: none;
  }

  --font-gray: var(--footer-text-gray);
  --content-meta: var(--footer-text-gray);
}

.footer-main {
  padding-top: 4em;
  padding-bottom: 1em;
  background-color: var(--footer-bg);
  color: var(--footer-text);
  overflow: hidden;

  > * {
	margin-top: 4em;

	&:first-child {
	  margin-top: 0;
	}
  }

  a {
	color: currentColor;
  }
}
