.footer-sub {
  padding-top: var(--sub-footer-padding);
  padding-bottom: var(--sub-footer-padding);
  background-color: var(--sub-footer-bg);
  color: var(--sub-footer-text);
  overflow: hidden;

  a {
	color: var(--sub-footer-text);
  }
}

.footer-sub__content {
  @include child_margin(1em);
}
