@use "../../global";

.footer-sub {
  padding-top: var(--ystd--sub-footer--padding);
  padding-bottom: var(--ystd--sub-footer--padding);
  background-color: var(--ystd--sub-footer--background);
  color: var(--ystd--sub-footer--text-color);
  overflow: hidden;

  a {
	color: var(--ystd--sub-footer--text-color);
  }
}

.footer-sub__content {
  @include global.child_margin(1em);
}
