.ratio {
  @at-root {
    & {
      display: block;
      width: 100%;
      position: relative;
      &:before {
        content:"";
        display: block;
      }
    }
    .ratio__4-3 {
      padding-top: (decimal-floor(( 3 / 4 ), 2) * 100)#{%};
    }
    .ratio__16-9 {
      padding-top: (decimal-floor(( 9 / 16 ), 2) * 100)#{%};
    }
    .ratio__3-1 {
      padding-top: (decimal-floor(( 1 / 3 ), 2) * 100)#{%};
    }
    .ratio__2-1 {
      padding-top: (decimal-floor(( 1 / 2 ), 2) * 100)#{%};
    }
    .ratio__1-1 {
      padding-top: (decimal-floor(( 1 / 1 ), 2) * 100)#{%};
    }
    .ratio__item {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    .ratio__image {
      width: 100%;
      height: 100%;
      img,amp-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
