.ratio {
  @at-root {
    & {
      position: relative;
      width: 100%;
      &:before {
        content:"";
        display: block;
      }
    }
    .ratio__4-3 {
      padding-top: ( 3 / 4 * 100 )#{%};
    }
    .ratio__16-9 {
      padding-top: ( 9 / 16 * 100 )#{%};
    }
    .ratio__3-1 {
      padding-top: ( 1 / 3 * 100 )#{%};
    }
    .ratio__2-1 {
      padding-top: ( 1 / 2 * 100 )#{%};
    }
    .ratio__1-1 {
      padding-top: ( 1 / 1 * 100 )#{%};
    }
    .ratio__item {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    .ratio__image {
      width: 100%;
      height: 100%;
      img,amp-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
