.wp-block-separator {
	min-width: 100px;
	clear: both;
	padding: 0;
	border-top: 1px solid;
	border-bottom: 0;
	opacity: 0.8;

	&:where(.is-style-dots) {
		width: 100%;
		border: 0;

		&::before {
			font-size: 1.8em;
			font-weight: bold;
			line-height: 1;
		}
	}

	&:where(.has-background):where(:not(.is-style-dots)) {
		height: 0;
	}

	&:where(.is-style-wide) {
		width: 100%;
		border-top-width: 1px;
		border-bottom-width: 0;
	}
}
