.comments-area {
  ol {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
  }
}

.comment__parent {
  margin-top: 2rem;

  &:first-child {
    margin-top: 1rem;
  }

  .children {
    margin-top: 1rem;
  }
}

.comment__body {
  padding: 1rem;
  border: 1px solid $color__border-gray-light;
}

.comments__header {
  padding-bottom: 1rem;
  border-bottom: 1px solid $color__border-gray-light;
}

.comment__author-image {
  min-width: 42px;
  margin-right: 1rem;

  img {
    border-radius: 50%;
  }
}

.comment__name {
  display: block;
  font-style: normal;

  a {
    color: $color__text-main;
  }
}

.comment__meta {
  a {
    text-decoration: none;
  }
}

.comment__text {
  margin-top: 1rem;
  font-size: .9em;
}

.comment__reply {
  word-break: keep-all;
}

.comment-respond {
  margin-top: 2rem;
}

.logged-in-as,
.comment-notes,
.akismet_comment_form_privacy_notice {
  font-size: .8em;
}

.required {
  color: #D53939;
}

