//--------------------------------------
//
//	記事一覧ページ
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------

.page-header {
  border-bottom: 1px solid $ys-content-entry-list-separator-color;
}

.page-title {
	font-size: 1.4rem;
  text-align: center;
}

.taxonomy-description {

	margin: 1rem 0 0;
	font-size: .8rem;
  color: $ys-content-description-font-color;

	p {
		margin: 0 0 .2rem;
	}
}


//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {

};

//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {


};
