//--------------------------------------
//
//	基本部分
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------
* {
	box-sizing: border-box;
}

html,
body {
  max-width: 100%;

	font-size: $ys-font-size;
	font-family: $ys-font-family;
	line-height: $ys-line-height;
	color: $ys-font-color;
	letter-spacing: $ys-letter-spacing;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  word-break: break-all;
  word-wrap: break-word;
}

body {
	background-color: $ys-bg-color-body;
}

.clearfix {
	@include clearfix;
}

a {
	color: $ys-link-color;
	transition: color .3s,background-color .3s;

	&:hover {
		color: $ys-link-color-hover;
	}
}

img {
	max-width: 100%;
	height: auto;
}

//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {

};

//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {

};
