//--------------------------------------
//
//	記事を書いた人
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------
.author-info {
	margin: 2rem 0 0;
}

.author-avatar {
	width: 96px;
	margin: 0 auto;
	text-align: center;

	img {
		border-radius: 50%;
	}
}

.author-title {

	margin: 0 0 .5rem;
	text-align: center;

	a {
		display: block;
		font-weight: bold;
		color: $ys-font-color;
	}

}

.author-bio {
	font-size: .9rem;

	p {
		margin: 0 0 .5rem;
	}
}

.author-sns {

  margin: 0 0 .5rem;
	font-size: 0;
  text-align: center;

	li {
		display: inline-block;
		margin-right: .5rem;
		font-size: 1rem;
		vertical-align: middle;

		a {
			transition: color .3s;
		}

		&:last-child {
			margin-right: 0;
		}
	}

}


//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {

	.author-avatar {
		margin-right: 1rem;
		float: left;
	}

	.author-title {
		text-align: left;
	}
  .author-sns {
    text-align: left;
  }

	.author-description.show-avatar {
    overflow: hidden;
	}
};

//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {

};
