//--------------------------------------
//
//	投稿共通
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------
.post-list {
  margin: 0 0 $ys-gutter-sp * 2;
  border-bottom: 1px solid $ys-content-entry-list-separator-color;
}//.post

.entry-container {
  display: block;
}

.post-thumbnail-container {
  display: block;
  position: relative;
  margin: 0 0 1rem;

  &:hover {
    .entry-more {
      background-color: $ys-content-postthumb-hover-bg-color;
      color: $ys-content-postthumb-hover-color;
    }
  }

  &:before {
    content:"";
    display: block;
    padding-top: 61%;
  }
  .post-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    img {
      width: 100%;
      box-sizing: border-box;
    }
  }
}



// 続き
.entry-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  color: transparent;
  transition: background-color .3s,color .3s;
}

// 投稿者
.entry-meta-author {
	margin: .5rem 0 0;
  font-size: .5rem;

	.author {

		&::before {
			@include fontawesome("f007");
		}
	}//.author
}

// カテゴリー情報
.entry-meta-cat {

}

// 本文
.entry-excerpt {
  margin: 1rem 0 .5rem;
  font-size: .7em;
  color: $ys-content-entry-excerpt-color;
}







//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {

  .post-list {
      margin: 0;
    }//.post

  .entry-container {
    transition: background-color .5s;

    &:hover {
      background-color: $ys-content-entry-list-hover-bg;
    }
  }

  .post-thumbnail-container {
    width: 250px;
    margin-right: $ys-gutter-sp;
    float: left;

    &:before {
      padding-top: 0;
    }
    .post-thumbnail {
      position: static;
      overflow: visible;


      img {
        width: auto;
      }
    }
  }

  .entry-detail {
    overflow: hidden;
  }

};




//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {

  .post-thumbnail-container {
    margin-right: $ys-gutter;
  }


};
