//--------------------------------------
//
//	投稿共通/ファーストビューに関わる部分
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------

.page-header,
.none-content,
.entry-container > .post-list {
  padding: $ys-gutter-sp * 2 $ys-gutter-sp;
}
.site-main > article {
  padding: $ys-gutter-sp;
}

// アイキャッチ
.post-thumbnail {
	text-align: center;
	line-height: 0;

  img {
    border: $ys-content-image-border-px solid $ys-content-image-border-color;
    box-sizing: content-box;
    margin-left: -3px;
  }
  amp-img {
    max-width: 100%;
    img {
      margin-left: 0;
    }
  }
}


// 投稿タイトル
.entry-title {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 1rem 0;
  color: $ys-content-entry-title-color;
}

// 投稿タイトル
.single,
.page {
  .entry-header .entry-title {
    margin: 0 0 .5rem;
    font-size: 1.6rem;

  	a {
  		color: $ys-font-color;
  	}
  }//.entry-title
}//.single,.page

.entry-header {
  margin: 0 0 2rem;
}

// 投稿の付加情報
.entry-meta {
	font-size: .7rem;
	color: $ys-content-entry-meta-color;
	@include clearfix;

	a {
		color: $ys-content-entry-meta-color;
	}
}
// アイコン用
.entry-meta-ico {
  height: 1em;
  width: 1em;
  padding: 0;
  margin:0;
  margin-right: .3rem;
  fill: $ys-content-entry-meta-color;
  vertical-align: middle;
}

.sns-share__header {
  margin: .5rem 0;

  .sns-share-button {
    margin-right: -2px;

    li {
      text-align: center;
      width: ( 100 / 6 )#{%};
      margin: 0;
      border-right: 2px solid #fff;
      vertical-align: top;

      a {
        padding: .5rem .3rem;
      }
      a::before {
        margin-right: .2rem;
      }
    }
  }
  .sns-share-text {
    display: none;
    letter-spacing: normal;
  }
}

// 左右で分割表示するときのクラス
.entry-meta-left {
	float: left;
}
.entry-meta-right {
	float: right;
}

// 日付の表示
.entry-date-container {
  margin: 0 0 .5rem;
	font-size: .7rem;
	text-align: right;
  line-height: 1;
}
.entry-date,
.entry-date-update {
  vertical-align: middle;
}

.entry-date-update {
  margin-left: .5rem;
}

.entry-content {
  // --------------------
  // 隙間をあけるもの
  // --------------------
  p,
  ul,
  ol,
  dl,
  blockquote,
  pre {
    margin: 0 0 3rem;
  }
  // --------------------
	// 見出し
	// --------------------
	h1,
	h2 {
		margin: 6rem 0 2rem;
		font-size: 1.6rem;
	}

	h3 {
		margin: 5.5rem 0 2rem;
		font-size: 1.5rem;
	}

	h4 {
		margin: 5rem 0 2rem;
		font-size: 1.4rem;
	}

	h5 {
		margin: 4.5rem 0 2rem;
		font-size: 1.3rem;
	}

	h6 {
		margin: 4rem 0 2rem;
		font-size: 1.3rem;
	}

  // --------------------
	// 画像
	// --------------------
	figure,
	img,
  amp-img {
		max-width: 100%;
		margin-bottom: .5rem;
	}
  figure {
    text-align: center;
  }
  img {
    border: $ys-content-image-border-px solid $ys-content-image-border-color;
  }
  img + figcaption {
    margin-bottom: 1rem;
  }

	// --------------------
	// 装飾
	// --------------------
	strong,b {
		font-weight: bold;
	}

  @include clearfix;

}//.entry-content,.comment-text


// 広告
.ad-container {
  margin: 1rem 0;
  text-align: center;
  max-width: 100%;
  ins {
    background-color: #fff;
  }
}
.entry-content .ad-container{
  margin: 1rem 0 2rem;
}
.ad-label {
  font-size: .7rem;
  color: $ys-font-color-gray;
}


// ワンカラム
.ys-one-column {

  .entry-header {
    position: relative;
    padding: 10% 1rem;
    margin-top: -1rem;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    overflow-y: hidden;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background-color: rgba(#000,.6);
      z-index: 2;
    }

    .entry-title,
    .entry-date-container {
      position: relative;
      max-width: $ys-wrap-width-1col;
      margin-left: auto;
      margin-right: auto;
      color: #fff;
      font-weight: bold;
      z-index: 3;
    }
    .entry-meta-ico {
      fill:#fff;
    }

    .post-thumbnail {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      z-index: 1;
      overflow-x: hidden;

      img {
        width: 120%;
        max-width: none;
        position: absolute;
        top: 0;
        left: 50%;
        bottom: 0;
        right: 0;
        margin:auto;
        transform: translateX(-50%);
        border: none;
      }
    }//.post-thumbnail

  }//.entry-header

  .entry-content {
    max-width: $ys-wrap-width-1col;
    margin-left: auto;
    margin-right: auto;
  }
}//.ys-one-column


//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {

  .page-header,
  .none-content,
  .entry-container > .post-list,
  .site-main > article {
    padding: $ys-gutter-sp;
  }

  .entry-content {
    font-size: 1.1rem;
  }
  .ad-double {
    font-size: 0;

    .ad-left,
    .ad-right {
      display: inline-block;
      width: 50%;
      margin: 0;
      font-size: 1rem;
      vertical-align: top;
    }
    .ad-left {
      padding-right: .5rem;
    }
    .ad-right {
      padding-left: .5rem;
    }
  }//.ad-double
};




//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {

  .page-header,
  .none-content,
  .entry-container > .post-list,
  .site-main > article {
    padding: $ys-gutter;
  }

  // ワンカラム
  .ys-one-column {

    .entry-header {
      margin-top: -2rem;
      padding: 15% 1rem;
    }
  }
  .sns-share__header {
    a {
      font-size: .7rem;
    }
    .sns-share-text {
      display: inline;
    }
  }
};
