//--------------------------------------
//
//	個別投稿
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------
.amp-view-info {
	padding: 1rem;
	margin: 2rem 0;
	border: 1px solid $ys-border-color-gray;
	border-radius: $ys-border-radius-default;
	font-size: .8rem;
	text-align: left;
	color: $ys-font-color-gray;
}

.normal-view-link {
	display: block;
	margin: .5rem 0 0;
	font-size: .8rem;
}


// 投稿以外の左右padding調整クラス
.entry-footer-container {
  padding: $ys-gutter-sp;
}

// シェアボタン
.sns-share {
	margin-top: 2rem;
  background-color: $ys-content-share-bg-color;
	text-align: center;
}

.sns-share-title {
	margin: 0 0 1rem;
	font-size: 1.2rem;
}

.sns-share-button {
	font-size: 0;
	text-align: left;

	li {
		position: relative;
		width: 49%;
		display: inline-block;
		margin-bottom:.5rem;
		border-radius: $ys-border-radius-default;
		font-size: .8rem;
		transition: background-color 0.3s;

		&:nth-child(odd) {
			margin-right: 1%;
		}

		&:nth-child(even) {
			margin-left: 1%;
		}

		a {
			display: block;
			padding: .5rem 1rem;
		}

	}

	.twitter {
		a::before {
			@include fontawesome("f099",0,.5rem);
		}
	}

	.facebook {
		a::before {
			@include fontawesome("f09a",0,.5rem);
		}
	}

	.google-plus {
		a::before {
			@include fontawesome("f0d5",0,.5rem);
		}
	}

	.pocket {
		a::before {
			@include fontawesome("f265",0,.5rem);
		}
	}

	.line {
		a::before {
			@include fontawesome("f075",0,.5rem);
		}
	}
}//.sns-share-button


.subscribe {
  margin: 2rem 0 0;

  .subscribe-title {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    text-align: center;
  }

  ul {
    font-size: 0;
    list-style-type: none;
    text-align: center;

    li {
      display: inline-block;
      width: 50%;
      margin-bottom: 1rem;
      font-size: .8rem;
      text-align: center;
      line-height: 1.3;  
      vertical-align: top;
    }
    li:nth-child(odd){
      padding-right: .5rem;
    }
    li:nth-child(even){
      padding-left: .5rem;
    }
  }
  .follow-odd {
    li:nth-child(even){
      padding-right: .5rem;
      padding-left: 0;
    }
    li:nth-child(odd){
      padding-right: 0;
      padding-left: .5rem;
    }

    li:first-child {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }

  a {
    display: block;
    padding: .5rem;
    border-radius: $ys-border-radius-default;
  }

  .twitter::before {
    @include fontawesome("f099",0,auto,0,auto);
  }

  .facebook::before {
    @include fontawesome("f09a",0,auto,0,auto);
  }

  .google-plus::before {
    @include fontawesome("f0d5",0,auto,0,auto);
  }

  .feedly::before {
    @include fontawesome("f09e",0,auto,0,auto);
  }

  .twitter,
  .facebook,
  .google-plus,
  .feedly {
    &::before{
      display: block;
      font-size: 1.1rem;
    }
  }//.twitter,…

}//.subscribe


.entry-category-list,
.entry-tag-list {

  h2 {
    font-size: .9rem;
  }

	a {
		display: inline-block;
		position: relative;
		padding: .2rem .5rem;
		margin: .8rem .5rem .8rem 0;
		border: 1px solid $ys-content-taxonomy-border-color;
		border-radius: $ys-border-radius-default;
    font-size: .8rem;
		color: $ys-content-taxonomy-font-color;
		transition: color .3s;

		&:hover {
			color: $ys-content-taxonomy-font-color + #222;
		}
	}
}

.entry-tag-list {
  margin-top: 1rem;
}

.no-amp {
	.entry-category-list h2::before {
		@include fontawesome("f115");
	}
	.entry-tag-list h2::before {
		@include fontawesome("f02b");
	}
}


// ページャー
.page-links {

	text-align: center;

	.page-text {
		padding: .2rem .5rem;
		margin-right: .5rem;
		border: 1px solid $ys-content-pager-border-color;
		background-color: $ys-content-pager-current-bg-color;
		color: $ys-content-pager-current-font-color;
	}

	a {
		.page-text {
			background-color: $ys-content-pager-bg-color;
			color: $ys-content-pager-font-color;
		}
	}//a
}//.page-links

.post-password-form {

	input[type="password"] {
		border: 1px solid $ys-border-color-input;
		background-color: $ys-bg-color-input;
		padding: .1rem;
		font-size: .8rem;
		color: $ys-font-color-input;
	}

	input[type="submit"] {
		padding: .1rem .5rem;
		border: 1px solid $ys-border-color-button;
		background-color: $ys-bg-color-button;
		font-size: .8rem;
		color: $ys-font-color-button;
	}
}


.post-navigation {
	display: flex;
	margin: 0 0 2rem;

  .next-label,
  .prev-label {
    display: block;
    color: $ys-content-post-navlabel-font-color;
  }

  .nav-prev,
  .nav-next {

  	margin: 0 0 .5rem;
		width: 50%;
		vertical-align: top;

  	.meta-nav {
  		margin: 0 0 .1rem;
  		color: $ys-font-color;
  	}

  	span {
  		display: block;
  	}

    a {
      color: $ys-content-post-nav-font-color;
			font-size: .9rem;
      text-decoration: underline;
    }

  }//.nav-prev,.nav-next

	.nav-prev {
		text-align: left;
		padding-right: .5rem;
	}
	.nav-next {
		text-align: right;
		padding-left: .5rem;
	}

  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 3rem;

    a,a:hover{
      color: $ys-font-color;
    }
  }
}//.post-navigation



//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {

  .post-navigation {
		.nav-prev,
		.nav-next {
			a {
				font-size: 1rem;
			}
		}
  }//.post-navigation



	.sns-share-button {
		font-size: 0;
		text-align: left;
		text-align: center;

		li {
			width: 30%;
			margin-left: auto;
			text-align: left;

			&:nth-child(odd) {
				margin-right: 5%;
			}

			&:nth-child(even) {
				margin-right: 5%;
				margin-left: auto;
			}

			&:nth-child(3n+3) {
				margin-right: 0;
			}

		}

	}//.sns-share-button


  .subscribe {

    ul {
      li {
        max-width: 25%;
        padding: 0 .5rem;
      }
    }

    .follow-odd li {
      &:first-child,
      &:nth-child(odd),
      &:nth-child(even) {
        padding: 0 .5rem;
      }
    }
  }//subscribe

};




//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {

  .entry-footer-container {
    padding: $ys-gutter;
  }
};
