//--------------------------------------
//
//	投稿共通/ファーストビューに関わる部分
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------

.post {
  padding: $ys-gutter-sp $ys-gutter-sp $ys-gutter-sp * 2;
}

// アイキャッチ
.post-thumbnail {
  border: $ys-content-image-border-px solid $ys-content-image-border-color;
	text-align: center;
	line-height: 0;
}

// 投稿タイトル
.entry-title {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 1rem 0;
  color: $ys-content-entry-title-color;
}

// 投稿タイトル
.single,
.page {
  .entry-title {
    font-size: 1.5rem;

  	a {
  		color: $ys-font-color;
  	}
  }//.entry-title
}//.single,.page

.entry-header {
  margin: 0 0 2rem;
}

// 投稿の付加情報
.entry-meta {
	font-size: .8rem;
	color: $ys-content-entry-meta-color;
	@include clearfix;

	a {
		color: $ys-content-entry-meta-color;
	}
}

// 左右で分割表示するときのクラス
.entry-meta-left {
	float: left;
}
.entry-meta-right {
	float: right;
}

// 日付の表示
.entry-date-container {
	font-size: .8rem;
	text-align: right;

	svg {
		height: .7rem;
		width: auto;
		margin-right: .3rem;
    fill:$ys-content-entry-meta-color;
	}
}





//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {

  .post {
    padding: $ys-gutter-sp;
  }
};




//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {

  .post {
    padding: $ys-gutter;
  }
};
