//--------------------------------------
//
//	個別投稿
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------


/*
.amp {
	.entry-date {
		&::before {
			content: "公開：";
			font-size: .8rem;
		}
	}
	.entry-updated {
		&::before {
			content: "更新：";
			margin-left: .5rem;
			font-size: .8rem;
		}
	}
}
*/


.amp-view-info {
	padding: 1rem;
	margin: 2rem 0;
	border: 1px solid $ys-border-color-gray;
	border-radius: 3px;
	font-size: .8rem;
	text-align: left;
	color: $ys-font-color-gray;
}

.normal-view-link {
	display: block;
	margin: .5rem 0 0;
	font-size: .8rem;
}


// 投稿以外の左右padding調整クラス
.entry-footer-container {
  padding: $ys-gutter-sp;
}

// シェアボタン
.sns-share {
	margin-top: 2rem;
  background-color: $ys-content-share-bg-color;
	text-align: center;
}

.sns-share-title {
	margin: 0 0 1rem;
	font-size: 1.2rem;
}

.sns-share-button {
	font-size: 0;
	text-align: left;

	li {
		width: 49%;
		display: inline-block;
		margin-bottom:.5rem;
		border-radius: 3px;
		font-size: .8rem;
		transition: background-color 0.3s;

		&:nth-child(odd) {
			margin-right: 1%;
		}

		&:nth-child(even) {
			margin-left: 1%;
		}

		a {
			display: block;
			padding: .5rem 1rem;
		}

	}

	.twitter {
		a::before {
			@include fontawesome("f099",0,.5rem);
		}
	}

	.facebook {
		a::before {
			@include fontawesome("f09a",0,.5rem);
		}
	}

	.google-plus {
		a::before {
			@include fontawesome("f0d5",0,.5rem);
		}
	}

	.pocket {
		a::before {
			@include fontawesome("f265",0,.5rem);
		}
	}

	.line {
		a::before {
			@include fontawesome("f075",0,.5rem);
		}
	}
}//.sns-share-button


.entry-category-list,
.entry-tag-list {

  h2 {
    font-size: .9rem;
  }

	a {
		display: inline-block;
		position: relative;
		padding: .2rem .5rem;
		margin: 0 .5rem .5rem 0;
		border: 1px solid $ys-content-taxonomy-border-color;
		border-radius: 2px;
    font-size: .8rem;
		color: $ys-content-taxonomy-font-color;
		transition: color .3s;

		&:hover {
			color: $ys-content-taxonomy-font-color + #222;
		}
	}
}

.entry-tag-list {
  margin-top: 1rem;
}

.no-amp {
	.entry-category-list h2::before {
		@include fontawesome("f115");
	}
	.entry-tag-list h2::before {
		@include fontawesome("f02b");
	}
}

.entry-post-related {
  h2 {
    margin-bottom: 1rem;
  }
}


// ページャー
.page-links {

	text-align: center;

	.page-text {
		padding: .2rem .5rem;
		margin-right: .5rem;
		border: 1px solid $ys-content-pager-border-color;
		background-color: $ys-content-pager-current-bg-color;
		color: $ys-content-pager-current-font-color;
	}

	a {
		.page-text {
			background-color: $ys-content-pager-bg-color;
			color: $ys-content-pager-font-color;
		}
	}//a
}//.page-links

.post-password-form {

	input[type="password"] {
		border: 1px solid $ys-border-color-input;
		background-color: $ys-bg-color-input;
		padding: .1rem;
		font-size: .8rem;
		color: $ys-font-color-input;
	}

	input[type="submit"] {
		padding: .1rem .5rem;
		border: 1px solid $ys-border-color-button;
		background-color: $ys-bg-color-button;
		font-size: .8rem;
		color: $ys-font-color-button;
	}
}


.post-navigation {
	margin: 0 0 2rem;

  .nav-previous,
  .nav-next {

  	margin: 0 0 .5rem;

  	.meta-nav {
  		margin: 0 0 .1rem;
  		color: $ys-font-color;
  	}

  	span {
  		display: block;
  	}

  }
}//.post-navigation



//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {

  .post-navigation {
  	display: flex;

  	.prev,
  	.next {
  		width: 50%;
  		vertical-align: top;
  	}

    .next-label,
    .prev-label {
      display: block;
      margin-bottom: .5rem
    }

  	.prev {
  		text-align: left;
  		padding-right: .5rem;
  	}
  	.next {
  		text-align: right;
  		padding-left: .5rem;
  	}

    .home {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: 3rem;

      a,a:hover{
        color: $ys-font-color;
      }
    }
  }//.post-navigation



	.sns-share-button {
		font-size: 0;
		text-align: left;
		text-align: center;

		li {
			width: 30%;
			margin-left: auto;
			text-align: left;

			&:nth-child(odd) {
				margin-right: 5%;
			}

			&:nth-child(even) {
				margin-right: 5%;
				margin-left: auto;
			}

			&:nth-child(3n+3) {
				margin-right: 0;
			}

		}

	}//.sns-share-button

};




//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {

  .entry-footer-container {
    padding: $ys-gutter;
  }
};
