//--------------------------------------
//
//	投稿共通/ファーストビューに関わる部分
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------

.entry-container > .post,
.site-main > .page-header,
.site-main > article {
    padding: $ys-gutter-sp $ys-gutter-sp $ys-gutter-sp * 2;
}


// アイキャッチ
.post-thumbnail {
  border: $ys-content-image-border-px solid $ys-content-image-border-color;
	text-align: center;
	line-height: 0;
}

// 投稿タイトル
.entry-title {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 1rem 0;
  color: $ys-content-entry-title-color;
}

// 投稿タイトル
.single,
.page {
  .entry-header .entry-title {
    margin: 0 0 .5rem;
    font-size: 1.5rem;

  	a {
  		color: $ys-font-color;
  	}
  }//.entry-title
}//.single,.page

.entry-header {
  margin: 0 0 2rem;
}

// 投稿の付加情報
.entry-meta {
	font-size: .8rem;
	color: $ys-content-entry-meta-color;
	@include clearfix;

	a {
		color: $ys-content-entry-meta-color;
	}
}

// 左右で分割表示するときのクラス
.entry-meta-left {
	float: left;
}
.entry-meta-right {
	float: right;
}

// 日付の表示
.entry-date-container {
  margin: 0 0 .5rem;
	font-size: .7rem;
	text-align: right;

	svg {
		height: .7rem;
		width: auto;
		margin-right: .3rem;
    fill:$ys-content-entry-meta-color;
	}
}
.entry-date-update {
  margin-left: .5rem;
}

.entry-content,
.comment-text  {
  // --------------------
  // 隙間をあけるもの
  // --------------------
  p,
  ul,
  ol,
  dl,
  blockquote,
  pre,
  table,
  address {
    margin: 0 0 3rem;

    &:last-child {
      margin: 0;
    }
  }
  // --------------------
	// 見出し
	// --------------------
	h1,
	h2 {
		margin: 4rem 0 2rem;
		font-size: 1.5rem;
	}

	h3 {
		margin: 3rem 0 2rem;
		font-size: 1.3rem;
	}

	h4 {
		margin: 2.5rem 0 2rem;
		font-size: 1.2rem;
	}

	h5 {
		margin: 2rem 0 2rem;
		font-size: 1.1rem;
	}

	h6 {
		margin: 2rem 0 2rem;
		font-size: 1rem;
	}

  // --------------------
	// 画像
	// --------------------
	figure,
	img {
		max-width: 100%;
		margin-bottom: .5rem;
	}
  figure {
    text-align: center;
  }
  img {
    border: $ys-content-image-border-px solid $ys-content-image-border-color;
  }

	// --------------------
	// 装飾
	// --------------------
	strong,b {
		font-weight: bold;
	}


}//.entry-content,.comment-text


// 広告
.ad-container {
  margin: 1rem 0;
  text-align: center;
  max-width: 100%;
}
.entry-content .ad-container{
  margin: 1rem 0 2rem;
}
.ad-caption {
  font-size: .7rem;
  color: $ys-font-color-gray;
}


//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {

  .entry-container > .post,
  .site-main > .page-header,
  .site-main > article {
    padding: $ys-gutter-sp;
  }
  .entry-content {
    font-size: 1.1rem;
  }
  .ad-double {
    font-size: 0;

    .ad-left,
    .ad-right {
      display: inline-block;
      width: 50%;
      margin: 0;
      font-size: 1rem;
    }
    .ad-left {
      padding-right: .5rem;
    }
    .ad-right {
      padding-left: .5rem;
    }
  }//.ad-double
};




//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {

  .entry-container > .post,
  .site-main > .page-header,
  .site-main > article {
    padding: $ys-gutter;
  }
};
