//--------------------------------------
//
//	フッター
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------

.site-footer {
	padding: .5rem 0;
	background-color: $ys-footer-bg-color;
	color: $ys-footer-font-color;

  a,
  a:hover {
    color: $ys-footer-font-color;
  }
}


.follow-sns-list {

  margin: .5rem 0;
  line-height: 1;
  font-size: 1.3rem;
  text-align: center;

  li {
    display: inline-block;
    margin-right: .5rem;

    &:last-child {
      margin-right: 0;
    }
  }//li
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: $ys-footer-sns-bg-color;
    border-radius: 50%;

    &:hover {
      background-color: $ys-footer-sns-bg-color + #222;
    }
  }

  .icon-hatenabookmark::before {
    margin: 0;
  }
}

.footer-navigation {
	margin: 1rem 0 2rem;
}

.footer-menu {
  margin: 1rem 0;
	font-size: 0;
	text-align: left;

	li {
		display: inline-block;
		font-size: .8rem;
		margin-right: 1rem;
	}
}

.site-info {
	margin: .5rem 0 0;
	font-size: .8rem;
	text-align: center;

  .copy {
    margin-bottom: .5rem;
  }
}

.footer-widget-wrapper {
	padding: 2rem 0 1rem;
}
.footer-widget-left,
.footer-widget-center,
.footer-widget-right {
	margin: 0 0 1rem;
}


//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {

  .footer-widget-wrapper {
  	display: flex;
    flex-wrap: wrap;
  }

  .footer-widget-left {
    width: 100%;
  }
	.footer-widget-center,
	.footer-widget-right {
		flex: 1;
    width: 100%;
	}

	.footer-widget-left {
    padding: 0;
  }
	.footer-widget-center {
    padding: $ys-gutter-sp $ys-gutter-sp 0 0;
	}
	.footer-widget-right {
    padding: $ys-gutter-sp 0 0 $ys-gutter-sp;
	}


};

//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {

  .footer-widget-wrapper {
    flex-wrap: nowrap;
  }

	.footer-widget-left,
	.footer-widget-center,
	.footer-widget-right {
		flex: 1;
    width: 100%;
	}

	.footer-widget-left {
    padding: 0 $ys-gutter 0 0;
  }
	.footer-widget-center {
    padding: 0 $ys-gutter;
	}
	.footer-widget-right {
    padding: 0 0 0 $ys-gutter;
	}
};
