//--------------------------------------
//
//	フッター
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------

.site-footer {
	padding: .5rem 0;
	background-color: $ys-footer-bg-color;
	color: $ys-footer-font-color;

  a,
  a:hover {
    color: $ys-footer-font-color;
  }
}

.footer-navigation {
	margin: .5rem 0 0;
}

.footer-menu {
  margin: 1rem 0;
	font-size: 0;
	text-align: right;

	li {
		display: inline-block;
		font-size: .8rem;
		margin-right: 1rem;
	}
}

.follow-sns-list {

  margin: .5rem 0;
  line-height: 1;
  font-size: 1.3rem;
  text-align: center;

  li {
    display: inline-block;
    margin-right: .5rem;

    &:last-child {
      margin-right: 0;
    }
  }//li
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: $ys-footer-sns-bg-color;
    border-radius: 50%;

    &:hover {
      background-color: $ys-footer-sns-bg-color + #222;
    }
  }

  .icon-hatenabookmark::before {
    margin: 0;
  }
}


.site-info {
	margin: .5rem 0 0;
	font-size: .9rem;
	text-align: center;
}

.footer-widget-wrapper {
	padding: 1rem 0;
}
.footer-widget-left,
.footer-widget-center,
.footer-widget-right {
	margin: 0 0 1rem;
}


//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {

	.footer-widget-wrapper {
		font-size: 0;
		letter-spacing: -.4em;
	}

	.footer-widget-left,
	.footer-widget-center,
	.footer-widget-right {
		display: inline-block;
		font-size: .9rem;
		vertical-align: top;
		letter-spacing: $ys-letter-spacing;
	}

	.footer-widget-left {
		width: 100%;
	}

	.footer-widget-center,
	.footer-widget-right {
		width: 49%;
	}

	.footer-widget-center {
		margin: 0 1% 1rem 0;
	}

	.footer-widget-right {
		margin: 0 0 1rem 1%;
	}

};

//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {

	.footer-widget-left,
	.footer-widget-center,
	.footer-widget-right {
		width: 30%;
	}

	.footer-widget-left,
	.footer-widget-center {
		margin: 0 5% 1rem 0;
	}

	.footer-widget-right {
		margin: 0 0 1rem 0;
	}
};
