//--------------------------------------
//
//  枠
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------
.wrap {
  width: 100%;
  padding-right: $ys-gutter-sp;
  padding-left: $ys-gutter-sp;
}

.site-content {
  padding-top: $ys-gutter-sp;
  padding-bottom: $ys-gutter-sp;
}

.content-area {
  padding: $ys-gutter-sp;
  margin-right: -$ys-gutter-sp;
  margin-left: -$ys-gutter-sp;
  margin-bottom: $ys-gutter-sp;
  background-color: $ys-bg-color-content;
  overflow: hidden;
}

//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {

  .content-area {
    padding : 0;
  }
};

//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {
  .wrap {
    max-width: $ys-wrap-width;
    padding-right: $ys-gutter;
    padding-left: $ys-gutter;
    margin-right: auto;
    margin-left: auto;
  }
  .site-content {
    display: flex;
    padding-top: $ys-gutter;
    padding-bottom: $ys-gutter;
  }

  .content-area {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    border: $ys-grid-pc-border-px solid $ys-grid-pc-border-color;
  }

  .sidebar {
    flex: 0 0 $ys-sidebar-width;
    padding: $ys-gutter;
    overflow: hidden;
  }
};
