//--------------------------------------
//
//	サイドバー
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------
#sidebar-fixed {
  width: 100%;
}
.sidebar-wrapper {
  height: 100%;
  position: relative;
}
.sidebar-right {

	a {
	  color: $ys-widget-link-color;

	  &:hover {
	    color: $ys-widget-link-color-hover;
	  }
	}//a
}


//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {

};

//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {


};
