//--------------------------------------
//
//	便利クラス
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------
@each $key, $color in $sns-color {
	.color-#{$key},
  .widget .color-#{$key} {
		&,
		& a {
			color: $color;

			&:hover {
				color: lighten($color,$ys-sns-link-hover-lighten);
			}
		}
	}//.color-#{$key}

	.bg-#{$key},
  .widget .bg-#{$key} {

		background-color: $color;

		&:hover {
			background-color: lighten($color,$ys-sns-link-hover-lighten);
		}

    &,
		&:hover,
		& a,
		& a:hover {
			color: #fff;
		}
	}//.bg-#{$key}

}//@each

.icon-hatenabookmark {
	&::before {
		content: "B!";
		width: 1.28571429em;
		display: inline-block;
		margin: 0 .5rem 0 0;
		font-family: Verdana;
		font-weight: bold;
		font-style: normal;
		letter-spacing: 0;		
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {


};

//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {

};
