//--------------------------------------
//
//	便利クラス
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------
@each $key, $color in $sns-color {
	.color-#{$key},
  .widget .color-#{$key} {
		&,
		& a {
			color: $color;

			&:hover {
				color: lighten($color,$ys-sns-link-hover-lighten);
			}
		}
	}//.color-#{$key}

	.bg-#{$key},
  .widget .bg-#{$key} {

		background-color: $color;

		&:hover {
			background-color: lighten($color,$ys-sns-link-hover-lighten);
		}

    &,
		&:hover,
		& a,
		& a:hover {
			color: #fff;
		}
	}//.bg-#{$key}

}//@each

//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {


};

//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {

};
