//--------------------------------------
//
//	ウィジェット
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------
.widget {
	margin: 0 0 3rem;
  font-size: .9rem;

	ul,
	ol {
		li {
			margin: 0 0 .2rem;
		}
		.children,
    ul {
			padding-left: 1rem;
		}
	}

	table {
		width: 100%;
		table-layout: fixed;
	}

	select {
		width: 100%;
		display: block;
		// -webkit-appearance:none;
		// -moz-appearance:none;
		// appearance:none;
		position:relative;
		background:transparent;
		border:1px solid $ys-border-color-select;
		outline:none;
	}

}
.widget-title {
	margin: 0 0 1rem;
	font-size: 1.1rem;
}

.widget_rss,
.widget_recent_comments,
.widget_recent_entries {
  ul,
	ol {
		li {
			margin: 0 0 1rem;
		}
	}
}


.widget_calendar {
	tbody {
		text-align: center;
	}
	#prev {
		text-align: left;
	}
	#next {
		text-align: right;
	}
}

.widget_recent_entries {

	.post-date {
		display: block;
		font-size: .8rem;
	}
}


.ys-ranking-list {
  border-top:1px solid $ys-widget-ranking-border;

  a {
    display: block;
    padding: 1rem 0;
    border-bottom: 1px solid $ys-widget-ranking-border;

    &:hover {
      background-color: $ys-widget-ranking-hover-bg;
    }
  }//a

  img {
    float: left;
    margin-right: .5rem;
  }
  p {
    overflow: hidden;
  }
}//.ys-ranking-list


//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {

};

//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {


};
