//--------------------------------------
//
//	WordPressが出力するクラス関連
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------
.aligncenter,
div.aligncenter,
.alignleft,
.alignright {
	 display: block;
}

.aligncenter,
div.aligncenter {
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
	 text-align: center;
}
.wp-caption img {
	 margin: 0;
	 padding: 0;
	 border: 0 none;
}
.wp-caption .wp-caption-text {
	 font-size: .8rem;
	 padding: .1rem .5rem .5rem .5rem;
}


//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {
  	.alignleft {
  		 float: left;
  		 margin:0 1rem 1rem 0;
  	}

  	.alignright {
  		 float: right;
  		 margin:0 0 1rem 1rem;
  	}
};

//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {



};
