@use "../../global";

:where(.search-form) {
	position: relative;
}

:where(.search-field) {
	--ystd--search-field--placeholder--color: inherit;
	--ystd--search-field--placeholder--font-size: 0.9em;
	--ystd--search-field--placeholder--opacity: 0.7;

	padding-right: 3.5em;

	&::placeholder {
		color: var(--ystd--search-field--placeholder--color);
		opacity: var(--ystd--search-field--placeholder--opacity);
		font-size: var(--ystd--search-field--placeholder--font-size);
	}

	&:-ms-input-placeholder {
		color: var(--ystd--search-field--placeholder--color);
		opacity: var(--ystd--search-field--placeholder--opacity);
		font-size: var(--ystd--search-field--placeholder--font-size);
	}

	&::-ms-input-placeholder {
		color: var(--ystd--search-field--placeholder--color);
		opacity: var(--ystd--search-field--placeholder--opacity);
		font-size: var(--ystd--search-field--placeholder--font-size);
	}
}

:where(.search-submit) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;

	position: absolute;
	top: 0;
	right: 0;

	padding: 0.5em 1em;
	background-color: transparent;
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
	border-left: 1px solid var(--ystd--form--border-color);
	border-radius: 0;

	color: var(--ystd--form--text-color);

	box-sizing: border-box;
	-webkit-appearance: none;

	@media (hover: hover) {
		&:hover {
			box-shadow: none;
		}
	}


	:where(.ys-icon) {
		display: block;
		vertical-align: 0.1em;
	}

	svg {
		--ystd--search-submit--icon--size: 1em;
		display: block;
		width: var(--ystd--search-submit--icon--size);
		height: var(--ystd--search-submit--icon--size);
	}
}
