.text--b {
  font-weight: 600;
}
.text-sub,
a.text-sub,
.text-sub a {
  color: $color__text-light;
  &:hover {
    color: $color__text-light;
  }
}
.clear-a {
  a {
    color: inherit;
    text-decoration: none;
  }
}
@include make-text();
