.follow-box {
	margin-right: -1rem;
	margin-left: -1rem;
	background-color: $color__bg-gray-light;
}

.follow-box__inner {
	padding: 1rem 0;
}
.follow-box__item {
	margin-bottom: 0.25rem;

	&:last-child {
		margin-bottom: 0;
	}
}

.follow-box__list {
	margin: 0.5rem 0;
}

.follow-box__link {
	@include button_base(block, 0.1rem 1.5rem);
}
