//
// pagination
//
.pagination {
  margin-top: 2rem;
}

.pagination__item {
  width: 44px;
  height: 44px;
  margin: 0 .25rem .25rem 0;
  background-color: $color__bg-gray-dark;
  color: $color__text-main;
  text-decoration: none;
  transition: all .3s;
  
  &:hover {
    color: $color__text-main;
    opacity: .6;
  }
  &:last-child {
    margin-right: 0;
  }
  &.-current {
    background-color: $color__bg-dark;
    color: #fff;
    &:hover {
      opacity: 1;
    }
  }
}
