//
// container
//
@mixin container {
  position: relative;
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 get_margin();
}
//
// row
//
@mixin row {
  @include flex;
  margin-right: get_margin(-1);
  margin-left: get_margin(-1);
}
@mixin row--slide {
  display: flex;
  margin-right: get_margin(-1);
  margin-left: get_margin(-1);
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    height: 4px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: $bg-color-gray;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $border-color-gray;
    border-radius: 4px;
  }
}
//
// col
//
@mixin col {
  // flex: 1 1 auto;
  padding: get_margin();
}
//
//  col作成
//
@mixin make-col($breakpoint : "") {
  $columns : 4;
  $suffix: "";
  @if $breakpoint != "" {
    $suffix: #{"--"}#{$breakpoint};
  }
  @for $i from 1 through $columns {
    .col__#{$i}#{$suffix} {
      flex: 0 0 decimal-floor( 1 / $i , 4) * 100#{"%"};
      max-width: decimal-floor( 1 / $i , 4) * 100#{"%"};
    }
  }
}
