/*
  container
 */
@mixin container {
  position: relative;
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 $gutter;
}
/*
  row
 */
@mixin row {
  @include flex;
  margin-right: $gutter * -1;
  margin-left: $gutter * -1;
}
@mixin row--slide {
  display: flex;
  margin-right: $gutter * -1;
  margin-left: $gutter * -1;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    height: 4px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: $bg-color-gray;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $border-color-gray;
    border-radius: 4px;
  }
}
/*
  col
 */
@mixin col {
  // flex: 1 1 auto;
  padding: $gutter;
}
