@mixin make-section($breakpoint : sm, $gutter:2) {
  $gain: map-get($section-gutter, $breakpoint);
  $large: 1.5;
  $small: 0.5;
  .section {
    padding-top: #{($gutter * $gain)}rem;
    padding-bottom: #{($gutter * $gain)}rem;
  }

  .section--sm {
    padding-top: #{($gutter * $gain * $small)}rem;
    padding-bottom: #{($gutter * $gain * $small)}rem;
  }
  .section--lg {
    padding-top: #{($gutter * $gain * $large)}rem;
    padding-bottom: #{($gutter * $gain * $large)}rem;
  }
  .section--rotate {
    padding-top: #{($gutter * $gain * 2.5)}rem;
    padding-bottom: #{($gutter * $gain * 2.5)}rem;
  }
}
