@use "control-section-label";

:root {
	--ys--customizer--background-color--section-label: var(--ys--global--brand-color--main);
	--ys--customizer--text-color--section-label: #fff;
	--ys--customizer--text-color--section-description: var(--ys--global--color--gray);
}
