@use "../../global";

.container {
  position: relative;
  max-width: calc(var(--ystd-container-width) + var(--ystd-layout-gap) * 2);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--ystd-layout-gap);
  padding-left: var(--ystd-layout-gap);
}
