@use "../../global";

.container {
  position: relative;
  max-width: global.$width__container;
  margin-right: auto;
  margin-left: auto;
  padding-right: global.$gutter;
  padding-left: global.$gutter;
}
