
.container {
	@at-root {
		& {
			position: relative;
			max-width: $width__container;
			margin-right: auto;
			margin-left: auto;
			padding: 0 1rem;
		}
		.container--full {
			position: relative;
			max-width: 100%;
		}
	}
}

.contents {
	position: relative;
	overflow: hidden;
}