@use "../../global";

:where(.sidebar) {
	position: relative;

	@include global.media-up-show-sidebar() {
		max-width: var(--ystd--sidebar--2col--size);
	}
}

/**
 * ウィジェット・追従サイドバー
 */
:where(.sidebar__widget,.sidebar__fixed) {
	> * {
		max-width: var(--ystd--container--size);
		margin-right: auto;
		margin-left: auto;

		@include global.media-up-show-sidebar() {
			max-width: 100%;
		}

		+ * {
			margin-top: var(--ystd--layout-gap);
		}
	}
}

:where(.sidebar__widget + .sidebar__fixed) {
	margin-top: var(--ystd--layout-gap);
}

:where(.sidebar__fixed) {
	@include global.media-up-show-sidebar() {
		position: sticky;
		// --ystd--sidebar--custom-fixed-position--top はJSでセット.
		top: var(--ystd--sidebar--custom-fixed-position--top, var(--ystd--sidebar--fixed-position--top));
	}
}

/**
 * レイアウト・コンテンツ調整
 */
body:where(.has-sidebar) {
	:where(.site-content .entry-header,.site-content .entry-content,.site-content .entry-footer) {
		@include global.media-up-show-sidebar() {
			--ystd--content--size: 100%;
			--ystd--container--size: 100%;
			--wp--style--global--content-size: 100%;
		}
	}
}
