@include media-breakpoint(md) {
  .alignleft {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .alignright {
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
}
