@include media-breakpoint(lg) {
  .alignwide {
    margin-right: -2rem;
    margin-left: -2rem;
  }
  .alignfull {
    margin-right: calc(-50vw + 50%);
    margin-left: calc(-50vw + 50%);
    padding-right: calc(-50% + 50vw);
    padding-left: calc(-50% + 50vw);
  }
}



