.wp-block-pullquote {
  blockquote {
    font-size: 2em;
    border: 0;
    background-color: rgba(#fff, 0);
    padding: 1.5rem 2.5rem;

    &:before {
      font-size: 14rem;
      opacity: .05;
    }
  }

  p {
    margin-top: .5em;
  }
}
