.wp-caption {
  max-width: 100%;
  text-align: center;
  font-size: .9em;
  padding: .25rem .5rem .5rem;

  img {
    margin: 0;
    padding: 0;
  }
}
figcaption,
.wp-caption-text {
  color: $color__text-light;
  font-size: .9em;
  font-style: italic;
  text-align: center;
}
.wp-caption-text {
  padding: .25rem .5rem .5rem;
}
figcaption {
  padding: .25rem .5rem 0;
}
