.wp-caption {
	max-width: 100%;
	padding: 0.25rem 0.5rem 0.5rem;
	font-size: 0.9em;
	text-align: center;

	img {
		margin: 0;
		padding: 0;
	}
}
figcaption,
.wp-caption-text {
	color: $color__text-light;
	font-size: 0.9em;
	font-style: italic;
	text-align: center;
}
.wp-caption-text {
	padding: 0.25rem 0.5rem 0.5rem;
}
figcaption {
	padding: 0.25rem 0.5rem 0;
}