.gallery {
	@at-root {
		& {
			display: flex;
			flex-wrap: wrap;
			margin: 1.5rem -1px;
		}

		.gallery-item {
			align-items: flex-start;
			flex: 0 1 auto;
			margin: 0;
			padding: 1px;

			a:hover {
				opacity: 0.8;
			}
		}

		@for $i from 2 through 9 {
			.gallery-columns-#{$i} .gallery-item {
				width: decimal-floor(100% / $i);
			}
		}
		.gallery-caption {
			text-align: center;
		}
	}
	// @
}