.gallery {
  display: grid;
  gap: .5em;

  a:hover {
	opacity: 0.8;
  }

  .gallery-caption {
	text-align: center;
	font-size: .8em;
  }
}

@for $i from 2 through 9 {
  .gallery-columns-#{$i} {
	$width: decimal-floor(100% / $i);
	grid-template-columns: repeat(#{$i}, calc(#{$width} - .5em));
	grid-template-rows: auto;
  }
}
