.wp-block-details {
	--ystd--block-details--border-color: var(--ystd--site--border-color--gray);
	--ystd--block-details--padding-x: 1em;
	--ystd--block-details--padding-y: 1em;
	--ystd--block-details--marker-size: 1.2em;
	--ystd--block-details--marker-margin: 0.5em;
	--wp--style--block-gap: 1em;
	border: 1px solid var(--ystd--block-details--border-color);

	&[open] {
		padding-bottom: var(--ystd--block-details--padding-y);

		:where(summary) {
			border-bottom: 1px solid var(--ystd--block-details--border-color);

			&::after {
				rotate: 180deg;
			}
		}
	}

	:where(summary) {
		display: flex;
		gap: var(--ystd--block-details--marker-margin);
		padding-inline: var(--ystd--block-details--padding-y);
		padding-block: var(--ystd--block-details--padding-x);
		line-height: 1.3;
		list-style-type: none;

		&::after {
			content: "";
			width: var(--ystd--block-details--marker-size);
			height: var(--ystd--block-details--marker-size);
			flex-shrink: 0;
			margin-left: auto;
			margin-top: 0.1em;
			background-color: currentColor;
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
			mask-repeat: no-repeat;
			mask-size: 100% 100%;
			transition: rotate 0.2s ease-in-out;
		}
	}

	> :where(*) {
		padding-inline: var(--ystd--block-details--padding-y);
	}
}
