.wp-block-media-text {
  @at-root {
    @include media-breakpoint(md) {
      & {
        display: grid;
        grid-template-rows: auto;
        align-items: center;
        grid-template-areas: "media-text-media media-text-content";
        grid-template-columns: 50% auto;
        padding: 1rem 0;
        
        & + &.-list {
          padding-top: 0;
          margin-top: -1rem;
        }
      }
      .wp-block-media-text__media {
        grid-area: media-text-media;
      }
      .wp-block-media-text__content {
        grid-area: media-text-content;
        padding: 0 0 0 2rem;
      }

      .has-media-on-the-right {
        grid-template-areas: "media-text-content media-text-media";

        .wp-block-media-text__content {
          padding: 0 2rem 0 0;
        }
      }

      .is-stacked-on-mobile {
        position: relative;
        background-color: transparent;

        .wp-block-media-text__media {
          position: relative;
          background-color: transparent;

          &:before {
            display: none;
          }

          img {
            height: auto;
            width: auto;
            object-fit: unset;
          }
        }

        .wp-block-media-text__content {
          position: relative;
          padding: 0 1rem;
          color: inherit;
        }
      }
    }
  }
}





