.wp-block-button {
  margin-top: 1.5em;
  
  &.alignright {
    text-align: right;
  }
  &.aligncenter {
    text-align: center;
  }
  &.alignleft {
    text-align: left;
  }
  
  &.-full {
    a {
      display: block;
      text-align: center;
    }
  }
  &.-lg {
    a {
      padding: .75rem 3rem;
    }
  }
}

.wp-block-button__link {
  @at-root {
    & {
      @include button();

      .is-style-outline & {
        background-color: $color__btn-text;
        border: 1px solid $color__btn-border;
        color: $color__btn-bg;

        &:hover {
          background-color: $color__btn-bg;
          color: $color__btn-text;
          border-color: $color__btn-border;
        }
      }

      .is-style-squared & {
        border-radius: 0;
      }
    }
  }
}
