.wp-block-cover {
  @at-root {
    & {
      position: relative;
      display: flex;
      align-items: center;
      min-height: 500px;
      padding: 2rem 1rem;
      background-size: cover;
    }

    &.has-background-dim:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: inherit;
      opacity: .5;
      z-index: 1;
    }

    &.has-parallax {
      background-attachment: fixed;
      background-position: center;
    }
    
    .wp-block-cover__inner-container {
      position: relative;
      width: $width__content-inner;
      max-width: 100%;
      margin: 0 auto;
      z-index: 2;
    }
  }
}
