.wp-block-media-text {
  @at-root {
    @include media-breakpoint(md) {
      & {
        display: grid;
        grid-template-rows: auto;
        grid-template-areas: "media-text-media media-text-content";
        grid-template-columns: 50% auto;
        padding: 1rem 0;

        & + &.-list {
          padding-top: 0;
          margin-top: -1rem;
        }

        &.-center {
          align-items: center;
        }

        &.-bottom {
          align-items: end;
        }
      }
      .wp-block-media-text__media {
        grid-area: media-text-media;
      }
      .wp-block-media-text__content {
        grid-area: media-text-content;
        padding: 0 0 0 2rem;
      }

      .has-media-on-the-right {
        grid-template-areas: "media-text-content media-text-media";

        .wp-block-media-text__content {
          padding: 0 2rem 0 0;
        }
      }

      .is-stacked-on-mobile {
        position: relative;
        background-color: transparent;

        .wp-block-media-text__media {
          position: relative;
          background-color: transparent;

          &:before {
            display: none;
          }

          img {
            height: auto;
            width: auto;
            object-fit: unset;
          }
        }

        .wp-block-media-text__content {
          position: relative;
          padding: 0 1rem;
          color: inherit;
        }
      }
    }
  }
}

@if ($editor == true) {
  @include media-breakpoint(md) {
    .wp-block-media-text {
      align-items: start;

      .editor-block-list__layout > .editor-block-list__block {
        .block-editor-block-list__block-edit {
          margin-bottom: 0;
        }

        &:first-of-type .block-editor-block-list__block-edit {
          margin-top: 0;
        }
      }
    }
  }
}



