//font-size
//
// PHP側で実装
//
//@each $key, $size in $font__editor_font_size {
//  .has-#{$key}-font-size {
//    font-size: $size;
//  }
//}

.has-text-align-center {
  text-align: center;
}
.has-text-align-left {
  text-align: center;
}
.has-text-align-right {
  text-align: center;
}
