.wp-block-latest-posts {
  list-style: none;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  
  li {
    padding: .5rem 0;  
  }
}
.wp-block-latest-posts__post-date {
  display: block;
  font-size: .8rem;
  color: $color__text-light;
}
