@use "../../global";

:where(input, textarea, select, button) {
	padding: 0.5rem;
	background-color: var(--ystd--form--background);
	border: 1px solid var(--ystd--form--border-color);
	border-radius: 2px;
	color: var(--ystd--form--text-color);
	font-size: 1em;
}

:where(
	input[type="text"],
	input[type="search"],
	input[type="url"],
	input[type="email"],
	input[type="tel"],
	textarea,
	select
) {
	display: block;
	width: 100%;
}

:where(
	button,
	input[type="reset"],
	input[type="submit"],
	input[type="button"]
) {
	display: var(--ystd--button--display);
	padding: var(--ystd--button--padding);
	background-color: var(--ystd--button--background-color);
	border-radius: var(--ystd--button--border-radius);
	color: var(--ystd--button--text-color);
	font-size: var(--ystd--button--font-size);
	text-decoration: none;
	opacity: var(--ystd--button--opacity);

	@media (prefers-reduced-motion: no-preference) {
		transition: opacity 0.3s;
	}

	@media (hover: hover) {
		&:where(:hover) {
			opacity: var(--ystd--button--hover--opacity);
		}
	}

	:where(svg) {
		width: var(--ystd--button--icon--size);
		height: var(--ystd--button--icon--size);
		flex-shrink: 0;
		vertical-align: middle;
	}
}
