.meta-box__headline {
  margin: 2em 0 1em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid $color__border-gray;
  font-size: 1.05em;
}

.meta-box__section {
  textarea {
	width: 100%;
  }
}

.meta-box__label {
  display: block;
  margin-top: 0.5rem;
  font-weight: $font__weight_bold;
}

.meta-box__dscr {
  color: $color__text-light;
}

.meta-box__full-w {
  width: 100%;
}

.meta-box__copy-content {
  display: flex;
}

.meta-box__copy-target {
  flex-grow: 1;
}

.copy-form {
  display: flex;
  position: relative;
}

.copy-form__target {
  flex-grow: 1;
}
.copy-form__info {
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
  color: #333;
  padding: 0.25em 0 0;
  font-size: .7rem;
}
