.meta-box__headline {
  margin: 2em 0 1em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid $color__border-gray;
  font-size: 1.05em;
}

.meta-box__section {
  textarea {
	width: 100%;
  }
}

.meta-box__label {
  display: block;
  margin-top: 0.5rem;
  font-weight: $font__weight_bold;
}

.meta-box__dscr {
  color: $color__text-light;
}

.meta-box__full-w {
  width: 100%;
}

.meta-box__copy-content {
  display: flex;
}

.meta-box__copy-target {
  flex-grow: 1;
}

.copy-form {
  display: flex;
  position: relative;
  max-width: 100%;

  .copy-form__target {
	min-width: 0;
	flex-grow: 1;
	flex-shrink: 1;
  }

  .copy-form__info {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	padding: 0.25em 0 0;
	color: #333333;
	font-size: 0.7rem;
  }

  .copy-form__button {
	position: relative;
	margin: 0;

	&::after {
	  content: "";
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: 2;
	  width: 100%;
	  height: 100%;
	}

	.ys-icon {
	  svg {
		width: 1rem;
	  }
	}
  }

}


.ys-custom-uploader {
  &.is-selected {
	.ys-custom-uploader__select {
	  display: none;
	}
  }

  &:not(.is-selected) {
	.ys-custom-uploader__clear {
	  display: none;
	}

	.ys-custom-uploader__preview {
	  padding: 1em 0;
	}
  }
}

.ys-custom-uploader__preview {
  img {
	max-width: 400px;
	height: auto;
  }
}

.ys-dashboard-info {
  margin: 0 -12px;
  padding: 0;
  list-style: none;

  li {
	display: flex;
	padding: .5em 1em;
	border-bottom: 1px solid $color__border-gray-light;
	line-height: 1.5;

	&:last-child {
	  border-bottom: 0;
	}
  }
}
.ys-dashboard-info__date {
  width: 80px;
  flex-shrink: 0;
}
