.ys-manual-link {
  display: inline-block;
  margin-top: .25em;
  color: $color__ystanadrd;
  font-weight: $font__weight_bold;

  &.is-inline {
	display: inline-block;
  }

  svg {
	width: 1em;
	height: 1em;
	margin-right: .25em;
  }
}

p + .ys-manual-link__wrap {
  margin-top: -0.75em;
}
