.widget-inside {
	select {
		&.multiple {
			width: 100%;
		}
	}
}


.widgets-holder-wrap .description a {
	display: block;
	font-size: 0.7rem;
}
.widget-form__section {
	h4 {
		margin-bottom: 0.5em;
		padding: 0.5em;
		background-color: $color__ystanadrd;
		color: $color__text-white;
	}
}
.ys-widget-option__sub {
	color: $color__text-light;
	font-size: 0.8em;
}