.widget-inside {
  select {
	&.multiple {
	  width: 100%;
	}
  }
}


.widgets-holder-wrap .description a {
	display: block;
	font-size: 0.7rem;
}
.widget-form__section {
  h4 {
	padding: .5em;
	margin-bottom: .5em;
	background-color: $color__ystanadrd;
	color: $color__text-white;
  }
}
.ys-widget-option__sub {
  font-size: 0.8em;
  color: $color__text-light;
}
