//list
.list-style--none {
  padding: 0;
  margin: 0;
  list-style: none;
}

//見出しスタイルクリア
.clear-headline {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  font-weight: normal;
  &:before,
  &:after {
    content: "";
    display: none;
  }
}
