@use "../../global";

.global-nav {
  display: flex;
  position: relative;
  background-color: var(--header-bg);
  font-size: 0.9em;
}

.global-nav__container {
  height: 100%;
  max-height: none;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  overflow: visible;


  ul {
	margin: 0;
	padding: 0;
	list-style: none;
  }

  a {
	display: block;
	color: var(--header-text);
	text-decoration: none;
  }

  .global-nav__dscr {
	display: block;
	color: var(--header-dscr);
	font-weight: normal;
  }

  .ys-icon {
	display: block;
  }
}

.global-nav__search {

  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  background-color: var(--global-nav-search-cover);
  visibility: hidden;
  transition: all 0.5s;
  opacity: 0;
  z-index: -1;

  .search-form {
	width: 50vw;
	border: 1px solid var(--header-dscr);
	font-size: 1.2em;
  }

  &.is-active {
	z-index: var(--z-index-global-nav);
	visibility: visible;
	opacity: 0.98;
  }

  .search-form {
	color: var(--header-text);

	.search-submit {
	  color: currentColor;
	}
  }

  .search-field {
	background-color: rgba(global.$color__text-white, 0.2);
	border: 0;
	color: currentColor;

	&::placeholder {
	  color: currentColor;
	}
  }
}

.global-nav__search-button {
  display: block;
  margin-left: var(--global-nav-margin);
  padding-right: 0;
  padding-left: 0;

  svg {
	@include global.svg_size(24px);
  }
}

.global-nav__search-close {
  display: block;
  margin-top: 2em;
  font-size: 0.8em;

  svg {
	width: 24px;
	height: 24px;
  }
}

.global-nav__menu {
  display: flex;
  height: 100%;

  a {
	display: block;
	padding: 0.5em;
  }

  .sub-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: var(--z-index-global-nav-sub-menu);
	margin-left: 0;
	text-align: left;
	white-space: nowrap;
	visibility: hidden;
	transition: opacity 0.3s, background-color 0.3s;
	opacity: 0;

	a {
	  transition: none;
	  padding: 1em 1.5em;

	  &::before {
		content: "-";
		margin-right: 0.5em;
		transition: all 0.3s;
	  }

	  &:hover,
	  &:focus {
		&:before {
		  margin-left: 0.5em;
		}
	  }

	}
  }

  > .menu-item {
	position: relative;
	margin-left: var(--global-nav-margin);
	line-height: 1.3;
	text-align: center;

	> a {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  position: relative;
	  height: 100%;
	  padding: 1em 0;
	  font-weight: var(--global-nav-bold);

	  &::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 1px;
		background-color: var(--header-text);
		transition: width 0.3s;
	  }


	  &:hover {
		&::after {
		  width: 100%;
		}
	  }
	}

	&:first-child {
	  margin-left: 0;
	}

	&.current-menu-item {
	  > a {
		&::after {
		  width: 100%;
		}
	  }
	}

	&:last-child {
	  .sub-menu {
		left: unset;
		right: 0;
	  }
	}
  }

  .menu-item-has-children {
	.sub-menu {
	  font-size: 0.9em;
	}

	a:focus + .sub-menu,
	&:hover .sub-menu {
	  background-color: var(--header-bg);
	  visibility: visible;
	  opacity: 1;
	}
  }
}

.global-nav__toggle {
  display: none;

  position: absolute;
  top: var(--mobile-nav-toggle-top);
  right: 0;
  z-index: var(--z-index-global-nav);
  padding: .5em 1em;
  background-color: transparent;
  color: var(--mobile-nav-open);
  outline: none;

  @include global.media-breakpoint(sm) {
	padding: 1em;
  }

  &::after {
	content: attr(data-label-open);
	display: block;
	margin-top: -.3em;
	line-height: 1;
	font-size: 0.6em;
	text-align: center;
  }

  line {
	transition: opacity .3s, transform .3s;
  }

  &.is-open {
	&::after {
	  content: attr(data-label-close);
	}

	svg {
	  line:nth-child(1) {
		opacity: 0;
	  }

	  line:nth-child(2) {
		transform: translateY(18px) rotate(-45deg);
	  }

	  line:nth-child(3) {
		transform: translateX(17px) translateY(-7px) rotate(45deg);
	  }
	}
  }

  .ys-icon,
  svg {
	@include global.svg_size(24px);
  }

  &.is-open {
	color: var(--mobile-nav-close);

	+ .global-nav {
	  z-index: var(--z-index-global-nav-button);
	  visibility: visible;
	  opacity: 1;
	}
  }
}

.amp-nav {
  padding: 5em 3em 2em;
  background-color: var(--mobile-nav-bg);

  .global-nav__toggle {
	appearance: none;
	border: 0;
	background-color: transparent;
	color: var(--mobile-nav-close);

	&::after {
	  content: attr(data-label-close);
	}

	svg {
	  line:nth-child(1) {
		opacity: 0;
	  }

	  line:nth-child(2) {
		transform: translateY(18px) rotate(-45deg);
	  }

	  line:nth-child(3) {
		transform: translateX(17px) translateY(-7px) rotate(45deg);
	  }
	}
  }
}
