@each $key, $color in $color__sns {
  .sns-bg--#{$key} {
    background-color: $color;
    color: #fff;
    &.-hover:hover {
      background-color: #fff;
      color: $color;
    }
  }
  .sns-text--#{$key} {
    color: $color;
  }
  .sns-border--#{$key} {
    border: 1px solid $color;
  }
}


.icon-hatenabookmark {
  &::before {
    content: "B!";
    display: inline-block;
    font-weight: bold;
    letter-spacing: 0;
    font-family: Verdana,sans-serif;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}
