@use "../../global";

#customize-controls {
  .description {
	margin-top: 0.5em;
	color: var(--ystd--text-color--gray);
  }
}

.wp-full-overlay-main {
  background-color: #fff;
}

.customize-control-description {
	font-size: 12px !important;
	opacity: 0.8;
}
