.sidebar {
	@include child_margin(2rem);

	width: 100%;
	margin-bottom: 2em;
}

.sidebar__widget,
.sidebar__fixed {
	@include child_margin(2rem);
}

.sidebar__fixed {
	@include media-breakpoint(lg) {
		position: sticky;
		top: 2em;
	}
}

.has-background {
	.sidebar__widget,
	.sidebar__fixed {
		> * {
			@include media-breakpoint-down(md) {
				margin-right: -1em;
				margin-left: -1em;
				padding: 1em;
			}

			padding: 2em 1.5em;
			background-color: var(--content-bg);
		}
	}
}