.sidebar {
  width: 100%;

  @include media-breakpoint(lg) {
	$width: #{(336 / 1200 * 100)}#{"%"};
	flex: 0 0 $width;
	width: $width;
	margin-left: auto;
  }

  @include child_margin(2rem);
}

.sidebar__widget,
.sidebar__fixed {
  @include child_margin(2rem);
}
