.sidebar {
  @include child_margin(2rem);
  margin-bottom: 2em;

  @include media-breakpoint(lg) {
	flex: 0 0 $width__sidebar;
	width: $width__sidebar;
  }
}

.sidebar__widget,
.sidebar__fixed {
  @include child_margin(2rem);
}

.sidebar__fixed {
  @include media-breakpoint(lg) {
	position: sticky;
	top: var(--fixed-sidebar-top);
  }
}

.has-background {
  .sidebar__widget,
  .sidebar__fixed {
	> * {
	  @include media-breakpoint-down(sm) {
		margin-right: -1em;
		margin-left: -1em;
		padding: 1em;
	  }

	  padding: 2em 1.5em;
	  background-color: var(--content-bg);
	}
  }
}
