@use "../../global";

body.no-title {
  background-color: var(--ystd--site-content--background, #fff);
}

.no-title {

  .singular__footer {
	> *:last-child {
	  margin-bottom: 4em;
	}
  }

  &.has-background {
	.content__main {
	  @include global.media-breakpoint(sm) {
		padding: 0;
	  }
	}

	&.home {
	  .site-content {
		margin-top: 0;
		margin-bottom: 0;

		@include global.media-breakpoint(sm) {
		  margin-top: 0;
		  margin-bottom: 0;
		}
	  }
	}
  }
}
