.page-links {
  @at-root {
    & {
      margin-top: 1em;
    }
    .post-page-numbers {
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
      &.current .pagination__item {
        background-color: $bg-color-dark;
        color: #fff;
      }
    }
  }// @
}
