@include media-breakpoint-down(sm) {
  .tbl-scroll {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 0.5rem;
    overflow: auto;

    -webkit-overflow-scrolling: touch;


    & > * {
      width: auto;
      min-width: 100%;
      white-space: nowrap;
    }

    &::-webkit-scrollbar {
      height: 0.2rem;
    }

    &::-webkit-scrollbar-track {
      background: $color__bg-gray-light;
    }

    &::-webkit-scrollbar-thumb {
      background: $color__border-gray;
    }
  }
}

@include media-breakpoint(lg) {
  .tbl-scroll {
    white-space: normal;

    table {
      width: 100%;
    }
  }
}
