@include media-breakpoint-down(md) {
  .tbl-scroll {
    display: block;
    position: relative;
    width:100%;
    padding-bottom: .5rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    & > * {
      width: auto;
      min-width: 100%;
      white-space: nowrap;
    }
    &::-webkit-scrollbar{
      height: .2rem;
    }
    &::-webkit-scrollbar-track{
      background: $color__bg-gray-light;
    }
    &::-webkit-scrollbar-thumb {
      background: $color__border-gray;
    }
  }
}
