.site__content {
  @at-root {
    & {
      margin-top: get_margin();
      margin-bottom: get_margin();
      overflow: hidden;
    }

    .content__wrap {
      @include flex;
    }

    .content__main {
      flex: none;
      width: 100%;
      background-color: #fff;
      padding: 0 0 get_margin();
    }
    @include media-breakpoint(pc) {
      & {
        margin-top: get_margin(2);
        margin-bottom: get_margin(2);
      }

      .content__main {
        $content-margin: get_margin(2);
        width: calc( 100% - #{( $sidebar-width + $content-margin )} );
        max-width: $contents-max-width;
        margin-right: $content-margin;
      }
    }
  }
}
