.site__content {
  @at-root {
    & {
      margin-top: get_margin();
      margin-bottom: get_margin();
    }

    .content__wrap {
      @include flex;
    }

    .content__main {
      flex: none;
      width: 100%;
      max-width: $contents-max-width;
      background-color: #fff;
      padding: 0 0 get_margin();
    }
    @include media-breakpoint(pc) {
      & {
        margin-top: get_margin(2);
        margin-bottom: get_margin(2);
      }

      .content__main {
        padding: get_margin(2) ( get_margin(2) - 1px ) ;
        border: 1px solid $border-color-light;
      }
    }
  }
}
