@use "../../global";
@use "posts--list" as list;
@use "posts--card" as card;
@use "posts--simple" as simple;

$editor: false !default;

@mixin ys-posts() {

  .ys-posts {

	.ys-posts__thumbnail {
	  flex: 0 0 var(--ystd--posts--thumbnail--width);
	  width: var(--ystd--posts--thumbnail--width);
	}
  }

  .ys-posts__list {
	display: flex;
	flex-wrap: wrap;
	gap: var(--ystd--posts-item--gap);

	> * {
	  flex: 0 0 var(--ystd--posts-item--width);
	  width: var(--ystd--posts-item--width);
	}

	@for $i from 1 through 6 {
	  &.col-sp--#{$i} {
		@include global.posts_column_cp($i);
	  }
	}
	@for $i from 1 through 6 {
	  &.col-tablet--#{$i} {
		@include global.media-breakpoint(sm) {
		  @include global.posts_column_cp($i);
		}
	  }
	}
	@for $i from 1 through 6 {
	  &.col-pc--#{$i} {
		@include global.media-breakpoint(lg) {
		  @include global.posts_column_cp($i);
		}
	  }
	}
  }

  .ys-post__no-image {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: var(--ystd--site--background--light-gray);
	color: var(--ystd--text-color--gray);
  }

  .ys-posts__list {
	margin: 0;
	padding: 0;
	list-style: none;
  }

  .ys-posts__item {
	.ys-posts__image {
	  transition: transform 0.3s;
	}

	&:hover {
	  .ys-posts__image {
		transform: scale(1.1);
	  }
	}
  }

  .ys-posts__content {
	position: relative;
	height: 100%;
  }

  .ys-posts__text {
	word-break: break-word;
  }

  .ys-posts__meta {
	display: flex;
	flex-wrap: wrap;
	gap: var(--ystd--posts--gap--inner);
	color: var(--ystd--content--meta--color);
	font-size: 0.7em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	> * {
	  display: flex;
	  align-items: center;
	}

	.ys-icon {
	  margin-right: 0.25em;
	}

	svg {
	  @include global.svg_size(0.8em);
	}
  }

  .ys-posts__title {
	font-size: 0.9em;
	font-weight: var(--ystd--font-weight--bold);
	line-height: 1.4;
  }

  .ys-posts__link {
	color: currentColor;
	text-decoration: none;

	&:hover {
	  color: currentColor;
	}

	&::after {
	  content: "";
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	}
  }

  .ys-posts__dscr {
	color: var(--ystd--content--meta--color);
	font-size: 0.7em;
	line-height: 1.3;
  }

}

@if false == $editor {
  @include ys-posts();
  @include list.ys-posts--list();
  @include card.ys-posts--card();
  @include simple.ys-posts--simple();
}
