//--------------------------------------
//
//	ウィジェット
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------
.page-title {
	margin: 0 0 1.5rem;
	font-size: 1.4rem;
}

.taxonomy-description {

	margin: 0 0 1.5rem;
	font-size: .8rem;

	p {
		margin: 0 0 .2rem;
	}
}


//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {

};

//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {


};
