//--------------------------------------
//
//	アーカイブ関連
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------
.site-main {
	& > article {
		margin-bottom: 3rem;
		@include clearfix;
	}
}

// 投稿タイトル
.entry-title {
	font-size: 2rem;

	a {
		color: $ys-font-color;
	}
}

.entry-date {
	&::before {
		@include fontawesome("f073");
	}
}
.entry-updated {
	margin-left: .5rem;
	
	&::before {
		@include fontawesome("f040");
	}
}

// アイキャッチ
.post-thumbnail {
	line-height: 1;
}

// 投稿の付加情報
.entry-meta {
	font-size: .8rem;
	color: $ys-font-color;
	@include clearfix;

	a {
		color: $ys-font-color;
	}
}

// 左右で分割表示するときのクラス
.entry-meta-left {
	float: left;
}
.entry-meta-right {
	float: right;
}

// 日付の表示
.entry-date-container {
	margin: 0 0 .5rem;
	text-align: right;
}

// 投稿者
.entry-meta-author {

	margin: .5rem 0 0;

	.author {

		&::before {
			@include fontawesome("f007");
		}
	}//.author
}

// カテゴリー情報
.entry-meta-cat {

	margin: .5rem 0 0;

	&::before {
		@include fontawesome("f115");
	}
}

// 投稿抜粋・本文
.entry-content {

	margin: 1rem 0;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		clear: both;
	}

	h1,
	h2 {
		margin: 3rem 0 2rem;
		font-size: 1.8rem;
	}

	h3 {
		margin: 2.5rem 0 2rem;
		font-size: 1.6rem;
	}

	h4 {
		margin: 2rem 0 2rem;
		font-size: 1.5rem;
	}

	h5 {
		margin: 2rem 0 2rem;
		font-size: 1.4rem;
	}

	h6 {
		margin: 2rem 0 2rem;
		font-size: 1.2rem;
	}

	p {
		margin: 0 0 2rem;
	}

}





//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {

};




//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {
	.site-main {
		& > article {
			margin-bottom: 4rem;
		}
	}
};
