//--------------------------------------
//
//	アーカイブ関連
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------
.site-main {
	& > article {
		margin-bottom: 2rem;
		@include clearfix;
	}
}

.entry-title {
	font-size: 2rem;
	padding: 1rem 0;
	a {
		color: $ys-font-color;
		font-weight: bold;
	}
}

//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {

};

//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {
	.site-main {
		& > article {
			margin-bottom: 3rem;
		}
	}
};
