//--------------------------------------
//
//	投稿（本文以外）
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------
.site-main {
	& > article {
		margin-bottom: 3rem;
		@include clearfix;
	}
}

.single,
.page {
	.site-main {
		& > article {
			margin-bottom: 2rem;
		}
	}
}

// 固定表示投稿
.sticky-post {
	font-size: .8rem;
}

// 投稿タイトル
.entry-title {
	font-size: 2rem;

	a {
		color: $ys-font-color;
	}
}

.entry-date {
	&::before {
		@include fontawesome("f073");
	}
}
.entry-updated {
	margin-left: .5rem;
	&::before {
		@include fontawesome("f040");
	}
}

// アイキャッチ
.post-thumbnail {
	line-height: 1;
}

// 投稿の付加情報
.entry-meta {
	font-size: .8rem;
	color: $ys-font-color;
	@include clearfix;

	a {
		color: $ys-font-color;
	}
}

// 左右で分割表示するときのクラス
.entry-meta-left {
	float: left;
}
.entry-meta-right {
	float: right;
}

// 日付の表示
.entry-date-container {
	font-size: .6rem;
	margin: 0 0 .5rem;
	text-align: right;
}

// 投稿者
.entry-meta-author {

	margin: .5rem 0 0;

	.author {

		&::before {
			@include fontawesome("f007");
		}
	}//.author
}

// カテゴリー情報
.entry-meta-cat {

	margin: .5rem 0 0;

	&::before {
		@include fontawesome("f115");
	}
}

// 本文
.entry-content {
	margin: 1rem 0;
}

// 続き
.entry-more {
	text-align: right;
}

// ページャー
.page-links {

	text-align: center;

	.page-text {
		padding: .2rem .5rem;
		margin-right: .5rem;
		border: 1px solid $ys-border-color-pager;
		background-color: $ys-bg-color-pager;
		color: $ys-font-color-pager;
	}

	a {
		.page-text {
			background-color: $ys-bg-color-pager-current;
			color: $ys-font-color-pager-current;
		}
	}//a
}//.page-links


.post-password-form {
	input[type="password"] {
		border: 1px solid $ys-border-color-input;
		background-color: $ys-bg-color-input;
		padding: .1rem;
		font-size: .8rem;
		color: $ys-font-color-input;
	}

	input[type="submit"] {
		padding: .1rem .5rem;
		border: 1px solid $ys-border-color-button;
		background-color: $ys-bg-color-button;
		font-size: .8rem;
		color: $ys-font-color-button;
	}
}

//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {

};




//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {

	.site-main {
		& > article {
			margin-bottom: 4rem;
		}
	}

};
