//--------------------------------------
//
//	枠
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------
.wrap {
	width: 100%;
	padding-right: $ys-gutter;
	padding-left: $ys-gutter;
}

.site-content {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {


};

//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {
	.wrap {
		max-width: $ys-wrap-width;
		margin-right: auto;
		margin-left: auto;
		box-sizing: content-box;
	}

	.content-area {
		padding-top: $ys-gutter;
		padding-bottom: $ys-gutter;
	}

	// サイドバー無し
	.no-sidebar {

		.content-area,
		.breadcrumb {
			max-width: $ys-nosidebar-max-width;
			margin-right: auto;
			margin-left: auto;
		}

	}//.no-sidebar

	// サイドバーあり
	.has-sidebar {

		.content-area {
			width: calc(100% - #{$ys-sidebar-width});
			float: left;
			overflow: hidden;
		}
		.content-area {
			padding-right: $ys-gutter;
			padding-left: $ys-gutter;
		}

		.sidebar {
			width: $ys-sidebar-width;
			padding: $ys-gutter;
			float: right;
		}
	}//.has-sidebar
};
