//--------------------------------------
//
//	枠
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------
.wrap {
	width: 100%;
	margin-right: 1rem;
	margin-left: 1rem;
}


//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {

};

//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {
	.wrap {
		max-width: 1200px;
		margin-right: auto;
		margin-left: auto;
	}
};