//--------------------------------------
//
//	枠
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------
.wrap {
	width: 100%;
	padding-right: $ys-gutter;
	padding-left: $ys-gutter;
}


//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {

};

//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {
	.wrap {
		max-width: $ys-wrap-width;
		margin-right: auto;
		margin-left: auto;
	}
};