//--------------------------------------
//
//	変数（デフォルト）
//
//--------------------------------------


// ---- ブレークポイント ----
$breakpoints-setting: (
		tb : 600px,
		pc : 960px,
) !default;


// ---- ページ全体にかかる設定 ----

// *色
$body-bg-color: #fff !default;	//背景
$gray-bg-color: #fefefe !default;
$gray-font-color: #595857 !default;
$gray-border-color: #ccc !default;


// *フォント
$body-color   : #2c3e50 !default;
$font-size    : 15px !default;
$line-height  : 1.5 !default;
$font-family  : Avenir,"Helvetica neue",Helvetica,"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",sans-serif !default;

// *リンク関連
$link-color-base   : #0068b7 !default;
$link-hover-lighten: 10% !default;
$link-color        : $link-color-base !default;
$link-color-hover  :lighten($link-color-base,$link-hover-lighten) !default;
