//--------------------------------------
//
//	WordPressが出力するクラス関連
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------
.aligncenter,
div.aligncenter {
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
}
.wp-caption {
	 text-align: center;
}
.wp-caption img {
	 margin: 0;
	 padding: 0;
	 border: 0 none;
}
.wp-caption .wp-caption-text {
	 font-size: .8rem;
	 padding: .5rem;
}

//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {

};

//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {


	.alignleft {
		 float: left;
	}

	.alignright {
		 float: right;
	}

};
