//
// ブログカード
//
@include media-breakpoint(md) {
	.ys-blog-card__link {
		padding: 1rem 2rem;

		&::after {
			font-size: 0.8em;
		}
	}
	.ys-blog-card__title {
		font-size: 1.1em;
	}
	.ys-blog-card__dscr {
		display: block;
		margin-top: 1em;
	}
	.ys-blog-card__image {
		max-width: 250px;
		img {
			width: auto;
		}
	}
	.ys-blog-card__domain {
		display: inline;
	}
}