//--------------------------------------
//
//	フッター
//
//--------------------------------------


//--------------------------------------
// モバイル or 全体
//--------------------------------------
.pagination {
  width: 100%;
	margin: 1rem 0;
	text-align: center;
}
.pagination-title {
	margin: 0 0 .5rem;
  font-size: .9rem;
}
.pagination-list {

  position: relative;
  margin: 0 auto;
	font-size: 0;

	li {
		width: 9%;
    max-width: 2rem;
		display: inline-block;
		margin-right: 1%;
		font-size: 1rem;
		text-align: center;
		vertical-align: top;

		a,
		.current {
			display: block;
			padding: .2rem 0;
			border-bottom: 1px solid $ys-pagination-border-color;
      color: $ys-font-color;
		}

		.current {
      border-bottom: 2px solid $ys-pagination-current-border-color;
		}//a

	}//li
  .next,
  .previous {
    background-color: $ys-pagination-adjacent-bg-color;
    a {
      color: $ys-pagination-adjacent-font-color;
      border-bottom: 2px solid $ys-pagination-current-border-color;
    }
  }//.next,.previous
}

//--------------------------------------
// タブレット
//--------------------------------------
@include media-breakpoint(tb) {
  .pagination {
    padding: 0 $ys-gutter-sp;
  }
};

//--------------------------------------
// PC
//--------------------------------------
@include media-breakpoint(pc) {

  .pagination {
    padding: 0 $ys-gutter;
  }
};
