@use "../../global";
@use "sass:math";


.archive__main {
  margin-bottom: var(--ystd--layout-gap);
}

.archive__header {
  margin-bottom: var(--ystd--archive--padding);
}

.archive__page-title {
  margin: 0;
}

.archive__dscr {
  @include global.child_margin(var(--ystd--archive--padding));

  margin-top: var(--ystd--archive--padding);
  margin-bottom: calc(2 * var(--ystd--archive--padding));
}

.archive__container {
  display: flex;
  flex-direction: column;
}

.archive__item {
  flex: 0 0 var(--ystd--archive--item--width);
  width: var(--ystd--archive--item--width);
  background-color: var(--ystd--content--background);
  border-bottom: var(--ystd--archive--item--border-color);

  &:hover {
	.archive__image {
	  transform: scale(1.1);
	}
  }

  .archive__category {
	white-space: nowrap;
	text-overflow: ellipsis;
  }

  .archive__title {
	color: var(--ystd--text-color);
	font-size: 1em;

	a {
	  color: currentColor;
	  text-decoration: none;

	  &::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	  }
	}
  }
}

.archive__detail {
  position: relative;
}

.archive__thumbnail {
  flex-shrink: 0;
  width: var(--ystd--archive--thumbnail--width);

  a {
	color: currentColor;
  }
}

.archive__image {
  transition: transform 0.3s;
}


.archive__no-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--ystd--site-background--light-gray);
}

.archive__text {
  @include global.child_margin(0.5em);
}

.archive__meta {
  color: var(--ystd--content--meta--color);
  font-size: 0.7em;
  overflow: hidden;

  .ys-icon {
	margin-right: 0.25em;
  }

  svg {
	@include global.svg_size(0.8em);
  }
}


.archive__excerpt {
  color: var(--ystd--text-color--gray);
  font-size: 0.7em;
  line-height: 1.3;
}

.archive__read-more {
  margin-top: 1em;
  font-size: 0.7em;
  line-height: 1.3;
  text-align: right;

  a {
	color: var(--ystd--text-color--gray);
  }
}

.has-background {
  .archive__container {
	gap: var(--ystd--archive--gap);
  }

  .archive__page-title {
	margin-top: 1em;
	@include global.media-breakpoint(sm) {
	  margin-top: 0;
	}
  }
  .archive__item {
	padding-right: var(--ystd--archive--padding);
	padding-left: var(--ystd--archive--padding);
  }
}
