.archive__main {
  margin-right: auto;
  margin-bottom: 2em;
  margin-left: auto;
}

.archive__header {
  margin-bottom: 1em;
}

.archive__page-title {
  margin: 0;
}

.archive__dscr {
  @include child_margin(1em);

  margin-top: 1em;
  margin-bottom: 2em;
}

.archive__container {

  &.is-card {
	@include media-breakpoint(sm) {
	  display: flex;
	  flex-wrap: wrap;
	}
  }
}

.archive__item {
  background-color: var(--content-bg);
  border-bottom: 1px solid var(--site-border-gray-light);
  margin-bottom: 1em;

  &:hover {
	.archive__image {
	  transform: scale(1.1);
	}
  }

  &.is-list {

	.archive__detail {
	  display: flex;
	}

	.archive__category {
	  margin-left: 1em;
	}

	.archive__text {
	  padding: 1em;
	}
  }

  &.is-card {
	@include media-breakpoint(sm) {
	  $card_minus: $card_margin / 2;
	  flex: 0 0 calc(50% - #{$card_minus});
	  width: calc(50% - #{$card_minus});
	  margin: 0 #{$card_margin} #{$card_margin} 0;
	  border: 0;

	  &:nth-child(2n) {
		margin-right: 0;
	  }
	}

	@include media-breakpoint(lg) {
	  $card_minus: $card_margin * 2 / 3;
	  flex: 0 0 calc(33.33% - #{$card_minus});
	  width: calc(33.33% - #{$card_minus});

	  &:nth-child(2n) {
		margin-right: #{$card_margin};
	  }

	  &:nth-child(3n) {
		margin-right: 0;
	  }
	}

	.archive__meta {
	  justify-content: space-between;
	}

	.archive__text {
	  padding-bottom: 1em;
	}

	.archive__detail {
	  @include child_margin(0.5em);
	}
  }

  .archive__title {
	color: var(--font-color);
	font-size: 1em;

	a {
	  color: currentColor;
	  text-decoration: none;

	  &::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	  }
	}
  }
}

.archive__detail {
  position: relative;
}

.archive__thumbnail {
  &.is-list {
	flex: 0 0 25%;
	width: 25%;
	min-width: 100px;
	margin-top: 1em;
	margin-bottom: 1em;

	@include media-breakpoint(sm) {
	  flex: 0 0 30%;
	  width: 30%;
	  margin-top: 0;
	}
  }
  a {
	color: currentColor;
  }
}

.archive__image {
  transition: transform 0.3s;
}

.archive__no-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--site-bg-light-gray);
}

.archive__text {
  @include child_margin(0.5em);
}

.archive__meta {
  display: flex;
  color: var(--content-meta);
  font-size: 0.7em;

  > div {
	display: flex;
	align-items: center;
  }

  .ys-icon {
	margin-right: 0.25em;
  }

  svg {
	@include svg_size(0.8em);
  }
}


.archive__excerpt {
  color: var(--font-gray);
  font-size: 0.7em;
  line-height: 1.3;
}

.archive__read-more {
  margin-top: 1em;
  font-size: 0.7em;
  line-height: 1.3;
  text-align: right;
  a {
	color: var(--font-gray);
  }
}

.has-sidebar {
  .archive__item {
	&.is-card {
	  @include media-breakpoint(lg) {
		$card_minus: $card_margin / 2;
		flex: 0 0 calc(50% - #{$card_minus});
		width: calc(50% - #{$card_minus});

		&:nth-child(3n) {
		  margin-right: #{$card_margin};
		}

		&:nth-child(2n) {
		  margin-right: 0;
		}
	  }
	}
  }
}

.has-background {
  .archive__page-title {
	margin-top: 1em;
	@include media-breakpoint(sm) {
	  margin-top: 0;
	}
  }

  .archive__item {
	margin-bottom: 1em;

	&.is-card {
	  border: 0;

	  .archive__text {
		padding-top: 0;
	  }
	}

	&.is-list {
	  border: 1px solid var(--site-border-gray-light);
	}
  }

  .archive__thumbnail {
	&.is-list {
	  margin-top: 1em;
	  margin-left: 1em;
	}
  }

  .archive__text {
	padding: 1em;
  }
}
