@use "../../global";
@use "sass:math";

.archive__container {
  &.is-card {
	gap: var(--ystd-archive-gap);

	@include global.media-breakpoint(sm) {
	  flex-direction: row;
	  flex-wrap: wrap;
	}
  }
}

.archive__item {
  &.is-card {
	@include global.media-breakpoint(sm) {
	  --ystd-archive-item-width: calc(50% - var(--ystd-archive-gap) / 2);
	  margin-bottom: 0;
	  border: 0;
	}

	@include global.media-breakpoint(lg) {
	  --ystd-archive-item-width: calc(33.33% - var(--ystd-archive-gap) * 2 / 3);
	}

	.archive__meta {
	  display: flex;
	  justify-content: space-between;
	  gap: 1em;

	  > div {
		display: flex;
		align-items: center;
	  }
	}

	.archive__detail {
	  @include global.child_margin(0.5em);
	}

	.archive__text {
	  margin-bottom: var(--ystd-archive-gap);
	  @include global.media-breakpoint(sm) {
		margin-bottom: 0;
	  }
	}
  }
}

.has-sidebar {
  .archive__item {
	&.is-card {
	  @include global.media-breakpoint(lg) {
		--ystd-archive-item-width: calc(50% - var(--ystd-archive-gap) / 2);
	  }
	}
  }
}

.has-background {
  .archive__item {
	&.is-card {
	  border: 0;
	  padding-bottom: var(--ystd-archive-padding);

	  .archive__text {
		padding-top: 0;
		margin-bottom: 0;
	  }

	  .archive__thumbnail {
		margin-right: calc(-1 * var(--ystd-archive-padding));
		margin-left: calc(-1 * var(--ystd-archive-padding));
		width: calc(var(--ystd-archive-thumbnail-width) + 2 * var(--ystd-archive-padding));
	  }
	}
  }
}
