@use "../../global";
@use "sass:math";

.has-background {
  .archive__container {
	gap: var(--ystd--archive--gap);
  }

  .archive__page-title {
	margin-top: 1em;
	@include global.media-breakpoint(sm) {
	  margin-top: 0;
	}
  }
  .archive__item {
	padding-right: var(--ystd--archive--padding);
	padding-left: var(--ystd--archive--padding);
  }
}
