@use "../../global";
@use "sass:math";

.archive__main {
  margin-right: auto;
  margin-bottom: var(--ystd-layout-gap);
  margin-left: auto;
}

.archive__header {
  margin-bottom: var(--ystd-archive-padding);
}

.archive__page-title {
  margin: 0;
}

.archive__dscr {
  @include global.child_margin(var(--ystd-archive-padding));

  margin-top: var(--ystd-archive-padding);
  margin-bottom: calc(2 * var(--ystd-archive-padding));
}

.archive__container {
  display: flex;
  flex-direction: column;

  &.is-card {
	gap: var(--ystd-archive-gap);

	@include global.media-breakpoint(sm) {
	  flex-direction: row;
	  flex-wrap: wrap;
	}
  }
}

.archive__item {
  flex: 0 0 var(--ystd-archive-item-width);
  width: var(--ystd-archive-item-width);
  background-color: var(--content-bg);
  border-bottom: 1px solid var(--ystd-archive-item-border);

  &:hover {
	.archive__image {
	  transform: scale(1.1);
	}
  }

  .archive__category {
	white-space: nowrap;
	text-overflow: ellipsis;
  }

  &.is-list {
	padding-top: var(--ystd-archive-padding);
	padding-bottom: var(--ystd-archive-padding);

	.archive__detail {
	  width: 100%;
	  display: flex;
	  gap: var(--ystd-archive-padding);
	}

	.archive__text {
	  width: calc(100% - var(--ystd-archive-thumbnail-width));
	}

	.archive__category {
	  margin-left: 1em;
	}

	.archive__meta {
	  white-space: nowrap;
	  text-overflow: ellipsis;

	  > div {
		display: inline;
	  }

	  .ys-icon {
		vertical-align: -0.1em;
	  }
	}
  }

  &.is-card {
	@include global.media-breakpoint(sm) {
	  --ystd-archive-item-width: calc(50% - var(--ystd-archive-gap) / 2);
	  margin-bottom: 0;
	  border: 0;
	}

	@include global.media-breakpoint(lg) {
	  --ystd-archive-item-width: calc(33.33% - var(--ystd-archive-gap) * 2 / 3);
	}

	.archive__meta {
	  display: flex;
	  justify-content: space-between;
	  gap: 1em;

	  > div {
		display: flex;
		align-items: center;
	  }
	}

	.archive__detail {
	  @include global.child_margin(0.5em);
	}

	.archive__text {
	  margin-bottom: var(--ystd-archive-gap);
	  @include global.media-breakpoint(sm) {
		margin-bottom: 0;
	  }
	}
  }

  .archive__title {
	color: var(--font-color);
	font-size: 1em;

	a {
	  color: currentColor;
	  text-decoration: none;

	  &::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	  }
	}
  }
}

.archive__detail {
  position: relative;
}

.archive__thumbnail {
  flex-shrink: 0;
  width: var(--ystd-archive-thumbnail-width);

  &.is-list {
	--ystd-archive-thumbnail-width: min(25%, 100px);

	@include global.media-breakpoint(sm) {
	  --ystd-archive-thumbnail-width: min(30%, 360px);
	}
  }

  a {
	color: currentColor;
  }
}

.archive__image {
  transition: transform 0.3s;
}

.archive__no-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--site-bg-light-gray);
}

.archive__text {
  flex-grow: 1;
  @include global.child_margin(0.5em);
}

.archive__meta {
  color: var(--content-meta);
  font-size: 0.7em;
  overflow: hidden;

  .ys-icon {
	margin-right: 0.25em;
  }

  svg {
	@include global.svg_size(0.8em);
  }
}


.archive__excerpt {
  color: var(--font-gray);
  font-size: 0.7em;
  line-height: 1.3;
}

.archive__read-more {
  margin-top: 1em;
  font-size: 0.7em;
  line-height: 1.3;
  text-align: right;

  a {
	color: var(--font-gray);
  }
}

.has-sidebar {
  .archive__item {
	&.is-card {
	  @include global.media-breakpoint(lg) {
		--ystd-archive-item-width: calc(50% - var(--ystd-archive-gap) / 2);
	  }
	}
  }
}

.has-background {
  .archive__container {
	gap: var(--ystd-archive-gap);
  }

  .archive__page-title {
	margin-top: 1em;
	@include global.media-breakpoint(sm) {
	  margin-top: 0;
	}
  }

  .archive__item {
	padding-right: var(--ystd-archive-padding);
	padding-left: var(--ystd-archive-padding);

	&.is-card {
	  border: 0;

	  .archive__text {
		padding-top: 0;
	  }
	}

	&.is-list {
	  border: 0;
	}
  }
}
