.search-form {
  position: relative;
}
.search-field {
  padding-right: 3.5rem;
}
.search-submit {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: .5rem 1rem;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 1px solid $color__border-gray;
  background-color: transparent;
  border-radius: 0;
  color: $color__text-main;
  -webkit-appearance: none;
}
