.entry__footer-author {
  @at-root {

    @include media-breakpoint(tb) {
      & {
        .author__main {
          float: left;
          margin-right: 1em;
        }
        .author__sub {
          overflow: hidden;
        }
        .author__sns,
        .author__archive {
          text-align: left;
        }
      }
    }

  }// @
}
