.author {
  @at-root {
    .author__avatar {
      padding: 0 .5em;
    }
    .author__img {
      display: block;
      width: 96px;
      margin: auto;
      border-radius: 50%;
    }
    .author__name {
      margin: .5em 0 0;
      font-size: 1em;
      font-weight: bold;
      text-align: center;
    }
    .author__link {
      text-decoration: none;
      color: inherit;
    }
    .author__dscr {
      font-size: .85em;

      p {
        margin-top: .5em;
      }
    }
    .author__sns,
    .author__archive {
      text-align: center;
    }
    .author__archive {
      margin-top: 1em;
    }
    .author__sns-item {
      display: inline-block;
      padding: 0 .1em;
    }
  }
}

.author--2col {
  @include media-breakpoint(tb) {
    & {
      .author__avatar {
        float: left;
        margin-right: 1em;
      }
      .author__text {
        overflow: hidden;
      }
      .author__name ,
      .author__sns {
        display: inline-block;
        margin: 0 .5em 0 0;
        text-align: left;
      }
      .author__sns,
      .author__archive {
        text-align: left;
      }
    }
  }
}
