/**
 * singular
 */
:where(.singular-header) {
	margin-bottom: var(--ystd--block-gap);

	> * {
		max-width: var(--ystd--content--size);
		margin-right: auto;
		margin-left: auto;
	}

	> * + * {
		margin-top: var(--ystd--content--header--gap);
	}

	:where(.singular-header__title) {
		font-size: var(--ystd--content--post-title--font-size);
	}

	:where(.singular-header__meta) {
		display: flex;
		flex-wrap: wrap;
		gap: var(--ystd--content--header--meta--gap);
		color: var(--ystd--content--meta--color);
		font-size: var(--ystd--content--header--meta--font-size);

		> *,
		:where(.singular-date__item) {
			display: flex;
			align-items: center;
		}

		a {
			color: currentColor;
			text-decoration: none;
		}

		:where(svg) {
			display: block;
			width: var(--ystd--content--header--meta--icon-size);
			height: var(--ystd--content--header--meta--icon-size);
		}
		:where(.singular-date) {
			gap: 0.5em;
		}

		:where(.ys-icon) {
			margin-right: 0.25em;
		}
	}
}

//.has-background {
//	.singular-header__thumbnail {
//		--ystd-header-thumb-margin-top: var(--ystd--content--padding);
//		--ystd-header-thumb-margin-inline: calc(var(--ystd--content--padding)*-1);
//		margin: var(--ystd-header-thumb-margin-top) var(--ystd-header-thumb-margin-inline) 0;
//
//		&:first-child {
//			--ystd-header-thumb-margin-top: calc(var(--ystd--content--padding)*-1);
//		}
//	}
//}
