.header {
  @at-root {

    .header__branding {
      padding: $gutter 0;
    }

    .header__title {
      margin: 0;
      padding: 0 20px 0 0;
      font-size: 1.7em;

      img,amp-img {
        max-width: 300px;
      }
      a {
        color: inherit;
        text-decoration: none;
      }
    }
    .header__dscr {
      font-size: .8em;
      margin: 0;
    }
    .header--center {
      text-align: center;
      .header__title {
        text-align: center;
        padding-left: 20px;
      }
    }

    // screen
    @include media-breakpoint(pc) {

      .header--1row {
        @include flex;
        justify-content: space-between;
      }//.header--1row 
      
      .header--center {
        .global-nav__menu {
          justify-content: space-around;
        }
      }//.header--center

      .header--2row {
        .global-nav__item:first-child a {
          padding-left: 0;
        }
      } //header--2row

    }

  }// at-root
}
