.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.container {
  position: relative;
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px; }

.container--full {
  max-width: 100%; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.row--slide {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch; }
  .row--slide::-webkit-scrollbar {
    height: 4px; }
  .row--slide::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #fafafa; }
  .row--slide::-webkit-scrollbar-thumb {
    background-color: #bdc3c7;
    border-radius: 4px; }

.row--no-gutter {
  margin-right: 0;
  margin-left: 0; }

.row--reverse {
  flex-flow: row-reverse; }

@media screen and (min-width: 600px) {
  .row--reverse-tb {
    flex-flow: row-reverse; } }

@media screen and (min-width: 960px) {
  .row--reverse-pc {
    flex-flow: row-reverse; } }

@media screen and (min-width: 1200px) {
  .row--reverse-lg {
    flex-flow: row-reverse; } }

.col,
[class*="col_"] {
  padding: 15px;
  width: 100%;
  max-width: 100%; }

.col__1 {
  flex: 0 0 100%;
  max-width: 100%; }

.col__2 {
  flex: 0 0 50%;
  max-width: 50%; }

.col__3 {
  flex: 0 0 33.33%;
  max-width: 33.33%; }

.col__4 {
  flex: 0 0 25%;
  max-width: 25%; }

.col__slide {
  flex: 0 0 30%;
  max-width: 30%;
  min-width: 240px;
  padding: 15px 7.5px; }
  .col__slide:first-child {
    margin-left: -5px; }
  .col__slide:last-child {
    margin-right: -5px; }

@media screen and (min-width: 600px) {
  .col__1--tb {
    flex: 0 0 100%;
    max-width: 100%; }
  .col__2--tb {
    flex: 0 0 50%;
    max-width: 50%; }
  .col__3--tb {
    flex: 0 0 33.33%;
    max-width: 33.33%; }
  .col__4--tb {
    flex: 0 0 25%;
    max-width: 25%; } }

@media screen and (min-width: 960px) {
  .col__1--pc {
    flex: 0 0 100%;
    max-width: 100%; }
  .col__2--pc {
    flex: 0 0 50%;
    max-width: 50%; }
  .col__3--pc {
    flex: 0 0 33.33%;
    max-width: 33.33%; }
  .col__4--pc {
    flex: 0 0 25%;
    max-width: 25%; } }

@media screen and (min-width: 1200px) {
  .col__1--lg {
    flex: 0 0 100%;
    max-width: 100%; }
  .col__2--lg {
    flex: 0 0 50%;
    max-width: 50%; }
  .col__3--lg {
    flex: 0 0 33.33%;
    max-width: 33.33%; }
  .col__4--lg {
    flex: 0 0 25%;
    max-width: 25%; } }

.col--no-gutter {
  padding: 0; }

.section {
  padding-top: 30px;
  padding-bottom: 30px; }

.section--large {
  padding-top: 60px;
  padding-bottom: 60px; }

.section--full,
.section--screen {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw); }

.section--screen {
  min-height: 640px;
  height: 100vh; }

.section--gray {
  background-color: #fafafa; }

.section__headline {
  position: relative;
  margin-top: -1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center; }
  .section__headline:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(41, 43, 44, 0.7); }

.section__title,
.section__sub-title {
  display: block; }

.section__title {
  font-size: 2rem;
  margin: 0; }

.section__sub-title {
  color: #939393;
  font-size: 1rem; }

@media screen and (min-width: 600px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px; }
  .section--large {
    padding-top: 120px;
    padding-bottom: 120px; } }

@media screen and (min-width: 960px) {
  .section--screen {
    min-height: 768px; } }

.flex {
  display: flex; }

.flex-wrap {
  display: flex;
  flex-wrap: wrap; }

.flex--c-c {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center; }

.flex--a-start {
  align-items: flex-start; }

.flex--a-center {
  align-items: center; }

.flex--a-end {
  align-items: flex-end; }

.flex--j-start {
  justify-content: flex-start; }

.flex--j-end {
  justify-content: flex-end; }

.flex--j-center {
  justify-content: center; }

.flex--j-between {
  justify-content: space-between; }

.flex--j-around {
  justify-content: space-around; }

@media screen and (min-width: 600px) {
  .flex--tb {
    display: flex; }
  .flex-wrap--tb {
    display: flex;
    flex-wrap: wrap; } }

@media screen and (min-width: 960px) {
  .flex--pc {
    display: flex; }
  .flex-wrap--pc {
    display: flex;
    flex-wrap: wrap; } }

.ratio {
  display: block;
  width: 100%;
  position: relative; }
  .ratio:before {
    content: "";
    display: block; }

.ratio__4-3:before {
  padding-top: 75%; }

.ratio__16-9:before {
  padding-top: 56%; }

.ratio__3-1:before {
  padding-top: 33%; }

.ratio__2-1:before {
  padding-top: 50%; }

.ratio__1-1:before {
  padding-top: 100%; }

.ratio__item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.ratio__image {
  width: 100%;
  height: 100%; }
  .ratio__image img, .ratio__image amp-img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.ys-box {
  padding: 1em;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  background-color: #fff;
  border: 1px solid #bdc3c7;
  font-size: .9em; }
  .ys-box:before, .ys-box:after {
    content: "";
    display: table; }
  .ys-box:after {
    clear: both; }
  .ys-box {
    zoom: 1; }
  .ys-box:first-child {
    margin-top: 0; }
  .ys-box:last-child {
    margin-bottom: 0; }

.ys-box-img {
  width: 75px;
  height: auto;
  margin: 0 1em 0 0;
  float: left; }

[class*="ys-btn"] {
  display: inline-block;
  padding: .25em 2em .2em;
  text-decoration: none;
  transition: all .3s; }
  [class*="ys-btn"]:hover {
    text-decoration: none; }

.ys-btn {
  background-color: #fff;
  border: 1px solid #292b2c;
  color: #222; }
  .ys-btn:hover {
    color: #fff;
    background-color: #292b2c; }

.ys-btn--full {
  display: block;
  width: 100%;
  margin: 2em auto 0;
  text-align: center; }

.ys-btn--large {
  padding: 1em 2em; }

.ys-normal {
  font-size: 1rem; }

.ys-smaller {
  font-size: .8em; }

.ys-larger {
  font-size: 1.2em; }

.ys-text-center {
  text-align: center; }

.ys-text-left {
  text-align: left; }

.ys-text-right {
  text-align: right; }

.orbitron {
  font-family: 'Orbitron', sans-serif; }

.ystandard-settings {
  font-size: 16px; }
  .ystandard-settings p {
    font-size: 1em; }

.ys-info-h {
  display: inline-block;
  width: 140px; }

.ystandard-settings__section {
  padding: 2em 0 1em;
  border-bottom: 1px solid #939393; }
  .ystandard-settings__section > h3:first-child {
    margin-top: 0; }

.ystandard-settings__peing {
  background-color: #5ebaba;
  color: #fff; }

.ystandard-settings__flex50 {
  flex: 1 0 50%;
  max-width: 50%; }

.ystandard-settings__icon {
  max-width: 100px;
  border-radius: 50%; }

.ystandard-setting__support {
  flex-direction: column; }

.ystandard-setting-table {
  width: 100%;
  border-collapse: collapse; }
  .ystandard-setting-table th,
  .ystandard-setting-table td {
    padding: .5rem;
    margin: 0; }
  .ystandard-setting-table thead {
    text-align: left;
    font-weight: bold; }
    .ystandard-setting-table thead th,
    .ystandard-setting-table thead td {
      border-bottom: 1px solid #ddd; }
  .ystandard-setting-table tbody {
    text-align: left; }
    .ystandard-setting-table tbody th,
    .ystandard-setting-table tbody td {
      font-weight: normal; }
