.wp-block-accordion-item  {
	// v5ではカスタムプロパティにする.
	border: 1px solid #bdc3c7;
	overflow: hidden;

	> * {
		padding: 1rem;
	}

	.wp-block-accordion-heading {
		margin-bottom: 0;
	}
}
.wp-block-accordion-heading {

	+ :where(.wp-block-accordion-panel) {
		margin-top: 0;
		border-top: 1px solid #bdc3c7;
	}
}

.wp-block-accordion-heading__toggle {
	&:hover {
		.wp-block-accordion-heading__toggle-title {
			// 0,3,0 本当か？.
			text-decoration: none;
		}
	}
}

