name: Develop v4
on:
  push:
    branches:
      - develop-v4
jobs:
  codeCheck:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ ubuntu-latest ]
        php: [ '5.6','7.2','7.3', '7.4' ]
    name: PHP Error Check
    steps:
      - uses: actions/checkout@v1
        with:
          ref: 'develop-v4'

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, intl
          ini-values: post_max_size=256M, short_open_tag=On
          coverage: xdebug

      - name: php -l
        run: bash bin/php-l.sh

      - name: Error Check
        uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          author_name: "Failure : Error Check"
          fields: repo,message,commit,job
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: failure()

  lint:
    runs-on: ubuntu-latest
    name: Lint
    needs: [ codeCheck ]
    steps:
      - uses: actions/checkout@v1
        with:
          ref: 'develop-v4'

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4
          extensions: mbstring, intl
          ini-values: post_max_size=256M, short_open_tag=On
          coverage: xdebug

      - name: Check PHP Version
        run: php -v

      - name: Composer install
        run: composer install --optimize-autoloader --prefer-dist

      - name: Cache node modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: npm install
        run: npm install

      - name: lint
        run: npm run lint

      - name: Notify Lint
        uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          author_name: Failure phpcs
          fields: repo,message,commit,job
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: failure()

  test:
    runs-on: ubuntu-latest
    name: WordPress UnitTest
    needs: [ codeCheck, lint ]
    steps:
      - uses: actions/checkout@v3
        with:
          ref: 'develop-v4'

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - name: Cache node modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: npm install
        run: npm install

      - name: Build
        run: npm run build

      - name: Run test
        run: npm run test

      - name: Notify Unit Test
        uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          author_name: "Failure : WordPress ${{ matrix.wp }} in PHP ${{ matrix.php }} UnitTest"
          fields: repo,message,commit,job
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: failure()

  release:
    name: Release Develop Version
    needs: [ codeCheck, test, lint ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          ref: 'develop-v4'
      - name: Use Node.js
        uses: actions/setup-node@v3

      - name: Cache node modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: npm install
        run: npm install

      - name: Zip
        run: npm run zip

      - name: Create Upload Files
        run: npm run copy:develop

      - name: Deploy
        uses: SamKirkland/FTP-Deploy-Action@2.0.0
        env:
          FTP_SERVER: ${{ secrets.FTP_SERVER }}
          FTP_USERNAME: ${{ secrets.FTP_USERNAME }}
          FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}
          LOCAL_DIR: upload
          REMOTE_DIR: ${{ secrets.FTP_REMOTE_DIR_DEVELOP_V4 }}
          ARGS: --verbose --exclude=ystandard-info-beta.json

      - name: Notify Deployment Develop Vesion
        uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          author_name: "[yStandard]開発バージョンのアップデート準備OK！"
          fields: repo,message
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: success()
