name: Release v4
on:
  push:
    branches:
      - release-v4
jobs:
  Deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          ref: 'release-v4'
      - name: Use Node.js
        uses: actions/setup-node@v3

      - name: Cache node modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: npm install
        run: npm install

      - name: Zip
        run: npm run zip

      - name: Create Upload Files
        run: npm run copy:production

      - name: Deploy
        uses: SamKirkland/FTP-Deploy-Action@2.0.0
        env:
          FTP_SERVER: ${{ secrets.FTP_SERVER }}
          FTP_USERNAME: ${{ secrets.FTP_USERNAME }}
          FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}
          LOCAL_DIR: upload
          REMOTE_DIR: ${{ secrets.FTP_REMOTE_DIR_PRODUCTION_V4 }}
          ARGS: --verbose --exclude=ystandard-info-beta.json

      - name: Notify Deployment Release Version
        uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          author_name: "[yStandard]新バージョンのアップデート準備OK！"
          fields: repo,message
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: success()

      - name: Notify Deployment Release Version for Discord
        uses: sarisia/actions-status-discord@v1
        with:
          nodetail: true
          author_name: "[yStandard]新バージョンのアップデート準備OK！"
          color: 0x059669
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        if: success()
