.entry {
  @at-root {
    .entry__title {
      font-size: 1.6em;
      line-height: 1.5;
      margin: get_margin() 0 5px;
      padding: 0;
    }

    .entry__thumbnail {
      margin: 0;
      text-align: center;
    }

    .entry__meta {
      margin-top: get_margin();
      font-size: .8em;
    }

    .entry__date-icon {
      margin-right: 5px;
    }
    .entry__update {
      margin-left: .5em;
    }
    .entry__content {
      padding: 1.5em 0 1em;
      overflow: hidden;
    }
    .entry__footer > *,
    .entry__footer-section {
      margin-top: get_margin(2);
      &:first-child {
        margin-top: 0;
      }
    }
    .entry__footer-title {
      margin-top: 0;
      font-size: 1.2em;
    }

    @include media-breakpoint(tb) {
      .entry__footer > *,
      .entry__footer-section {
        margin-top: get_margin(4);
      }
    }

  }//@
}
