.entry__author {
  @at-root {
    & {
      margin-right:5px;
    }
    .entry__author-figure,
    .entry__author-name {
      display: inline-block;
      margin: 0;
      vertical-align: middle;
      line-height: 1;
    }
    .entry__author-figure {
      img,amp-img {
        width: 24px;
      }
    }

  }//@
}
