@use "is-not-stacked-on-mobile";

:where(.wp-block-columns) {
	--ystd--block-columns--gap: var(--ystd--block-gap);
	--ystd--block-columns--gap--row: var(--ystd--block-columns--gap);
	--ystd--block-columns--gap--column: var(--ystd--block-columns--gap);

	row-gap: var(--ystd--block-columns--gap--row);
	column-gap: var(--ystd--block-columns--gap--column);
}
